[2020-01-08 01:01] yegor256 opened #1 "skeleton"

[2020-01-08 01:06] yegor256 commented on #1
@rultor release, tag is `0.0.1`

[2020-01-08 01:07] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21147-571844807)

[2020-01-08 01:08] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21147-571844807) (spent 13s)

[code]

[2020-01-08 01:25] yegor256 commented on #1
@rultor release, tag is `0.0.1`

[2020-01-08 01:26] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21147-571849734)

[2020-01-08 01:42] rultor commented on #1
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21147-571849734) (took me 15min)

[2020-01-08 01:42] #1 closed

[2020-01-14 10:01] g4s8 opened #4 "Unable to build wp.tex"
When I run command `latexmk -pdf wp` as in the [README](https://github.com/yegor256/artipie/blob/master/white-paper/README.md) I get this error:

[2020-01-15 12:57] Sammers21 commented on #4
@g4s8, I think you should move this issue to the https://github.com/artipie/white-paper repository

[2020-01-15 13:00] #4 closed

[2020-01-15 14:23] g4s8 opened #7 "Rultor image doesn't support jdk-11"
Let's update rultor image

[2020-02-04 16:45] g4s8 opened #12 "Artipie MVP"
Create simple Artipie server. It should:
 - read configuration files and include adapters from these files
 - delegate HTTP requests to enabled adapters
 - implements `Front` interface from artipie/http module

[2020-02-04 16:46] g4s8 commented on #12
@0crat assign me

[2020-02-04 17:15] Sammers21 commented on #12
@g4s8, I would say the artipie server should:
* read an `artipie.yml` file
* read repository configuration files from asto

[2020-02-04 17:19] Sammers21 commented on #12
What is meant by this?

[2020-02-04 18:03] 0crat commented on #12
@g4s8 The job [#12](https://github.com/artipie/artipie/issues/12) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/e3fd1cef-cc72-4351-a4ab-0bf3e80aa625); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-02-04 18:39] 0crat commented on #12
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-04 19:06] 0crat commented on #12
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-11 08:36] g4s8 opened #14 "Artipie server settings"
Parse Artipie server settings from yaml file as in white-paper:
https://github.com/artipie/white-paper/releases/download/30d9ae/white-paper.pdf

It's stored as a file with format:
[code]

We need to construct `Storage` implementation from ASTO library using `storage` settings, where
`type` param may have value `fs` and `url` a link to root settings directory location.

I think it can be implemente

[2020-02-11 12:43] olegmoz opened #15 "Migrate pom.xml to com.artipie parent pom"

[2020-02-11 12:43] 0crat commented on #15
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-11 12:43] 0crat commented on #15
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-11 12:46] olegmoz opened #17 "Change copyright from Yegor Bugayenko to artipie.com"

[2020-02-11 12:47] 0crat commented on #17
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-11 12:47] 0crat commented on #17
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-12 07:01] olegmoz commented on #14
After discussion decided to change setting format:
[code]
see https://github.com/artipie/white-paper/pull/9

[2020-02-13 03:57] jeffzhu503 opened #22 "Data model for artipie"
Please create a data model (or link to an existing one) for the artipie project.  Something like this
Project: ID, name, namespace
ProjectVersion: ID, Version, repsitoryID, etc
Artifact: ID, namespace, etc,
Repository: .....
.....

[2020-02-13 03:57] 0crat commented on #22
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-13 03:57] 0crat commented on #22
@jeffzhu503[/z](https://www.0crat.com/u/jeffzhu503) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-13 04:01] jeffzhu503 opened #23 "Search module for artipie"
What is the plan how to implement the search module in the artipie engine?

[2020-02-13 04:01] 0crat commented on #23
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-13 04:01] 0crat commented on #23
@jeffzhu503[/z](https://www.0crat.com/u/jeffzhu503) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-13 04:01] jeffzhu503 opened #24 "Authentication methods for artipie"
We should provide opportunity to implement and use a custom auth method.

Which will be implemented in Artipie from the box:
- [x] - Users log into Artipie via user-name and password;
- [x] - GitHub tokens;
- [x] - Users to authenticate using [KeyCloack](https://www.keycloak.org/).
- [x] - Custom auth method (create according abstractions);

- ~authenticate using SAML SSO providers like ADFS, OneL

[2020-02-13 04:02] 0crat commented on #24
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-13 04:02] 0crat commented on #24
@jeffzhu503[/z](https://www.0crat.com/u/jeffzhu503) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-13 06:48] #17 closed

[2020-02-13 07:22] 0crat commented on #17
Job `gh:artipie/artipie#17` is not assigned, can't get performer

[2020-02-13 07:26] 0crat commented on #17
This job is not in scope

[2020-02-13 08:41] olegmoz opened #25 "Get rid of mapping() and string() methods in YamlSettings"
These methods were added because YAML library we use doesn't check for presence of value by key and just return `null`. We can change library, improve this library or think of some other solution maybe.

[2020-02-13 08:41] 0crat commented on #25
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-13 08:41] 0crat commented on #25
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-13 13:53] 0pdd opened #26 "Pie.java:45-50: Implement slice resolving strategy based..."
The puzzle `12-b6e20264` from #12 has to be resolved:

https://github.com/artipie/artipie/blob/db18891ef5922576892a07e3d45af8e82219fd9c/src/main/java/com/artipie/Pie.java#L45-L50

The puzzle was created by @g4s8 on 11-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the

[2020-02-13 13:53] 0pdd opened #27 "Pie.java:113-115: Move all Async* implementation to..."
The puzzle `12-c03f07e2` from #12 has to be resolved:

https://github.com/artipie/artipie/blob/db18891ef5922576892a07e3d45af8e82219fd9c/src/main/java/com/artipie/Pie.java#L113-L115

The puzzle was created by @g4s8 on 13-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and t

[2020-02-13 13:54] 0pdd commented on #12
@g4s8 2 puzzles [#26](https://github.com/artipie/artipie/issues/26), [#27](https://github.com/artipie/artipie/issues/27) are still not solved.

[2020-02-13 13:55] 0crat commented on #27
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-13 13:55] 0crat commented on #26
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-13 20:04] jeffzhu503 opened #28 "High Availability requirements"
What is our strategy for the high availability of Artipie?
For example, in Apache Archiva project, it supports two different installations
Option 1: master-slave-strategy (not really a cluster).  This option may not be good enough for us, as there will be downtime when upgrade happens.
Option 2: two Servers + httpd-balancer + shared file system. How can we keep the file system synced if necessary?

[2020-02-13 20:04] 0crat commented on #28
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-13 20:04] 0crat commented on #28
@jeffzhu503[/z](https://www.0crat.com/u/jeffzhu503) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-14 07:29] g4s8 commented on #28
@jeffzhu503 you are right, we are going to support multi instance cluster installation behind the load balancer by default. Also, it would be possible to start single ARtipie HTTP server. I'll add it to the readme.

[2020-02-14 18:33] jeffzhu503 commented on #28
Will all instances share the same file storage?  What about the server instances in different regions?

[2020-02-17 08:36] g4s8 commented on #28
@jeffzhu503 it's recommended to use cloud storage provider for multi-instance environment, e.g. S3 storage.

[2020-02-17 17:40] jeffzhu503 commented on #28
That is correct.  We need to clarify with our customer in HQ if on-prem installation in multiple regions shall be supported or not.  Also we need to make sure we also support cloud storage such as Ali Cloud and Huawei Cloud mainly used in China.

[2020-02-18 09:55] g4s8 commented on #28
@jeffzhu503 thanks! I've submitted new storage provider support ticket here: https://github.com/artipie/asto/issues/67

[2020-02-19 08:18] 0crat commented on #26
The job [#26](https://github.com/artipie/artipie/issues/26) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/e4f79ef1-ecff-4850-b106-df95c77f5e02); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the t

[2020-02-19 08:32] 0crat commented on #26
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-21 07:19] #26 closed

[2020-02-21 07:19] 0pdd commented on #26
The puzzle `12-b6e20264` has disappeared from the source code, that's why I closed this issue.

[2020-02-21 07:19] 0pdd commented on #12
@g4s8 the puzzle [#27](https://github.com/artipie/artipie/issues/27) is still not solved; solved: [#26](https://github.com/artipie/artipie/issues/26).

[2020-02-21 07:36] 0pdd opened #32 "VertxMain.java:38-40: Parse command line options instead..."
The puzzle `12-94a9871a` from #12 has to be resolved:

https://github.com/artipie/artipie/blob/06c63555f00cf66e662f4d38461585744f43cf8f/src/main/java/com/artipie/VertxMain.java#L38-L40

The puzzle was created by @g4s8 on 21-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed a

[2020-02-21 07:37] 0pdd commented on #12
@g4s8 2 puzzles [#27](https://github.com/artipie/artipie/issues/27), [#32](https://github.com/artipie/artipie/issues/32) are still not solved; solved: [#26](https://github.com/artipie/artipie/issues/26).

[2020-02-21 07:37] 0crat commented on #32
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-21 08:04] 0crat commented on #26
Job was finished in 47 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-02-21 08:34] 0crat commented on #26
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-21 10:02] g4s8 opened #33 "Files adapter doesn't work as expected"
It returns 500 error, let's investigate and fix it.

[2020-02-21 10:25] 0crat commented on #33
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-21 10:26] 0crat commented on #33
The job [#33](https://github.com/artipie/artipie/issues/33) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/165bd5d6-a2db-4d1f-93e1-b985a0376d05); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the t

[2020-02-21 10:32] 0crat commented on #33
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-21 10:46] 0crat commented on #33
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-26 14:48] g4s8 commented on #33
fixed in #34

[2020-02-26 14:48] #33 closed

[2020-02-26 17:01] 0crat commented on #33
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-03-03 20:20] amihaiemil opened #35 "Refactor class YamlSettings"
Inside class [YamlSettings](https://github.com/artipie/artipie/blob/554ae39602b5b0a60f6606cdc1e0760afba95a9d/src/main/java/com/artipie/YamlSettings.java#L38) there are the ``mapping()`` and ``string()`` methods which are basically checking for null values in the YamlMapping.

In the library ``eo-yaml`` there is the decorator [StrictYamlMapping](https://github.com/decorators-squad/eo-yaml/blob/67b8

[2020-03-03 20:20] 0crat commented on #35
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-06 10:06] 0crat commented on #35
The job [#35](https://github.com/artipie/artipie/issues/35) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/eaadd691-9a8c-4fb5-8c4b-2c9ffc232577); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2020-03-10 10:41] olegmoz opened #36 "Code style improvements"
Issue to accumulate code style improvements

[2020-03-10 10:41] 0crat commented on #36
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-10 11:55] g4s8 commented on #12
Done

[2020-03-10 11:55] #12 closed

[2020-03-10 12:36] 0crat commented on #12
Job `gh:artipie/artipie#12` is not assigned, can't get performer

[2020-03-10 12:51] 0crat commented on #32
The job [#32](https://github.com/artipie/artipie/issues/32) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/d72d6c65-6911-4638-a950-38ea7646b73c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-03-10 13:41] olegmoz opened #38 "Support S3 storage in Artipie settings"
Suggested format:
[code]
Only required parameter would be `bucket`, all others may be not specified.
* Default `uri` is amazon URI which is embedded in S3 client
* Default `region` could be taken from environment, see https://sdk.amazonaws.com/java/api/latest/software/amazon/awssdk/regions/providers/DefaultAwsRegionProviderChain.html
* Default credentials are anonymous

[2020-03-10 13:41] 0crat commented on #38
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-10 14:07] paulodamaso commented on #35
@amihaiemil Looks like `StrictYamlMapping` is not compatible with another `YamlMapping` interface: it expects an `com.amihaiemil.eoyaml.AbstractYamlMapping`, which is not returned by the currently used methods (`Yaml.createYamlInput(input).readYamlMapping()` and `YamlMapping.yamlMapping()`).

[2020-03-10 14:32] #15 closed

[2020-03-10 17:06] 0crat commented on #15
Job `gh:artipie/artipie#15` is not assigned, can't get performer

[2020-03-11 10:33] g4s8 commented on #38
@olegmoz can we also support `endpoint` parameter to use non-AWS S3 API, e.g. Digitalocean and others: https://www.digitalocean.com/community/questions/how-to-use-digitalocean-spaces-with-the-aws-s3-sdks

[2020-03-11 12:12] olegmoz commented on #38
@g4s8 sure we can! There is `uri` parameter for that in example. Forgot to mention it among non-necessary params later. Maybe it would be better to rename it to `endpoint` though, what do you think?

[2020-03-11 22:15] 0crat commented on #35
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-12 08:30] g4s8 commented on #38
@olegmoz yes, I think it's better to use `endpoint` param here, because it's something like standard name for S3 URI in AWS S3 API and documentations, e.g. `EndpointConfiguration` class can be used in Java SDK for URI configuration.

[2020-03-12 10:49] olegmoz commented on #38
@g4s8 agreed, changed the name in issue description

[2020-03-12 10:54] Sammers21 opened #40 "Artipie distribution"
It should be possible to install artipie on almost any platform and obtain as:

- [ ] a `.rpm`/`.deb`  package available for major Linux distributions via dnf/apt/yum package managers
- [ ]  a brew package for Mac OS X
- [x] a docker container (#41)
- [x] a fat`.jar` file

[2020-03-12 10:54] 0crat commented on #40
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-12 11:18] Sammers21 opened #41 "Artipie distributed in docker containers"
- [x] Create a docker file for artipie(#43)
- [x] Deploy a container to Docker Hub via Github Actions(#44)
- [x] Update readme in accordance with the change

[2020-03-12 11:18] 0crat commented on #41
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-12 11:40] Sammers21 opened #42 "Get rid of properties"
For now, properties are passed in the following way:
[code]
That is not gonna work in case is compiled as a native image. We should move to command line args

[2020-03-12 11:40] 0crat commented on #42
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-12 12:12] g4s8 commented on #41
@Sammers21 let's discuss JDK version and base image version before start

[2020-03-12 12:13] g4s8 commented on #42
@Sammers21 it's a duplicate of #32

[2020-03-12 12:13] #42 closed

[2020-03-12 15:17] 0crat commented on #42
Job `gh:artipie/artipie#42` is not assigned, can't get performer

[2020-03-12 17:42] paulodamaso commented on #35
@amihaiemil Merged, please close

[2020-03-12 17:46] #35 closed

[2020-03-13 09:10] Sammers21 commented on #41
@g4s8, i would suggest to use jre 13 image, based on alpine.

[2020-03-15 23:01] 0crat commented on #32
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-16 14:13] #32 closed

[2020-03-16 14:13] 0pdd commented on #32
The puzzle `12-94a9871a` has disappeared from the source code, that's why I closed this issue.

[2020-03-16 14:13] 0pdd commented on #12
@g4s8 the puzzle [#27](https://github.com/artipie/artipie/issues/27) is still not solved; solved: [#26](https://github.com/artipie/artipie/issues/26), [#32](https://github.com/artipie/artipie/issues/32).

[2020-03-16 19:59] 0crat commented on #32
Job [#32](https://github.com/artipie/artipie/issues/32) is not in the agenda of @sammers21[/z](https://www.0crat.com/u/sammers21), can't retrieve data and time of add

[2020-03-18 14:05] 0pdd opened #46 "Dockerfile:7-9: Propagate git tag I.e. if docker image is..."
The puzzle `40-06b6b8fc` from #40 has to be resolved:

https://github.com/artipie/artipie/blob/d20571ed1cc672a11b8c7a31c9deccb3e9118c7c/Dockerfile#L7-L9

The puzzle was created by @Sammers21 on 18-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle i

[2020-03-18 14:05] 0pdd commented on #40
@Sammers21 the puzzle [#46](https://github.com/artipie/artipie/issues/46) is still not solved.

[2020-03-18 14:05] 0crat commented on #46
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-22 08:05] 0crat commented on #46
The job [#46](https://github.com/artipie/artipie/issues/46) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/5961ce90-8b73-4ca9-b440-ab9a5a414e5e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2020-03-23 04:31] paulodamaso commented on #46
@g4s8 I don't understand the puzzle. How am I supposed to propagate the version to the jar file?

[2020-03-23 06:53] g4s8 commented on #46
@paulodamaso please see this comment: https://github.com/artipie/artipie/pull/43#discussion_r393741730

[2020-03-23 07:45] g4s8 opened #47 "Add NPM adapter"
Support NPM adapter as Artipie module

[2020-03-23 07:48] #27 closed

[2020-03-23 07:48] 0pdd commented on #27
The puzzle `12-c03f07e2` has disappeared from the source code, that's why I closed this issue.

[2020-03-23 07:48] 0pdd commented on #12
@g4s8 all 3 puzzles are solved here: [#26](https://github.com/artipie/artipie/issues/26), [#27](https://github.com/artipie/artipie/issues/27), [#32](https://github.com/artipie/artipie/issues/32).

[2020-03-23 07:48] g4s8 commented on #47
@rultor release, tag=`0.1`

[2020-03-23 07:49] rultor commented on #47
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21580-602436732)

[2020-03-23 07:52] rultor commented on #47
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21580-602436732) (spent 2min)

[code]

[2020-03-23 08:24] Guseyn commented on #28
@jeffzhu503 do we need Google Cloud as well, maybe?

[2020-03-23 08:25] Guseyn commented on #25
@olegmoz close the ticket, please

[2020-03-23 08:30] #25 closed

[2020-03-23 08:31] g4s8 opened #49 "Unable to build docker image"
When trying to build Docker image with `docker build .` I'm getting an error:
[code]

[2020-03-23 09:25] 0crat commented on #27
Job `gh:artipie/artipie#27` is not assigned, can't get performer

[2020-03-23 11:04] 0crat commented on #25
Job `gh:artipie/artipie#25` is not assigned, can't get performer

[2020-03-23 11:10] 0crat commented on #27
Job [#27](https://github.com/artipie/artipie/issues/27) is closed, can't start order

[2020-03-23 11:27] 0crat commented on #47
The job [#47](https://github.com/artipie/artipie/issues/47) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/f295bbd1-adab-4d7a-a6a7-c99c0418a7fb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the t

[2020-03-23 11:31] 0crat commented on #49
The job [#49](https://github.com/artipie/artipie/issues/49) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/caa39ec2-6715-45d2-8287-d3b4ebf95b8e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-03-23 15:18] #49 closed

[2020-03-23 15:52] 0crat commented on #49
Job was finished in 5 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-03-23 16:45] jeffzhu503 commented on #28
You can always start with a couple of Cloud Providers, as long as your architecture is expandable.

________________________________
From: Guseyn Ismayylov <notifications@github.com>
Sent: Monday, March 23, 2020 1:24 AM
To: artipie/artipie <artipie@noreply.github.com>
Cc: Jeff Zhu <jeff.zhu@futurewei.com>; Mention <mention@noreply.github.com>
Subject: Re: [artipie/artipie] High Availability requir

[2020-03-24 07:42] Guseyn commented on #28
@jeffzhu503 okay thanks

[2020-03-24 12:48] Sammers21 opened #54 "Add Gem adapter"
Support for gem packages in artipie

[2020-03-24 12:49] 0crat commented on #54
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-24 13:35] #54 closed

[2020-03-24 13:53] 0crat commented on #54
Job `gh:artipie/artipie#54` is not assigned, can't get performer

[2020-03-25 07:41] g4s8 opened #56 "Failed to run docker "could not load main class""
I tried to start docker image from latest master with commands:
[code]
And got an error:
[code]
Docker image should find main class correctly.

[2020-03-25 08:00] 0crat commented on #56
The job [#56](https://github.com/artipie/artipie/issues/56) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/444a8b5d-adc9-4042-a136-b6a015227c3d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-03-27 05:44] 0crat commented on #46
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-27 07:13] g4s8 commented on #46
@0crat waiting for #52 and #53 to be fixed before this issue

[2020-03-27 07:44] g4s8 opened #58 "Include missed adapters"
Let's add Docker and Nuget adapters to Artipie, since we already have `Slice` implementation for them.

[2020-03-27 07:46] 0crat commented on #58
The job [#58](https://github.com/artipie/artipie/issues/58) assigned to @olegmoz[/z](https://www.0crat.com/u/olegmoz), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/3f0f7519-5059-4fb2-8d32-c97371a9880b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-03-30 08:44] 0crat commented on #56
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-30 11:11] olegmoz commented on #58
@g4s8 could you please release composer adapter? So I may support for it.
NuGet adapter is still not ready, it should be released & supported sometime later.

[2020-03-30 13:20] victornoel opened #59 "artipie module still depends on old ppom"
I suppose this is a mistake, I noticed all other projects are depending on ppom 0.3 but artipie module depends on ppom 0.2.1 and my IDE sets it up with Java 11 instead of Java 8.

[2020-03-30 13:20] 0crat commented on #59
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-30 13:42] g4s8 commented on #59
@victornoel thanks, should be fixed now:

[2020-03-30 13:55] victornoel commented on #59
@g4s8 I'm confused, I thought artipie is meant to be built with Java 8, not Java 11.

My initial problem was that in my IDE, artipie module uses Java 11 while for example rpm-adapter uses Java 8.

I would have expected now that they would use the same version, but in your commit you confirmed the use of Java 11.

Am I missing something?

[2020-03-30 15:38] g4s8 commented on #59
@victornoel add `*-adapter` modules can be used in two ways:
 - to generate metadata for existing binary artifacts (e.g. `rpm-adapter` and `npm-adapter` are used in such way), e.g. `new Rpm(path).update("package.rpm")` will update metadata for files. So we need to use lower JDK version to support more users
 - provides HTTP API for repository, it can be used  by artipie/artipie server iself

The a

[2020-03-30 15:40] victornoel commented on #59
@g4s8 perfect, this is clear now, thank you!

[2020-03-30 15:40] #59 closed

[2020-03-30 16:02] 0crat commented on #59
Job `gh:artipie/artipie#59` is not assigned, can't get performer

[2020-04-01 08:45] 0crat commented on #58
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-02 14:29] g4s8 commented on #49
@rultor release, tag=`0.1`

[2020-04-02 14:32] rultor commented on #49
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21683-607881217)

[2020-04-02 14:35] rultor commented on #49
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21683-607881217) (spent 2min)

[code]

[2020-04-02 14:57] g4s8 opened #61 "Unable to start docker image"
When starting new docker image I'm getting an error:
[code]

[2020-04-02 14:59] 0crat commented on #61
The job [#61](https://github.com/artipie/artipie/issues/61) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/93a1bb3d-7b52-4360-a944-1a42bec34eaa); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the t

[2020-04-02 15:19] g4s8 commented on #61
Fixed by https://github.com/g4s8/artipie/commit/1c46cc19a9099f0eac34bd4a13dfa1379b10f3b1

[2020-04-02 15:19] #61 closed

[2020-04-02 16:07] 0crat commented on #61
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-04-03 10:20] g4s8 commented on #58
@olegmoz fixed by #58

[2020-04-03 10:20] #58 closed

[2020-04-03 10:21] g4s8 commented on #38
@olegmoz can we close it? It seems to be fixed

[2020-04-03 10:24] olegmoz commented on #38
@g4s8 actually I noticed just recently that `RepoConfig` right now is not using `YamlSettings` class and creates storage by itself. So maybe actually using `YamlSettings` from `RepoConfig` might be in scope of this issue.

[2020-04-03 10:26] olegmoz commented on #38
@g4s8 another thing - all the parameters are mandatory now, but can be made optional. Not sure that it is really needed though, what do you think?

[2020-04-03 10:31] g4s8 commented on #38
@olegmoz I think if it's possible to connect to S3 using repo configuration, then we can close this ticket. And we will fix other issues later, if find any bug.

[2020-04-03 10:54] 0crat commented on #58
Job [#58](https://github.com/artipie/artipie/issues/58) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-04-03 10:55] 0crat commented on #58
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olegmoz[/z](https://www.0crat.com/u/olegmoz), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-03 10:56] 0crat commented on #58
Job [#58](https://github.com/artipie/artipie/issues/58) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-04-03 11:00] sereshqua commented on #58
@0crat quality good

[2020-04-04 07:56] 0crat commented on #56
The user @sammers21[/z](https://www.0crat.com/u/sammers21) resigned from [#56](https://github.com/artipie/artipie/issues/56), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-04-04 08:05] 0crat commented on #56
The job [#56](https://github.com/artipie/artipie/issues/56) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/c0b37114-f5bd-4d6f-a6d8-0b1b33975e64); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2020-04-04 08:45] victornoel opened #63 "Dockerfile is extremely long to build"
I noticed the Dockerfile is extremely long to build, it looks like it is downloading the whole internet even though it's not needed when one just want to build the package.

I propose to:
- not call `dependency:go-offline`
  - it's useless since it is used for building the package 1 second later...
  - when calling `mvn package`, it will download only the needed dependencies.
- skip tests, qulice

[2020-04-04 08:45] 0crat commented on #63
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-04 08:46] victornoel commented on #56
@g4s8 I tried with latest master and it works. There are other errors though about the storage not being configured.

[2020-04-04 08:46] victornoel commented on #56
@0crat wait for submitter answer

[2020-04-04 09:46] victornoel commented on #56
@g4s8 I can fix it if it enters the scope of this issue

[2020-04-04 09:50] victornoel opened #64 "README is outdated"
The README seems outdated:
- it's referring to old ways of configuring artipe using system properties in the "How to start" section
  - instead of using CLI options
- it is missing instructions to build the docker image
- it contains duplicate information between "Setup the server" and "Configuration" sections

[2020-04-04 09:50] 0crat commented on #64
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-06 10:38] g4s8 commented on #56
@victornoel I suppose it's fixed. Please report another bugs with steps to reproduce as new tickets

[2020-04-06 10:38] #56 closed

[2020-04-06 10:38] g4s8 commented on #56
@0crat refuse

[2020-04-06 11:15] victornoel opened #65 "Unable to start docker image"
I tried to start docker image from latest master with commands:

[code]

And got an error:
[code]

[2020-04-06 16:02] 0crat commented on #64
The job [#64](https://github.com/artipie/artipie/issues/64) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/7a6ba9e7-6e91-43c3-9d04-43158bf9a75b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the t

[2020-04-06 16:03] 0crat commented on #56
Job `gh:artipie/artipie#56` is not assigned, can't get performer

[2020-04-06 16:08] 0crat commented on #56
@g4s8 The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#56](https://github.com/artipie/artipie/issues/56), please stop working. Reason for job resignation: Order was cancelled

[2020-04-07 09:00] g4s8 opened #66 "Benchmarks"
Create benchmark tests and choose the environment. Investigate what benchmarks we may use, how to implement it and where to test.

[2020-04-07 09:12] #46 closed

[2020-04-07 09:12] 0pdd commented on #46
The puzzle `40-06b6b8fc` has disappeared from the source code, that's why I closed this issue.

[2020-04-07 09:13] 0pdd commented on #40
@Sammers21 the only puzzle [#46](https://github.com/artipie/artipie/issues/46) is solved here.

[2020-04-07 09:30] 0crat commented on #46
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-07 09:34] sereshqua commented on #46
@0crat quality good

[2020-04-09 14:47] g4s8 opened #68 "Extension documentation"
Add documentation how to extend Artipie and create custom module or storage

[2020-04-09 14:53] 0crat commented on #68
The job [#68](https://github.com/artipie/artipie/issues/68) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/16bfb1fd-d8ca-428a-b620-2a02415e282b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the t

[2020-04-09 15:29] #47 closed

[2020-04-09 15:29] g4s8 commented on #41
@Sammers21 all fixed

[2020-04-09 15:29] #41 closed

[2020-04-09 15:32] g4s8 commented on #66
Create repository: github.com/artipie/benchmarks/

[2020-04-09 15:32] #66 closed

[2020-04-09 15:36] g4s8 commented on #64
@victornoel please check https://github.com/artipie/artipie/commit/ed83b89f7c3772655d8ee5edfe16f7270e7d4366
it should be fixed now

[2020-04-09 15:36] g4s8 commented on #64
@0crat assign me

[2020-04-09 15:53] 0crat commented on #66
Job `gh:artipie/artipie#66` is not assigned, can't get performer

[2020-04-09 15:54] 0crat commented on #41
Job `gh:artipie/artipie#41` is not assigned, can't get performer

[2020-04-10 11:42] g4s8 opened #69 "Authorization implementations"
Create `Permissions` (from `artipie/http` module) implementation based on repository yaml configuration files. Permissions structure includes list of users and list of permissions for each user.

We need to support wildcard `*` permissions and users. Permissions for `*` user means that any user has such permissions, `*` permission for user means that the user is allowed to do everything.

Example:

[2020-04-10 11:54] 0crat commented on #69
The job [#69](https://github.com/artipie/artipie/issues/69) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/5597e435-063b-47d1-a6d7-4fa104abfcad); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2020-04-10 14:20] victornoel commented on #64
@0crat status

[2020-04-10 14:23] 0crat commented on #64
@victornoel This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#64](https://github.com/artipie/artipie/issues/64) is [in scope](http://www.zerocracy.com/policy.html#14) for 4days
  * The role is `DEV`
  * The job is assigned to @g4s8[/z](https://www.0crat.com/u/g4s8) for [4days](http://www.zerocracy.com/policy.html#8)
  * There is n

[2020-04-10 14:25] victornoel commented on #64
@g4s8 thx

[2020-04-10 14:25] #64 closed

[2020-04-14 12:15] 0pdd opened #71 "RpPermissions.java:34-37: Implement this interface to..."
The puzzle `69-a0681291` from #69 has to be resolved:

https://github.com/artipie/artipie/blob/dad7bbfb8729068a8ae6b8f3add604b6208ad2ee/src/main/java/com/artipie/RpPermissions.java#L34-L37

The puzzle was created by olenagerasimova on 13-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the prob

[2020-04-14 12:15] 0pdd commented on #69
@g4s8 the puzzle [#71](https://github.com/artipie/artipie/issues/71) is still not solved.

[2020-04-14 12:16] 0crat commented on #71
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-14 13:17] olenagerasimova commented on #69
@g4s8 could you please close this issue and assign me #71?

[2020-04-14 13:32] g4s8 commented on #69
@olenagerasimova done

[2020-04-14 13:32] #69 closed

[2020-04-14 13:33] 0crat commented on #71
The job [#71](https://github.com/artipie/artipie/issues/71) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/ba02a307-bf14-4279-b1a9-8b834a2a1121); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2020-04-14 13:52] 0crat commented on #69
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-14 14:09] sereshqua commented on #69
@0crat quality good

[2020-04-15 11:52] olenagerasimova commented on #71
@g4s8 don't toy mind if I change repository yaml configuration structure a little? Embedded sequences for user's permissions do have a lot of sense in our case, so I'd suggest to use mapping and properly escape asterisk:
[code]

[2020-04-15 11:56] g4s8 commented on #71
@olenagerasimova yes, sounds good

[2020-04-16 15:25] g4s8 opened #74 "No error message if repository file was not found"
Artipie just returns 500 error without any message if repository file was not found or directory doesn't exist. Let's return 404 message with text that `repository %s was not found`

[2020-04-16 16:04] brastak opened #75 "Docker image should use volume for store config file"
Docker image should provide a way for config file to be persistent. Usually it is achieved with copying pre-defined config to the volume path on the first run

[2020-04-16 16:05] 0crat commented on #75
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-16 16:38] g4s8 opened #76 "RPM repository"
Add RPM repository HTTP API.

[2020-04-16 16:55] 0crat commented on #76
The job [#76](https://github.com/artipie/artipie/issues/76) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/a1b68a52-471a-4c27-9d55-f1f25365c840); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the t

[2020-04-16 17:16] g4s8 commented on #65
@victornoel it seems this issue was fixed already (documentation updated)

[2020-04-16 17:35] victornoel commented on #65
@g4s8 indeed I tried and it is now fixed!

[2020-04-16 17:35] #65 closed

[2020-04-16 17:56] 0crat commented on #65
Job `gh:artipie/artipie#65` is not assigned, can't get performer

[2020-04-17 08:37] #71 closed

[2020-04-17 08:37] 0pdd commented on #71
The puzzle `69-a0681291` has disappeared from the source code, that's why I closed this issue.

[2020-04-17 08:37] 0pdd commented on #69
@g4s8 the only puzzle [#71](https://github.com/artipie/artipie/issues/71) is solved here.

[2020-04-17 08:42] #75 closed

[2020-04-17 08:43] brastak commented on #75
non-relevant, global repo config can be stored inside container

[2020-04-17 11:07] 0crat commented on #75
Job `gh:artipie/artipie#75` is not assigned, can't get performer

[2020-04-17 11:23] 0crat commented on #71
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-17 11:32] brastak opened #78 "Design and describe configuration system"
Now we have approach then requires multiple config files for every repository. I don't think that this approach is manageable. What's wrong with the idea - every repository defines everything: at this moment at least storage and users. But in the most cases these things should be globally defined. If we have 20 managed repositories, almost all of them will use the same storage (some part of the co

[2020-04-17 11:33] 0crat commented on #78
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-17 11:43] g4s8 commented on #78
@brastak it makes a sense. I think it may be different for users and storages, so I'd discuss only storages in this ticket. What do you think if we reserve some configuration files (e.g. with undercore) for configuring some aliases? E.g. we may have a file `_storages.yaml`:
[code]

and reference these aliases from repository configs by name:
[code]

[2020-04-17 12:17] brastak commented on #78
@g4s8 Yep, looks good. What about idea to completely avoid naming dependencies (now we have it)?
We have config directory and any file in it can contains the definition of object we needed. Configuration processed on depand. Initially no config is loaded. We have first HTTP request. We scan all files, find all repo objects, find the one with matched path. Analyze the references for storage and loa

[2020-04-17 12:29] sereshqua commented on #71
@0crat quality good

[2020-04-17 13:42] brastak opened #79 "Add the possibility for repositories to have own config properties"
Extend RepoConfig with method that will return repo-specifig configuration part.
Proposed naming: method custom() that returns YAML node custom. Example:

[code]

[2020-04-17 13:43] 0crat commented on #79
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-17 16:11] sereshqua commented on #71
@0crat quality good

[2020-04-17 17:28] 0crat commented on #71
@sereshqua There is no quality review for [#71](https://github.com/artipie/artipie/issues/71), no performer

[2020-04-17 18:02] g4s8 opened #81 "Vertx context warning on each request"
Artipie prints this warning on each incoming HTTP request:
[code]
It seems we're creating new Vertx instance for storage on each request.

[2020-04-17 18:23] 0crat commented on #81
The job [#81](https://github.com/artipie/artipie/issues/81) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/b7a6dc0e-e11d-428b-a6e7-ccb5e93bda0f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-04-17 21:17] Sammers21 commented on #81
@g4s8, can you provide steps to reproduce it?

[2020-04-19 16:51] HDouss opened #82 "RepoConfig path is not clear or redundant"
RepoConfig class has a `path` method. The implementation reads the yaml setting repo.path in the repo file setting.
First, it is not documented at all that the repo file settings could have an entry like repo -> path.
Second, I am not sure if that is redundant with repo -> storage -> path, in which case, the method should just disappear.
Finally, the only usage of this method is when building PhpC

[2020-04-19 16:51] 0crat commented on #82
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-19 17:00] HDouss opened #83 "Incorrect and confusing indentation in the documentation"
The example given in the documentation of the repo settings for the NPM example gives a confusing permissions example. This is more important as it is the only permissions example in the documentation.
`admin` and the other usernames does not have the same indentation and its child element is 4 spaces away.
I expect the other usernames to be in the same indentation level as `admin` and that every

[2020-04-19 17:00] 0crat commented on #83
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-20 06:22] g4s8 commented on #81
@Sammers21 steps to reproduce:
 - start Docker image with Artipie and any configured repository (e.g. files)
 - send multiple requests to Artipie (doesn't matter GET or PUT)

The warning will be logged on each request.

[2020-04-20 06:42] Sammers21 commented on #81
@g4s8, Can you provide particular steps(a bash script which starts artipie as a docker container and sends a request)? I'm not able to reproduce it just from your words:

![image](https://user-images.githubusercontent.com/16746106/79721526-29e4b000-82eb-11ea-944c-aa46e7850840.png)

[2020-04-20 06:48] g4s8 commented on #81
@Sammers21
 1. pull latest commit from master branch of `artipie/artipie` using `git pull` command
 2. build docker image with `docker build -t artipie:local .`
 3. create configuration file and repository directory:
     config file `/tmp/artipie/file.yaml`:
[code]
and directory: `mkdir -pv /tmp/artipie/file`
  4. run docker image: `docker run -v /tmp/artipie:/var/artipie -p80:80 artipie:local`

[2020-04-20 06:53] Sammers21 opened #84 "Simplified configuration"
The minimum artipie configuration, for now, requires 2 files. Which makes it a little painful for a newcomer to get started with the project.

I would propose a single file configuration option:

[code]

This option will definitely make Artipie more user-friendly.

[2020-04-20 07:13] Sammers21 commented on #81
@g4s8, I did as you say. Still can't reproduce:
![image](https://user-images.githubusercontent.com/16746106/79724056-906bcd00-82ef-11ea-8749-2e49896e6b07.png)

[2020-04-20 07:45] g4s8 commented on #81
@Sammers21 I mistyped the path, config file should be located at `/tmp/artipie/repo/file.yaml`

[2020-04-20 09:29] Sammers21 commented on #81
@g4s8, I have successfully reproduced the problem.

[2020-04-20 11:12] #81 closed

[2020-04-21 09:45] HDouss commented on #82
@g4s8 ping

[2020-04-21 09:45] HDouss commented on #83
@g4s8 ping

[2020-04-21 11:28] 0crat commented on #74
The job [#74](https://github.com/artipie/artipie/issues/74) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/5c468195-f4f2-43b1-b221-2ee2a2525365); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if t

[2020-04-21 13:41] HDouss commented on #74
@g4s8 I am not sure what is asked here. Here's what I tried: starting artipie with a valid config file, the config file has a storage with an invalid folder. When I try to get http://localhost/maven/ I got: java.util.concurrent.CompletionException: java.lang.RuntimeException: java.nio.file.NoSuchFileException: repos\maven.yaml (along with a stacktrace). Isn't that enough? Do you mind explaining a

[2020-04-21 14:55] HDouss opened #87 "Unnecessary operations on each request"
On every request received by artipie (when using the default Pie slice), we do the following operations:
* retrieve storage from settings, which reads the yaml content (does not read the file again, but the file content as read at the first time) for "meta -> storage" entry.
* get the value of this storage scalar.

This is corresponding to that code:
[code]

These two operations are redundant beca

[2020-04-21 14:55] 0crat commented on #87
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-22 09:10] artemlazarev opened #88 "transfer the example config _config.yml to the example directory"
transfer the example config _config.yml to the example directory

[2020-04-22 09:11] artemlazarev opened #89 "create example directory with exaples, simple config etc"
create  example directory with exaples, simple config etc

[2020-04-22 09:30] HDouss commented on #74
@g4s8 ping

[2020-04-22 09:38] g4s8 commented on #74
@HDouss sorry, I was very clear: we need to return 404 error if user is trying to use not existing repository, not 500 error. E.g. I started Docker image with empty config directory, and sent a request to `localhost/repo` and got 500 error

[2020-04-22 09:38] 0pdd opened #90 "Pie.java:111-113: Extract the logic in switch into..."
The puzzle `76-fe362791` from #76 has to be resolved:

https://github.com/artipie/artipie/blob/95e04444ef222129f0e3dfdde67fb65ee884bcf6/src/main/java/com/artipie/Pie.java#L111-L113

The puzzle was created by @g4s8 on 22-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and t

[2020-04-22 09:39] 0pdd commented on #76
@g4s8 the puzzle [#90](https://github.com/artipie/artipie/issues/90) is still not solved.

[2020-04-22 10:03] #79 closed

[2020-04-22 10:29] HDouss commented on #74
@g4s8 That's not what I understood from description. So what is asked is to return 404 instead of 500 with a custom message, right?

[2020-04-22 11:01] artemlazarev opened #91 "add container to docker registry with "latest" tag"
In the documentation we have description with container "latest". but at the dockerhub that container are absent.

[2020-04-22 11:10] g4s8 commented on #74
@HDouss yes, I'll update description

[2020-04-22 11:55] g4s8 commented on #91
@artemlazarev right, let's tag the same image with latest as well as with release tag

[2020-04-22 12:00] g4s8 commented on #87
@HDouss actually we want to support configuration changes, e.g. if you add new repository config, the server should handle this repository on next request. But it would be a good idea to cache configuration for some time, e.g. 5 minutes

[2020-04-22 12:04] HDouss commented on #87
@g4s8 Even if we want that, there are redundant operations (even if they are small), retrieving storage from the settings reparses the yaml stored content.

[2020-04-22 12:06] g4s8 commented on #89
@artemlazarev good idea, right now these repository types are working: `file`, `npm` and `rpm`. Also, I'd remove examples from README.md and move it to `examples/` directory, maybe adding some details to `examples/README.md`

[2020-04-22 13:09] g4s8 commented on #87
@HDouss but it may be changed, what if you decide to move repository storage from local file system to S3 storage? Then config will be updated and should be parsed again

[2020-04-22 13:27] HDouss commented on #87
@g4s8 these operations I am talking about are not about a single repository config but about artipie config, the one with meta. These are not hot-changeable because the file content is stored in `YamlSettings` as a string, but the parsing happens in every request (see `YamlSettings.storage` method)

[2020-04-22 13:40] HDouss commented on #74
@g4s8 Thanks. Please see PR #92 . This is the most elegant way I found without messing with Slices in subsequent projects.

[2020-04-22 18:51] 0crat commented on #81
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-23 09:19] g4s8 commented on #87
@HDouss got it, then it's a valid improvement

[2020-04-23 09:21] g4s8 commented on #83
@HDouss thanks, fixed: https://github.com/artipie/artipie/commit/c4c3cd2a258146f0ae149b69930c3dd794945613

[2020-04-23 09:21] #83 closed

[2020-04-23 09:35] HDouss commented on #83
@g4s8 we don't have rewards for reporting bugs in this project?

[2020-04-23 09:42] g4s8 commented on #83
@HDouss this one was too small, such bugs usually are not going to scope, I'd recommend grouping small bugs about documentation, e.g. "These parts of README could be improved: 1) 2) 3)". Please see https://www.zerocracy.com/policy.html#29

[2020-04-23 09:55] g4s8 commented on #81
@0crat out

[2020-04-23 12:24] HDouss commented on #83
@g4s8 Ok. Thanks.

[2020-04-23 12:27] 0crat commented on #81
@g4s8 Job [#81](https://github.com/artipie/artipie/issues/81) is not in the agenda of @sammers21[/z](https://www.0crat.com/u/sammers21), can't set title

[2020-04-23 12:54] g4s8 commented on #82
@HDouss I think `path` for `PhpComposer` should be moved to `settings` introduced in https://github.com/artipie/artipie/pull/80
`storage` **may** have a path in case if it's file system storage. In this case path means the location of directory in file system

[2020-04-23 13:02] g4s8 commented on #78
@brastak we need to support configuration updates. Now it's easy to find repository configuration by its name, but if we load all configs on first request, then it'll be hard to reload and fast find correct configuration on demand

[2020-04-23 13:10] 0crat commented on #83
Job `gh:artipie/artipie#83` is not assigned, can't get performer

[2020-04-23 13:54] 0crat commented on #81
@g4s8 Job [#81](https://github.com/artipie/artipie/issues/81) is not in the agenda of @sammers21[/z](https://www.0crat.com/u/sammers21), can't set title

[2020-04-23 13:55] 0crat commented on #81
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @sammers21[/z](https://www.0crat.com/u/sammers21), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-23 13:56] sereshqua commented on #81
@0crat quality good

[2020-04-23 14:02] brastak commented on #78
@g4s8 What about case when we want to change repository path? We rename repo config file, but how artipie will know that old name is already invalid?
Config-on-demand approach could be implemented fast-enough. We can use the mix of two approaches:
- logback allows to setup configuration reload handler (it just checks every X second that it uses actual config). We can do the same for both config fi

[2020-04-23 14:17] 0crat commented on #81
@g4s8 There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.11](https://github.com/zerocracy/farm): CID: [d9080469-f023-485e-8545-02fc68ccdadf](https://www.0crat.com/footprint/CT2E6TK9B/d9080469-f023-485e-8545-02fc68ccdadf), Type: "Job removed from WBS"

[2020-04-23 14:44] olegmoz commented on #82
@HDouss @g4s8  `path` is base HTTP path for given `Pie`. Right now we have only one `Pie` per host, but I believe that our intent is to have multiple repositories on single host. `path` setting is not related in any way to storage configuration, it's about HTTP path to repository.

[2020-04-23 14:48] 0crat commented on #82
The job [#82](https://github.com/artipie/artipie/issues/82) assigned to @olegmoz[/z](https://www.0crat.com/u/olegmoz), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/9b1138e2-46b0-46ff-8460-a0fcaf4faff4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-04-23 15:43] g4s8 commented on #78
@brastak

I think it's already implemented: if you rename the file, Artipie won't find it and should return 404 error on next call to this repo.

I'd focus on repositories implementations for now, when we try these configs in use, we'll face some issues and can change configurations management. Right now it's just a minimum required functionality for working with repos.

[2020-04-23 16:45] brastak commented on #78
@g4s8 I missed that we are creating new repository slice on each request. It looks like hmm.. some inefficient. Right now we don't need ti handle repo state, by it seems like that it will be changed soon. At least, when we will start to use remote API actively (both cloud storage and remote repo for proxy. Connection establishing is expensive)

[2020-04-23 18:55] g4s8 opened #93 "NPM is not working for publish"
Fix NPM publish

[2020-04-23 18:56] g4s8 opened #94 "Integrate Maven repository"
Add maven repo

[2020-04-24 00:58] artemlazarev opened #96 "in the "maven.yml", running maven on compilation target "ubuntu-latest" is unnecessary"
in the "maven.yml:9" running maven on compilation target "ubuntu-latest" is unnecessary.
Because we  build docker image at the "ubuntu-latest"  host.

[2020-04-24 00:58] 0crat commented on #96
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-24 07:05] #96 closed

[2020-04-24 07:09] artemlazarev opened #97 "add additional java version to maven build process"
At this moment we have only java 11 in the maven build action. We think it will be good to add java 13.

[2020-04-24 07:09] 0crat commented on #97
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-24 07:13] 0crat commented on #97
The job [#97](https://github.com/artipie/artipie/issues/97) assigned to @artemlazarev[/z](https://www.0crat.com/u/artemlazarev), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/c36191ea-23b6-4f74-a252-8f8f3643a13a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2020-04-24 07:22] 0crat commented on #96
Job `gh:artipie/artipie#96` is not assigned, can't get performer

[2020-04-24 07:56] g4s8 opened #98 "Go proxy"
Add Go-proxy repository type to Artipie server.
Subtasks:
 - https://github.com/artipie/go-adapter/issues/31
 - https://github.com/artipie/go-adapter/issues/32
 - https://github.com/artipie/go-adapter/issues/33

[2020-04-24 07:57] 0crat commented on #98
The job [#98](https://github.com/artipie/artipie/issues/98) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/a01540a6-4432-43bb-8dad-4fb903c59472); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/po

[2020-04-24 14:32] g4s8 opened #99 "Some S3 storage settings should be optional"
S3 storage configuration requires these settings:
[code]
Default AWS CLI tool requires only access key and secret key (except bucket name), all other parameters should be optional. So this configuration can be working without additional parameters:
[code]
[code]

[2020-04-24 14:33] 0crat commented on #99
The job [#99](https://github.com/artipie/artipie/issues/99) assigned to @olegmoz[/z](https://www.0crat.com/u/olegmoz), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/a3dee710-f7c1-4541-90bf-9b3b36688b4e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-04-25 09:53] 0crat commented on #90
The job [#90](https://github.com/artipie/artipie/issues/90) assigned to @hdouss[/z](https://www.0crat.com/u/hdouss), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/2ad88dba-5acf-459f-a316-02435cb3b637); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if t

[2020-04-26 05:44] 0crat commented on #87
The job [#87](https://github.com/artipie/artipie/issues/87) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/496e296f-dc61-4c08-8fd7-e6cd1e9da4d2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2020-04-26 11:44] 0crat commented on #74
@hdouss[/z](https://www.0crat.com/u/hdouss) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-26 11:57] HDouss commented on #74
@0crat wait

[2020-04-27 08:53] olegmoz opened #102 "Integrate NuGet repository"
Add NuGet repository support

[2020-04-27 09:54] 0crat commented on #102
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-27 11:37] #99 closed

[2020-04-27 12:21] g4s8 opened #104 "Integrate NPM-proxy"
Add NPM-proxy repository to Artipie, add configuration settings for this kind of repository.

[2020-04-27 12:22] 0crat commented on #104
The job [#104](https://github.com/artipie/artipie/issues/104) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/67133419-e9d8-4f46-9208-e59e703746fe); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-04-27 12:56] 0crat commented on #99
Job [#99](https://github.com/artipie/artipie/issues/99) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-04-27 12:56] 0crat commented on #99
Job [#99](https://github.com/artipie/artipie/issues/99) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-04-27 12:56] 0crat commented on #99
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olegmoz[/z](https://www.0crat.com/u/olegmoz), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-28 03:48] sereshqua commented on #99
@0crat quality good

[2020-04-28 13:49] #90 closed

[2020-04-28 13:49] 0pdd commented on #90
The puzzle `76-fe362791` has disappeared from the source code, that's why I closed this issue.

[2020-04-28 13:49] 0pdd opened #109 "SliceFromConfig.java:45-46: We still don't have tests for..."
The puzzle `90-c6a5c053` from #90 has to be resolved:

https://github.com/artipie/artipie/blob/5c6f5c5013ba5534ec5cb8777685090280dd4104/src/main/java/com/artipie/SliceFromConfig.java#L45-L46

The puzzle was created by Hamdi Douss on 25-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2020-04-28 13:49] 0pdd opened #110 "SliceFromConfig.java:65-67: This method still needs more..."
The puzzle `90-277cd0cd` from #90 has to be resolved:

https://github.com/artipie/artipie/blob/5c6f5c5013ba5534ec5cb8777685090280dd4104/src/main/java/com/artipie/SliceFromConfig.java#L65-L67

The puzzle was created by Hamdi Douss on 27-Apr-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2020-04-28 13:49] 0pdd commented on #76
@g4s8 2 puzzles [#109](https://github.com/artipie/artipie/issues/109), [#110](https://github.com/artipie/artipie/issues/110) are still not solved; solved: [#90](https://github.com/artipie/artipie/issues/90).

[2020-04-28 13:49] 0pdd commented on #90
@0pdd 2 puzzles [#109](https://github.com/artipie/artipie/issues/109), [#110](https://github.com/artipie/artipie/issues/110) are still not solved.

[2020-04-28 13:51] 0crat commented on #110
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-28 13:51] 0crat commented on #109
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-28 14:06] 0crat commented on #90
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @hdouss[/z](https://www.0crat.com/u/hdouss), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-28 14:22] #76 closed

[2020-04-28 14:27] 0crat commented on #110
The job [#110](https://github.com/artipie/artipie/issues/110) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/40301464-abfb-4978-a644-a8967945d0a1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2020-04-28 14:53] sereshqua commented on #90
@0crat quality good

[2020-04-28 15:14] 0crat commented on #82
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-28 15:21] g4s8 commented on #82
@olegmoz I suppose it's already working as you say: we can configure multiple repositories on one host, we use the same path structure as Artifactory uses: first part of URI path is repository name, e.g. `artipie.com/central/com/artipie/http/1.0` URI means that it's requesting some content from `artipie.com` from `central` repository with `com/artipie/http/1.0` resource id. So we're using first pa

[2020-04-28 16:03] olegmoz commented on #82
@g4s8 oh, didn't know that. How it is supposed to work for Docker then? It's path cannot be prefixed with anything, it has to be `/v2/<custom name>/...` as far as I know. I think we discussed before that full path should be forwarded to adapter's slice and it's adapter's job to cut it out.

[2020-04-29 07:50] 0crat commented on #97
@artemlazarev[/z](https://www.0crat.com/u/artemlazarev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-29 08:46] 0crat commented on #98
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-29 08:48] olegmoz commented on #82
@g4s8 so I believe that we decide that path prefix is to be managed by each adapter in it's own way. So this issue may be closed?

[2020-04-29 10:44] HDouss commented on #82
@olegmoz The issue is about RepoConfig exposing a path method that is either useless, or not documented at all. At least, there is no documentation or usage for the yaml setting (repo -> path), to not be confused with repo -> storage -> path.

[2020-04-29 11:48] g4s8 commented on #82
@olegmoz it seems Artifactory uses custom registry path for Dockers, see: https://www.jfrog.com/confluence/display/JFROG/Docker+Registry

[2020-04-29 17:01] olenagerasimova commented on #109
@g4s8 could you please assign me?

[2020-04-29 17:16] olenagerasimova commented on #98
@g4s8 please close, #111 was merged

[2020-04-30 13:30] g4s8 commented on #98
@olenagerasimova thanks

[2020-04-30 13:30] #98 closed

[2020-04-30 14:49] 0crat commented on #98
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-30 19:02] sereshqua commented on #98
@0crat quality good

[2020-05-01 06:45] 0crat commented on #87
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-02 12:44] 0crat commented on #104
@brastak[/z](https://www.0crat.com/u/brastak) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-06 09:03] #102 closed

[2020-05-06 09:21] 0crat commented on #102
Job `gh:artipie/artipie#102` is not assigned, can't get performer

[2020-05-07 07:59] artemlazarev opened #116 "add pypi-adapter support to main project artipie"

[2020-05-07 08:00] 0crat commented on #116
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-07 09:01] #109 closed

[2020-05-07 09:01] 0pdd commented on #109
The puzzle `90-c6a5c053` has disappeared from the source code, that's why I closed this issue.

[2020-05-07 09:01] 0pdd commented on #76
@g4s8 the puzzle [#110](https://github.com/artipie/artipie/issues/110) is still not solved; solved: [#109](https://github.com/artipie/artipie/issues/109), [#90](https://github.com/artipie/artipie/issues/90).

[2020-05-07 09:01] 0pdd commented on #90
@0pdd the puzzle [#110](https://github.com/artipie/artipie/issues/110) is still not solved; solved: [#109](https://github.com/artipie/artipie/issues/109).

[2020-05-07 09:19] 0crat commented on #109
Job `gh:artipie/artipie#109` is not assigned, can't get performer

[2020-05-07 09:55] 0crat commented on #74
The job [#74](https://github.com/artipie/artipie/issues/74) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/dd6fc952-234c-49f8-974e-6158d1852589); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the t

[2020-05-07 14:34] g4s8 commented on #104
@brastak done, thanks

[2020-05-07 14:34] #104 closed

[2020-05-07 14:59] 0crat commented on #104
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @brastak[/z](https://www.0crat.com/u/brastak), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-07 15:26] g4s8 opened #118 "No configuration documentation for Go adapter"
Let's add configuration example for go adapter and available settings to wiki documentation at https://github.com/artipie/artipie/wiki/Examples

[2020-05-07 15:27] 0crat commented on #118
The job [#118](https://github.com/artipie/artipie/issues/118) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/312dfd5b-8d6d-419f-8776-77f37c587cee); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-05-07 18:58] sereshqua commented on #104
@0crat quality good

[2020-05-08 06:39] g4s8 opened #119 "Upload request limits"
We need to have an option to limit upload requests size by configuring Artipie server. E.g. we may use optional configuration parameter in server yaml config or environment variable and filter incoming requests by `Content-Length` header and reject big requests on upload by returning `400` or [413](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/413).

[2020-05-08 06:49] 0crat commented on #119
The job [#119](https://github.com/artipie/artipie/issues/119) assigned to @olegmoz[/z](https://www.0crat.com/u/olegmoz), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/fbecedef-2760-4b3c-a020-84f17bc5464d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-05-08 07:53] 0pdd opened #120 "Pie.java:49-52: Create a unit test for 404 response...."
The puzzle `74-e630ca71` from #74 has to be resolved:

https://github.com/artipie/artipie/blob/2ef2028f29ee2b5fa4b794091c9ed57408373f13/src/main/java/com/artipie/Pie.java#L49-L52

The puzzle was created by @g4s8 on 08-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the

[2020-05-08 07:53] 0pdd commented on #74
@g4s8 the puzzle [#120](https://github.com/artipie/artipie/issues/120) is still not solved.

[2020-05-08 07:53] g4s8 commented on #74
Done in #117

[2020-05-08 07:53] #74 closed

[2020-05-08 07:54] 0crat commented on #120
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-08 13:15] g4s8 opened #122 "Go proxy configuration is missed"
There are no documentations for go proxy  repository configuration and no examples, please add it to  https://github.com/artipie/artipie/wiki/Examples

[2020-05-08 13:16] 0crat commented on #122
The job [#122](https://github.com/artipie/artipie/issues/122) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/c7922a33-fe93-42c9-ba64-f57388c72b79); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-05-08 13:16] g4s8 opened #123 "PHP composer configuration is missed"
There are no documentations for PHP-composer configuration and no examples, please add it to https://github.com/artipie/artipie/wiki/Examples

[2020-05-08 13:16] 0crat commented on #123
The job [#123](https://github.com/artipie/artipie/issues/123) assigned to @olegmoz[/z](https://www.0crat.com/u/olegmoz), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/5fe3da33-99fd-40c2-bdf5-25b804f55183); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-05-08 13:25] g4s8 opened #124 "NuGet configuration is missed"
There are no documentations for NuGet repository configuration and no examples, please add it to https://github.com/artipie/artipie/wiki/Examples

[2020-05-08 13:26] 0crat commented on #124
The job [#124](https://github.com/artipie/artipie/issues/124) assigned to @olegmoz[/z](https://www.0crat.com/u/olegmoz), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/38de3c2c-2f51-41ed-9b2a-4525407f37ee); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-05-09 03:49] 0crat commented on #120
The job [#120](https://github.com/artipie/artipie/issues/120) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/fc01d714-bc08-4bc7-95d8-37eec28aeaa7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-05-09 10:58] stepanov-dmitry opened #125 "java.nio.file.NoSuchFileException while requesting an artifact"
I'm just a newcomer of this project, that's why I've just read white-paper and were going through `README.md` file, [Configuration](https://github.com/artipie/artipie/wiki/Configuration) and [Examples](https://github.com/artipie/artipie/wiki/Examples) and encountered with the following exception:
`Caused by: java.nio.file.NoSuchFileException: /var/artipie/repo/myrep.yaml`.

OS details:
[code]

Ste

[2020-05-09 10:58] 0crat commented on #125
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-10 12:10] artemlazarev opened #126 "Switch http error code from 500 to 404 if no resource found"
If we will try to get resource from unconfigured storage, we will receive http 500. But according http logic we must recieve http 404.

[2020-05-10 12:10] 0crat commented on #126
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-11 06:48] jeffzhu503 opened #127 "Questions related to README, quick start section"
Run Artipie as a Docker image
1. You have Docker installed to run it.
2. Create new directory for Artipie storage, cd into this directory.
3. Create subdirectory with repo name.
4. Put all repository configuration files to repo directory, the name of config file is the name of repository.
5. Start Docker container with mounting current directory to /var/artipie:

Questions:
For 4, where do I find

[2020-05-11 06:48] 0crat commented on #127
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-11 07:12] jeffzhu503 opened #128 "What is infallible_wright image name?"
I ran the docker command in the Mac Pro using the example from README.  I see infallible_wright as the running docker by artipie.  Where does this name come from?  Shall we change to something called artipie instead of infalliable_wright?

[2020-05-11 07:12] 0crat commented on #128
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-11 09:18] carlosmiranda commented on #120
@0crat refuse

[2020-05-11 09:19] 0crat commented on #120
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#120](https://github.com/artipie/artipie/issues/120), please stop working. Reason for job resignation: Order was cancelled

[2020-05-11 11:52] g4s8 commented on #128
@jeffzhu503 Docker generates random name for running container, it's not related to Artipie. You can specify container name as `--name` option, e.g. `docker run --name="my-container-name" <image>`, see https://docs.docker.com/engine/reference/run/#name---name

[2020-05-11 11:52] #128 closed

[2020-05-11 12:09] 0crat commented on #128
Job `gh:artipie/artipie#128` is not assigned, can't get performer

[2020-05-11 17:23] jeffzhu503 commented on #128
Got it.  Please update README by giving the --name="Artipie".  Thanks.

[2020-05-11 17:37] jeffzhu503 opened #129 "Quick start section is missing from README"
We have a section "Run Artipie as a Docker image", which is a good beginning of Quick Start.
However, what shall users do next?  How can they start using Artipie now in the local machine running as a docker?

[2020-05-11 17:37] 0crat commented on #129
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-11 22:45] 0crat commented on #120
The job [#120](https://github.com/artipie/artipie/issues/120) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/1fd58da6-b0ee-43bb-9161-19d238f5edd3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2020-05-12 05:46] olenagerasimova commented on #118
@g4s8 please check https://github.com/artipie/artipie/wiki/Examples#local-go-registry

[2020-05-12 05:48] olenagerasimova commented on #122
@g4s8 this issue seems like duplicate of #118, is not it?

[2020-05-12 06:07] g4s8 commented on #122
@olenagerasimova correct, thanks

[2020-05-12 06:07] #122 closed

[2020-05-12 06:10] g4s8 commented on #118
@olenagerasimova can you please add some details about directory layout for this repository? Is it the same as local repository? E.g. can I put some package like in local repository to `src/github.com/username/package` ?

[2020-05-12 07:05] g4s8 commented on #125
@stepanov-dmitry thanks for the report. It seems you've created a repository named `myrepo`:

But requesting it as `myrep` (without `o`), this is why it fails.
We already have improved the HTTP response, now it should return `404` error instead of `500` with stacktrace, see: https://github.com/artipie/artipie/issues/74

[2020-05-12 07:52] olenagerasimova commented on #118
@g4s8 added, take a look please

[2020-05-12 08:51] g4s8 commented on #126
@artemlazarev it's a duplicate of https://github.com/artipie/artipie/issues/74

[2020-05-12 08:51] #126 closed

[2020-05-12 08:56] g4s8 commented on #118
@olenagerasimova thanks

[2020-05-12 08:56] #118 closed

[2020-05-12 15:22] g4s8 opened #132 "Artipie is too slow"
Artipie files operation are too slow: write of single small file may be processed for about 3-5 seconds. Investigate the reason and fix it.

The subtask is: https://github.com/artipie/asto/issues/171

[2020-05-12 15:24] 0crat commented on #132
The job [#132](https://github.com/artipie/artipie/issues/132) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/fd037ac9-9d4e-445d-b7eb-07d9b8782814); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2020-05-12 15:47] 0crat commented on #118
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-12 22:54] stepanov-dmitry commented on #125
Yes, one of the reason of this issue is due to wrong repo name, but I've encountered with it, since data in examples is not consistent. But there is another reason why I've encountered with this issue again is due to the file name `/var/artipie/repo/myrep.yml`, which is mentioned on [Examples](https://github.com/artipie/artipie/wiki/Examples) page:

![image](https://user-images.githubusercontent.c

[2020-05-12 23:01] stepanov-dmitry commented on #125
Regarding the response code, I'm still getting 500, since for now the file `README.md` contains command for `0.1.2` release and I was using the same version as in the example:

![image](https://user-images.githubusercontent.com/41523193/81753738-204f0200-94bd-11ea-9b22-a65821b1b6ff.png)

, but looks like the error code was changed in one of the newer versions. If so, I'd recommend to update the co

[2020-05-13 08:46] 0crat commented on #119
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-13 14:46] 0crat commented on #123
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-13 14:46] 0crat commented on #122
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-13 14:46] 0crat commented on #124
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-13 15:32] 0crat commented on #125
The job [#125](https://github.com/artipie/artipie/issues/125) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/1e22f6c9-e68f-410d-9b69-3f94bf04e10c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2020-05-14 00:58] 0crat commented on #74
@g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#74](https://github.com/artipie/artipie/issues/74), since the job is not in scope anymore

[2020-05-14 00:58] 0crat commented on #74
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.14](https://github.com/zerocracy/farm): CID: [174d95da-a347-43c3-a5fd-c8ac173adee0](https://www.0crat.com/footprint/CT2E6TK9B/174d95da-a347-43c3-a5fd-c8ac173adee0), Type: "Order was canceled"

[2020-05-14 05:33] olenagerasimova commented on #122
@g4s8 please, could you ask 0crat to close the order? This issue is still in my agenda

[2020-05-14 05:33] olenagerasimova commented on #118
@g4s8 please, could you ask 0crat to close the order? This issue is still in my agenda

[2020-05-14 05:41] yegor256 commented on #129
@rultor release, tag is `0.2.1`

[2020-05-14 05:42] yegor256 commented on #129
@jeffzhu503 take a look at README now. Better?

[2020-05-14 05:42] rultor commented on #129
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22038-628399706)

[2020-05-14 05:56] rultor commented on #129
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22038-628399706) (took me 14min)

[2020-05-14 06:41] g4s8 commented on #118
@0crat out

[2020-05-14 06:59] 0crat commented on #118
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-14 07:00] sereshqua commented on #118
@0crat quality good

[2020-05-14 07:07] g4s8 commented on #122
@0crat out

[2020-05-14 07:10] 0crat commented on #122
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-14 07:20] sereshqua commented on #122
@0crat quality bad

[2020-05-14 07:23] 0crat commented on #122
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2020-05-14 07:43] yegor256 opened #135 "Python example is missing in README"
Would be great to add it

[2020-05-14 07:43] 0crat commented on #135
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-14 08:03] #38 closed

[2020-05-14 08:20] 0crat commented on #38
Job `gh:artipie/artipie#38` is not assigned, can't get performer

[2020-05-14 11:46] g4s8 commented on #135
@yegor256 we don't have Python repository yet. It will be implemented in https://github.com/artipie/pypi-adapter/issues/33

[2020-05-14 13:17] #119 closed

[2020-05-14 13:34] 0crat commented on #119
Job [#119](https://github.com/artipie/artipie/issues/119) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-05-14 13:34] 0crat commented on #119
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @g4s8[/z](https://www.0crat.com/u/g4s8) (its creator); I won't close the order; please, re-open it and ask @g4s8[/z](https://www.0crat.com/u/g4s8) to close it

[2020-05-14 15:11] g4s8 opened #138 "S3 storage bug"
S3 storage is not working because of the bug: https://github.com/artipie/asto/issues/163
Fix the bug in asto module and update the dependency

[2020-05-14 15:13] 0crat commented on #138
The job [#138](https://github.com/artipie/artipie/issues/138) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/d99354da-3094-4471-b637-49de8c3d6df8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2020-05-14 15:21] g4s8 commented on #138
@rultor release, tag=`0.2.2`

[2020-05-14 15:21] rultor commented on #138
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22053-628705855)

[2020-05-14 15:39] rultor commented on #138
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22053-628705855) (took me 18min)

[2020-05-14 15:48] g4s8 commented on #138
Fixed by artipie/asto#163
Updated in #139
Released `0.2.2`

[2020-05-14 15:48] #138 closed

[2020-05-14 16:07] 0crat commented on #138
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-05-15 06:34] g4s8 opened #141 "Log when artipie is started"
Let's post a message to log output on start of the Artipie:

[2020-05-15 07:07] g4s8 opened #142 "Update maven"
Update maven repository to support upload

[2020-05-15 07:08] 0crat commented on #142
The job [#142](https://github.com/artipie/artipie/issues/142) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/1b18c512-777d-42f6-8e24-7ae7346beffe); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2020-05-15 07:08] g4s8 commented on #142
@rultor release, tag=`0.2.3`

[2020-05-15 07:10] rultor commented on #142
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22058-629070021)

[2020-05-15 07:24] rultor commented on #142
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22058-629070021) (took me 14min)

[2020-05-15 07:28] g4s8 commented on #142
@rultor release, tag=`0.2.4`

[2020-05-15 07:29] rultor commented on #142
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22058-629077837)

[2020-05-15 07:46] rultor commented on #142
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22058-629077837) (took me 17min)

[2020-05-15 08:43] #141 closed

[2020-05-15 12:09] #124 closed

[2020-05-15 12:26] 0crat commented on #124
Job [#124](https://github.com/artipie/artipie/issues/124) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-05-15 12:26] 0crat commented on #124
Job [#124](https://github.com/artipie/artipie/issues/124) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-05-15 12:26] 0crat commented on #124
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olegmoz[/z](https://www.0crat.com/u/olegmoz), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-15 13:27] #123 closed

[2020-05-15 13:45] 0crat commented on #123
Job [#123](https://github.com/artipie/artipie/issues/123) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-05-15 13:45] 0crat commented on #123
Job [#123](https://github.com/artipie/artipie/issues/123) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-05-15 13:45] 0crat commented on #123
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olegmoz[/z](https://www.0crat.com/u/olegmoz), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-16 07:43] artemlazarev commented on #135
I will fix that issue then i finish with fixing python adapter

[2020-05-16 14:53] victornoel commented on #120
@0crat wait for #144

[2020-05-17 10:13] sereshqua commented on #124
@0crat quality good

[2020-05-17 10:13] sereshqua commented on #123
@0crat quality good

[2020-05-19 06:51] #142 closed

[2020-05-19 06:53] g4s8 opened #145 "Integrate authorization mechanism to supported adapters"
Add existing authorization mechanisms to all supported adapters:
 - [x] Files
 - [x] Maven
 - [ ] Docker
 - [x] RPM
 - [x] Npm
 - [ ] Gem
 - [ ] Helm
 - [ ] PHP
 - [x] Nuget
 - [ ] Go
 - [x] PyPi

[2020-05-19 06:55] 0crat commented on #145
The job [#145](https://github.com/artipie/artipie/issues/145) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/031d6227-1c7e-499b-8bf5-52b310653e96); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2020-05-19 08:37] g4s8 opened #146 "Authentication implementation"
Create `Authentication` implementation based on `yaml` file with credentials. I think we can use this format for credentials:
[code]

So the root element is `credentials` which includes the map of unique usernames,
 each username has to have password `pass` string with format `{type}:{data}` where a type can be either `plain` or `sha256` (just for now, it can be extended later), `plain` means that

[2020-05-19 08:50] 0crat commented on #146
The job [#146](https://github.com/artipie/artipie/issues/146) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/0981b290-2e91-4a59-ba6f-3b89381ed01d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-05-19 09:33] g4s8 opened #147 "No Ruby gem documentation in the readme"
Add documentation similar to other repository types how to configure gem repository in artipie and how to use from gem CLI tool.

[2020-05-19 09:34] 0crat commented on #147
The job [#147](https://github.com/artipie/artipie/issues/147) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/5391e346-6f21-46a1-b826-29e1a6d3903f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2020-05-19 09:56] g4s8 opened #148 "Simple authentication via environment variables"
Add a simplest one user authentication via environment variables:
 - `ARTIPIE_USER_NAME` for user name
 - `ARTIPIE_USER_PASS` for password

Such configuration must have the highest priority and should provide `Authentication` mechanism with single user with such credentials.

Simplified version of #146

[2020-05-19 09:57] 0crat commented on #148
The job [#148](https://github.com/artipie/artipie/issues/148) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/80e74158-9ffe-4e32-8f5d-9ec30a833e35); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2020-05-19 11:50] Sammers21 commented on #147
@g4s8, there is no such thing as gem CLI tool

[2020-05-19 11:53] g4s8 commented on #147
@Sammers21 what's about `gem`? I suppose it's `gem` CLI tool.

[2020-05-19 12:23] #147 closed

[2020-05-19 12:46] 0crat commented on #147
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-05-19 12:46] 0crat commented on #147
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @sammers21[/z](https://www.0crat.com/u/sammers21), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-19 12:55] sereshqua commented on #147
@0crat quality good

[2020-05-19 13:10] Sammers21 opened #151 "Artipie start message is not displayed"
![image](https://user-images.githubusercontent.com/16746106/82330194-2ed07880-99eb-11ea-8c33-35e1be4f7d7b.png)

[2020-05-19 13:10] 0crat commented on #151
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-19 13:16] Sammers21 opened #153 "Repository was not found"
I have configured gem repo in the following way:
`gem.yml`
[code]

And then I tried to push a gem:
[code]

Push failed with `Repository 'gem' was not found`

[2020-05-19 13:16] 0crat commented on #153
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-19 13:26] g4s8 commented on #153
@Sammers21 `gem.yml` is not correct, use `gem.yaml` instead

[2020-05-19 13:27] Sammers21 commented on #153
@g4s8, `gem.yml` is correct, but artipie for some reasons could not recognize it.

[2020-05-19 13:28] g4s8 commented on #153
@Sammers21 right now it's looking for `{repo}.yaml` file with configuration in repository config location. This is why `gem.yml` is not correct

[2020-05-19 13:33] Sammers21 commented on #153
@g4s8, `.yml` is a correct extension for YAML content and it is a bug that artipie could not recognize that.

[2020-05-19 13:40] Sammers21 opened #154 "Provide a status for each example in the README"
In the README file, you can found a dozen configurations and usage examples. In order to double-check that those examples are valid and actually works, I suggest creating a GitHub action and provide a status for each example.

Progress:
 - [x] - Binary
 - [x] - Maven
 - [ ] - RPM
 - [x] - Docker
 - [x] - Helm
 - [x] - NPM
 - [ ] - Composer
 - [ ] - NuGet
 - [x] - Gem
 - [x] - Pypi
 - [ ] - Go

[2020-05-19 13:40] 0crat commented on #154
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-19 14:00] Sammers21 opened #155 "NoClassDefFoundError: org/slf4j/event/LoggingEvent"
Configure a gem repo and try to push a gem. You would get this error:

[code]

[2020-05-19 14:00] 0crat commented on #155
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-19 14:06] 0crat commented on #154
The job [#154](https://github.com/artipie/artipie/issues/154) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/9852e0bb-4f19-40e0-a72c-1417ed44c6f4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2020-05-19 15:38] g4s8 commented on #155
@Sammers21 how did you start it, is it a docker image or jar?

[2020-05-20 01:07] 0crat commented on #119
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olegmoz[/z](https://www.0crat.com/u/olegmoz), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-20 06:57] sereshqua commented on #119
@0crat quality good

[2020-05-20 07:12] g4s8 commented on #154
@Sammers21 one more question: how would you prove that the repository is actually works? The're can be multiple thing in one repository to verify. E.g. docker push works, docker pull works, docker tag, etc. What do you think about using Cucumber tests to write scenarios for each repository?

[2020-05-20 07:19] g4s8 commented on #148
@rultor release, tag=`0.3`

[2020-05-20 07:20] rultor commented on #148
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22114-631286868)

[2020-05-20 07:22] rultor commented on #148
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22114-631286868) (took me 2min)

[2020-05-20 07:24] olenagerasimova commented on #146
@g4s8 2 questions:
1) do not you mind if I simplify settings to
[code]
2) if alternative login is set, should auth by main (joe in our case) work?

[2020-05-20 07:38] g4s8 commented on #146
@olenagerasimova

Yes, it would be better

I think no, one user should have only one user name

[2020-05-20 11:57] g4s8 opened #158 "Benchmarks reporting"
Report benchmark results to GitHub pages

[2020-05-20 11:59] #151 closed

[2020-05-20 12:00] 0crat commented on #158
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.14](https://github.com/zerocracy/farm): CID: [06f232e6-0976-4cbe-be9e-f067ed5b6aba](https://www.0crat.com/footprint/CT2E6TK9B/06f232e6-0976-4cbe-be9e-f067ed5b6aba), Type: "Job was added to WBS"

[2020-05-20 12:27] g4s8 opened #159 "Use storage prefix based on repository name"
Let's provide storage with prefix https://github.com/artipie/asto/issues/139 for slise where prefix should be the name of repository

[2020-05-20 15:48] olenagerasimova commented on #146
@g4s8 forgot to ask, how we are going to locate this `credentials` file? Should the path to the file be passed via env variable?

[2020-05-21 06:04] #146 closed

[2020-05-21 06:24] g4s8 commented on #146
@olenagerasimova I think we may use meta config for Artipie server (see `_config.yml` file), e.g.:
[code]

[2020-05-21 06:25] 0crat commented on #146
Job was finished in 45 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-05-21 06:25] 0crat commented on #146
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-21 06:27] sereshqua commented on #146
@0crat quality good

[2020-05-21 16:32] g4s8 opened #164 "Central reference"
Reference artipie central in documentation

[2020-05-21 16:38] g4s8 commented on #164
@rultor release, tag=`0.3.1`

[2020-05-21 16:39] rultor commented on #164
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22136-632204092)

[2020-05-21 16:42] rultor commented on #164
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22136-632204092) (took me 2min)

[2020-05-22 14:35] brastak opened #167 "Update NPM adapter version to 0.6"

[2020-05-22 14:36] 0crat commented on #167
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-22 15:00] brastak opened #169 "Don't require authorization when no permission block in repo config"
We need to distinguish 2 situations:
- there is permissions section in repo config, but current user is not in
- there is no permissions section at all

Now both situation causes 403 error

[2020-05-22 15:00] 0crat commented on #169
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-22 15:00] brastak opened #170 "Turn on authentication for NPM adapter"

[2020-05-22 15:00] 0crat commented on #170
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-25 12:06] g4s8 commented on #159
@rultor release, tag=`0.3.2`

[2020-05-25 12:07] rultor commented on #159
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22174-633539948)

[2020-05-25 12:09] rultor commented on #159
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22174-633539948) (took me 2min)

[2020-05-25 13:48] g4s8 commented on #170
@brastak can you specify please what kind of permissions npm adapter may handle? I suppose it's `publish` and `install`?

[2020-05-25 14:16] g4s8 commented on #169
@brastak yes, good point

[2020-05-25 14:17] 0crat commented on #169
The job [#169](https://github.com/artipie/artipie/issues/169) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/27225564-68d4-43aa-b9de-14a2162c23df); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-05-25 15:21] olegmoz opened #172 "Integrate Docker repository"
Add Docker repository support and usage example to documentation

[2020-05-25 15:21] 0crat commented on #172
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-25 15:22] 0crat commented on #172
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-05-25 15:25] g4s8 commented on #164
Reverted here and moved to artipie/central repo

[2020-05-25 15:25] #164 closed

[2020-05-25 15:47] 0crat commented on #164
Job `gh:artipie/artipie#164` is not assigned, can't get performer

[2020-05-25 16:19] g4s8 commented on #148
Done

[2020-05-25 16:19] #148 closed

[2020-05-25 16:38] g4s8 commented on #155
@Sammers21 ping, no response for 6 days here

[2020-05-25 16:46] 0crat commented on #148
Job `gh:artipie/artipie#148` is not assigned, can't get performer

[2020-05-25 18:22] Sammers21 commented on #155
@g4s8, as a jar

[2020-05-26 08:57] g4s8 commented on #155
@Sammers21 what command did you use to start it?

[2020-05-26 14:31] brastak commented on #170
@g4s8 I suppose we can use `upload` and `download` it has  almost the same semantic

[2020-05-26 14:32] 0crat commented on #170
You @brastak[/z](https://www.0crat.com/u/brastak) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-05-26 14:58] g4s8 commented on #170
@brastak agree, it looks better to have same names for repositories where possible.

[2020-05-27 10:18] g4s8 commented on #170
@rultor release, tag=`0.3.3`

[2020-05-27 10:19] rultor commented on #170
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22193-634567454)

[2020-05-27 10:21] rultor commented on #170
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22193-634567454) (took me 2min)

[2020-05-27 10:51] #170 closed

[2020-05-27 11:08] 0crat commented on #170
Job `gh:artipie/artipie#170` is not assigned, can't get performer

[2020-05-27 11:33] victornoel commented on #120
@0crat status

[2020-05-27 11:44] victornoel opened #175 "Do not build assembly jar-with-dependencies by default"
Running `mvn verify -Pqulice` is extremely long because of the task `make-assembly`.

It shouldn't be enabled in a normal build but only via a profile.

I suppose the CI should take that into account also (depending on where this jar is needed).

[2020-05-27 11:44] 0crat commented on #175
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-27 11:49] 0crat commented on #120
@victornoel This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#120](https://github.com/artipie/artipie/issues/120) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT2E6TK9B?q=%7Bjob%3A%27gh%3Aartipie%2Fartipie%23120%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-05-27 13:20] g4s8 commented on #175
@0crat assign @marceloamadeu

[2020-05-27 13:22] 0crat commented on #175
@g4s8 The job [#175](https://github.com/artipie/artipie/issues/175) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/e098cb96-37ee-4eb5-9b46-89346da79455); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2020-05-27 13:37] g4s8 opened #176 "NPM authentication documentation is missed"
I tried to create NPM account using `npm` tool for Central registry with this command:
[code]
I've entered valid username and password but got 401 error:
[code]
It seems I configured auth wrong.

[2020-05-27 13:51] 0crat commented on #176
The job [#176](https://github.com/artipie/artipie/issues/176) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/54c585bf-2217-4430-89e1-b03b5c0887e5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-05-27 19:23] victornoel commented on #120
@g4s8 even though the PR was merged and the todo was removed, 0pdd didnt' close the issue, also, can you re-assign me on it following the bug we talked about in telegram?

[2020-05-28 07:37] g4s8 commented on #120
@0crat assign @victornoel

[2020-05-28 07:50] 0crat commented on #120
@g4s8 The job [#120](https://github.com/artipie/artipie/issues/120) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/dfb276fe-89b4-4d73-a384-ac7045989316); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-05-28 07:50] #167 closed

[2020-05-28 08:02] brastak commented on #176
@g4s8 Please, do the following
1. Calculate `base64` of the `user:password` string:
    `$ echo -n 'user:password' | base64`
2. Edit yout `$HOME/.npmrc` file:
[code]

Based on [Nexus manaul](https://help.sonatype.com/repomanager3/formats/npm-registry#npmRegistry-AuthenticationUsingBasicAuth)

The real question - do we need to support PUT user operation? I don't think that it is required. If so, I

[2020-05-28 08:08] 0crat commented on #167
Job `gh:artipie/artipie#167` is not assigned, can't get performer

[2020-05-28 08:18] brastak opened #178 "Support hierarchical paths for repositories (user/repo-name)"
Currently, artipie supports flat repo structure - repo path can contain just single part. For the `central.artipie.com` it will be better to use two-level hierarchy `<user>/<repo>`.
We need to support multilevel paths in artipie

[2020-05-28 08:18] 0crat commented on #178
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-28 08:40] g4s8 commented on #178
@brastak I think it's a good idea, with such approach we need to think how to configure admin permissions for each `user` repository namespace, i.e. we need some `admin` user who can manage repositories inside his namespace. E.g. we can create repository permissions config to manage this:
[code]
at:
[code]
Alternatively, we can assume that user with `user1` username is owner of all repositories un

[2020-05-28 09:16] g4s8 commented on #176
@brastak how can I add additional credentials if I have it for registry.npmjs.org already? It seems my `.rpmrc` has different format:
[code]

What does this `PUT` (`https://central.artipie.com/npm/-/user/org.couchdb.user:artipie`) request actually do? Do we need to process this data later? Does `npm` tool expects some content to be returned?

[2020-05-28 09:28] #120 closed

[2020-05-28 09:28] 0pdd commented on #120
The puzzle `74-e630ca71` has disappeared from the source code, that's why I closed this issue.

[2020-05-28 09:28] 0pdd opened #179 "YamlSettings.java:128-129: Extract this method to a..."
The puzzle `146-3820475f` from #146 has to be resolved:

https://github.com/artipie/artipie/blob/41aab38cffcda2d1317756c701b3a47572c34e9b/src/main/java/com/artipie/YamlSettings.java#L128-L129

The puzzle was created by @olenagerasimova on 22-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-05-28 09:28] 0pdd opened #180 "AuthFromYaml.java:36-41: Consider adding opportunity to..."
The puzzle `146-b7fdde7c` from #146 has to be resolved:

https://github.com/artipie/artipie/blob/41aab38cffcda2d1317756c701b3a47572c34e9b/src/main/java/com/artipie/auth/AuthFromYaml.java#L36-L41

The puzzle was created by @olenagerasimova on 22-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2020-05-28 09:28] 0pdd commented on #74
@g4s8 the only puzzle [#120](https://github.com/artipie/artipie/issues/120) is solved here.

[2020-05-28 09:28] 0pdd commented on #146
@g4s8 2 puzzles [#179](https://github.com/artipie/artipie/issues/179), [#180](https://github.com/artipie/artipie/issues/180) are still not solved.

[2020-05-28 09:29] 0crat commented on #180
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-28 09:29] 0crat commented on #179
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-28 09:43] brastak commented on #176
@g4s8

You should add `//central.artipie.com/npm/:_authToken=xxxx` in this case

Need to be reverse-engineered ) it `creates or verifies` user. In our case - just verifies. If all is ok, it put `_authToken` to `.npmrc`. But I have no idea what can be `all is ok` and how npm processed the response from registry

[2020-05-28 09:47] olenagerasimova commented on #178
@g4s8 I'd suggest to support same structure for repository permissions config as for repo config:
[code]
Permissions set can be whatever we like/need. Thus yaml setting structure will be unified, settings will be more flexible and we will not need to define roles (like `admin` in your case).

Also I'd suggest to come up with some proper names for the config files, now we can get lost in them ourse

[2020-05-28 09:47] 0crat commented on #120
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-05-28 09:47] 0crat commented on #120
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-05-28 10:53] g4s8 commented on #176
@brastak can we just allow put for `/-/user/org.couchdb.user` using Artipie authorization mechanisms?

[2020-05-28 11:20] sereshqua commented on #120
@0crat quality good

[2020-05-28 12:03] g4s8 opened #181 "Maven update"
Update maven to `0.3`

[2020-05-28 12:03] 0crat commented on #181
The job [#181](https://github.com/artipie/artipie/issues/181) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/61a7686d-0be2-44d7-904a-9ab93907ea2f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2020-05-28 12:21] brastak commented on #176
@g4s8 No, it's little bit harder. User and password are sent with message payload instead of auth  header

[2020-05-28 13:10] Sammers21 opened #182 "Unclear error on missed permissions config"
Steps to reproduce:

[code]

Also, stack trace in the response is not descriptive and does not give any idea to a user what is wrong.

[2020-05-28 13:11] 0crat commented on #182
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-28 14:00] g4s8 commented on #182
@Sammers21 it seems you didn't configure permission settings:
[code]
See: https://github.com/artipie/artipie#yaml-credentials-file

But you are right, we have to return some meaningful error message in that case.

[2020-05-28 14:01] 0crat commented on #182
The job [#182](https://github.com/artipie/artipie/issues/182) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/1eee5535-0266-4720-8ab1-9032a2cddf3d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-05-28 14:20] g4s8 commented on #181
@rultor release, tag=`0.3.4`

[2020-05-28 14:21] rultor commented on #181
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22217-635379805)

[2020-05-28 14:24] rultor commented on #181
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22217-635379805) (took me 2min)

[2020-05-28 15:15] g4s8 opened #185 "Get rid of path config parameter"
Some repositories have `path` config parameter, some don't have it. I think we can remove it safely from config, since we always know what is the path of current request. Even if we switch to another routing schema #178 we still be able to get the path from request on top level. So we can remove it from config and specify directly. @artipie/contributors do you agree?

[2020-05-28 16:41] Sammers21 commented on #182
@g4s8, I'm just curious why permissions are required by default?

[2020-05-28 16:44] Sammers21 commented on #182
Just give the user what he expects: permissions not configured - permission is not required, permissions are configured - let him use it

[2020-05-29 07:46] olegmoz commented on #185
@g4s8 this makes perfect sense for now when we are mapping all repos by path prefix. This won't work for more complex scenario for Docker, when repo name is in the middle of path (something like `/v2/docker-local/my-image/manifest/latest`). But I am not sure we really need to support this case now or ever.

[2020-05-29 08:38] g4s8 commented on #178
@olenagerasimova yes, I wrote the same example (but with `user` and `user2` instead of `john` and `jane`), just with different permission name. The main question is: what the user can do with these permissions, e.g. I thought `admin` permission allows user to create, edit and delete repositories in a namespace. So what the `read` permission allows then?

Yes, as I know all configurations uses `rep

[2020-05-29 09:16] olenagerasimova commented on #178
@g4s8 I failed to see that `admin` is a permission name in your example, I thought it was some role, sorry. Maybe we can use asterisk sign instead of `admin`, `*` would mean that any possible action is allowed. We also can have `create`, `edit` and `delete` permissions, may be some users will only be allowed to create repos, but not edit and delete them.

[2020-05-29 12:46] #159 closed

[2020-05-29 12:57] 0crat commented on #185
The job [#185](https://github.com/artipie/artipie/issues/185) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/f0d14b68-fbb6-426f-a3c4-24ba286cb30c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-05-29 13:03] 0crat commented on #159
Job `gh:artipie/artipie#159` is not assigned, can't get performer

[2020-05-29 13:51] g4s8 commented on #176
@brastak got it. Then I'd put [your comment](https://github.com/artipie/artipie/issues/176#issuecomment-635183955) to the README file, and start implementing payload parsing with lower priority.

[2020-06-01 13:43] #182 closed

[2020-06-01 13:51] 0crat commented on #175
@marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-01 14:01] 0crat commented on #182
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-01 14:02] sereshqua commented on #182
@0crat quality good

[2020-06-01 14:54] g4s8 commented on #181
@rultor release, tag=`0.3.5`

[2020-06-01 14:56] rultor commented on #181
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22217-636905374)

[2020-06-01 14:57] 0crat commented on #176
@brastak[/z](https://www.0crat.com/u/brastak) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-01 14:58] rultor commented on #181
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22217-636905374) (took me 2min)

[2020-06-01 15:24] g4s8 commented on #181
@rultor release, tag=`0.3.6`

[2020-06-01 15:25] rultor commented on #181
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22217-636921615)

[2020-06-01 15:27] rultor commented on #181
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22217-636921615) (took me 2min)

[2020-06-02 08:01] 0crat commented on #178
The job [#178](https://github.com/artipie/artipie/issues/178) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/89588559-2c2c-4386-b384-53e4858cf78d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2020-06-02 08:26] g4s8 commented on #181
@rultor release, tag=`0.3.7`

[2020-06-02 08:27] rultor commented on #181
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22217-637378792)

[2020-06-02 08:29] rultor commented on #181
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22217-637378792) (took me 2min)

[2020-06-02 08:54] g4s8 commented on #181
Fixed

[2020-06-02 08:54] #181 closed

[2020-06-02 15:29] olegmoz commented on #82
@g4s8 could we close this issue as there is issue #185 ?

[2020-06-02 15:47] Sammers21 opened #188 "Add helm adapter"
Support for helm packages in artipie

[2020-06-02 15:47] 0crat commented on #188
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-03 09:15] 0pdd opened #191 "YamlSettingsTest.java:48-49: Add a test for layout..."
The puzzle `187-870a4b1d` from #187 has to be resolved:

https://github.com/artipie/artipie/blob/06a5670f84dde0e7de5e479869e70df106d47310/src/test/java/com/artipie/YamlSettingsTest.java#L48-L49

The puzzle was created by @g4s8 on 02-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem i

[2020-06-03 09:16] 0crat commented on #191
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-03 09:18] olegmoz opened #192 "Update NuGet to 0.2 with authentication support"
NuGet 0.2 supports authentication and could be integrated into Artipie

[2020-06-03 09:18] 0crat commented on #192
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-03 09:19] 0crat commented on #192
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-06-03 09:51] g4s8 commented on #82
@olegmoz yes, closing.

[2020-06-03 09:51] #82 closed

[2020-06-03 09:52] #192 closed

[2020-06-03 10:11] 0crat commented on #192
Job `gh:artipie/artipie#192` is not assigned, can't get performer

[2020-06-03 11:30] #172 closed

[2020-06-03 11:45] g4s8 commented on #178
@rultor release, tag=`0.4`

[2020-06-03 11:46] rultor commented on #178
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22264-638144105)

[2020-06-03 11:46] 0crat commented on #172
Job `gh:artipie/artipie#172` is not assigned, can't get performer

[2020-06-03 11:48] rultor commented on #178
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22264-638144105) (took me 2min)

[2020-06-03 11:59] 0crat commented on #78
The job [#78](https://github.com/artipie/artipie/issues/78) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/77c7298b-8ca1-4b34-9a7a-8bcd5914271d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the t

[2020-06-03 13:47] 0crat commented on #185
@brastak[/z](https://www.0crat.com/u/brastak) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-03 15:36] g4s8 commented on #78
@brastak please check #194 PR

[2020-06-04 11:48] g4s8 opened #195 "Repository configuration cache"
Artipie performs a lot of read operations for repository configs, it would be better to cache these configs in memory. The config can be updated at any time, so we need to drop cached value after some time, e.g. after few minutes. Consider using soft references to avoid OOM errors when working with many repos.

[2020-06-04 11:55] 0crat commented on #195
The job [#195](https://github.com/artipie/artipie/issues/195) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/51e4830c-4254-4f2d-802f-7483a64661b7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-06-04 12:46] Sammers21 opened #196 "Support for hierarchies of any level"
How about dynamic hierarchies configuration?
If a hierarch of repository configs is flat:
[code]
let the layout be flat as well.

But what if config storage structure is the following:
[code]

The pathes for the repositories should be `/depatmet-1/dev/gem/`,  `/depatmet-1/dev/maven/`, etc...

I think that paths should be dependent on storage structure and dynamically defined by a user. This would

[2020-06-04 12:47] 0crat commented on #196
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-04 13:33] g4s8 opened #197 "Artipie logging"
Enable logging messages:
 - [x] request logging with headers c377387
 - [x] errors in adapter logging c377387
 - [x] storage access logging (read, write operations) 9dde10a6298d1f824f3b257e1da739f0b435dc1f
 - [x] authentication & authorization logging (e.g. `access <granted|denied> for <user> in <repo> to perform <action>`)

@artipie/contributors what else do we need to be logged?

[2020-06-04 13:38] g4s8 commented on #196
@Sammers21 it sounds interesting but this solution has some missed parts in this proposal:
 1. How Artipie resolves repository for request in this case? Assume it receives `PUT /one/two/three/four` request, it may be treated as `PUT /two/three/four` into `one` repository, `PUT /three/four` into `one/two` repository or `PUT /four` into `one/two/three` repository.
 2. How to manage permissions? One

[2020-06-04 13:41] g4s8 commented on #197
@rultor release, tag=`0.4.1`

[2020-06-04 13:43] g4s8 opened #198 "Benchmarks are not running on releases"
There are no benchmark reports in `gh-pages` branch: https://github.com/artipie/artipie/commits/gh-pages
It seems report tool is not working correctly.

[2020-06-04 13:43] rultor commented on #197
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22273-638855511)

[2020-06-04 13:45] rultor commented on #197
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22273-638855511) (took me 2min)

[2020-06-04 13:45] 0crat commented on #198
The job [#198](https://github.com/artipie/artipie/issues/198) assigned to @brastak[/z](https://www.0crat.com/u/brastak), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/ae853f80-d87a-4a87-9b36-287731012a7e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-06-04 14:01] g4s8 commented on #197
@rultor release, tag=`0.4.2`

[2020-06-04 14:02] rultor commented on #197
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22273-638868884)

[2020-06-04 14:04] rultor commented on #197
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22273-638868884) (took me 2min)

[2020-06-04 16:40] g4s8 opened #199 "Add Maven proxy"
Add maven proxy repository support.

[2020-06-04 16:47] 0crat commented on #199
The job [#199](https://github.com/artipie/artipie/issues/199) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/fee0065a-7707-4cab-b3d7-e9f6eaecd6d0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2020-06-04 16:59] g4s8 commented on #199
@rultor release, tag=`0.4.3`

[2020-06-04 17:00] rultor commented on #199
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22276-638981956)

[2020-06-04 17:03] rultor commented on #199
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22276-638981956) (took me 2min)

[2020-06-05 05:48] jeffzhu503 commented on #178
If you support multiple tenants, you might consider more than 2 levels. For example:
/myorg/myusername/repo-name

[2020-06-05 06:49] g4s8 commented on #178
@jeffzhu503 please see #196 ticket

[2020-06-05 13:02] g4s8 commented on #199
@rultor release, tag=`0.4.6`

[2020-06-05 13:03] rultor commented on #199
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22276-639466393)

[2020-06-05 13:05] rultor commented on #199
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22276-639466393) (took me 2min)

[2020-06-05 13:35] g4s8 commented on #199
@rultor release, tag=`0.4.7`

[2020-06-05 13:36] rultor commented on #199
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22276-639483991)

[2020-06-05 13:39] rultor commented on #199
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22276-639483991) (took me 2min)

[2020-06-05 18:36] jeffzhu503 opened #200 "Submit the talk proposal to Europe Open Source Summit in Dublin, Ireland Oct 26-28, 2020"
We shall use this summit to present our new open source project - Artipie.
https://events.linuxfoundation.org/open-source-summit-europe/. (At least this one)
https://events.linuxfoundation.org/open-source-summit-japan/ (Optional)

[2020-06-05 18:36] 0crat commented on #200
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-06 13:24] 0crat commented on #175
The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#175](https://github.com/artipie/artipie/issues/175), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-06-06 14:00] 0crat commented on #176
The user @brastak[/z](https://www.0crat.com/u/brastak) resigned from [#176](https://github.com/artipie/artipie/issues/176), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-06-06 14:00] 0crat commented on #176
Job `gh:artipie/artipie#176` is not assigned, can't get performer

[2020-06-06 14:50] 0crat commented on #176
The job [#176](https://github.com/artipie/artipie/issues/176) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/f6c93e1c-06d5-45cc-a3fe-39843bdd841a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2020-06-06 16:04] victornoel commented on #176
@0crat  refuse

[2020-06-06 16:48] 0crat commented on #176
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#176](https://github.com/artipie/artipie/issues/176), please stop working. Reason for job resignation: Order was cancelled

[2020-06-06 16:48] 0crat commented on #176
@victornoel Job refused in 2 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-07 04:54] jeffzhu503 commented on #196
Let me first propose one solution which was adopted from Chartmuseum, another open source project.  That project experienced the same thing.  It uses a configurable variable named depth. The depth can be set to 0-3. However, each domain can only have one fixed level.  For example, Aritpie.com is set to depth=2. Then you always expect users to provide the url as /org/repo.  If you set to 3, you alw

[2020-06-08 13:07] 0crat commented on #185
The user @brastak[/z](https://www.0crat.com/u/brastak) resigned from [#185](https://github.com/artipie/artipie/issues/185), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-06-08 13:41] marceloamadeu commented on #175
@g4s8 please close ... tks

[2020-06-08 13:46] victornoel commented on #175
@marceloamadeu I will close, but do you realise you have been unassigned from this job? Ask @g4s8 to add you again before I close, so that you can get paid for it…

[2020-06-08 13:52] Sammers21 commented on #196
@g4s8, I would fully agree with the idea, suggested by @jeffzhu503: it is very simple and cheap to implement. But, I would also consider the following:

To restrict naming: files and directories could not have the same name: so `one.yaml` and `one/` in the root dir would not work together. With the restriction, having a tree structure of storage you can resolve a request ambiguously.

By referring

[2020-06-08 13:59] marceloamadeu commented on #175
@victornoel Yes, I realize that it is not assigned to me...
@g4s8 Is it possible to add me again before closing?

Tks

[2020-06-08 14:01] victornoel commented on #175
@marceloamadeu I usually tell 0crat to wait once I have made a PR for a ticket, so that this situation does not happen :) For example: https://github.com/artipie/artipie/issues/120#issuecomment-629658274

[2020-06-08 14:44] g4s8 commented on #175
@0crat assign @marceloamadeu

[2020-06-08 14:46] 0crat commented on #175
@g4s8 The job [#175](https://github.com/artipie/artipie/issues/175) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/399bc605-8b09-4315-9fb5-d404278c5b56); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.co

[2020-06-08 14:46] victornoel commented on #175
@g4s8 @marceloamadeu :+1:

[2020-06-08 14:46] #175 closed

[2020-06-08 15:02] marceloamadeu commented on #175
@victornoel @g4s8 Tks :+1:

[2020-06-08 15:04] 0crat commented on #175
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-06-08 15:04] 0crat commented on #175
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [629442c7-3e14-4e89-a625-5bf205ac5193](https://www.0crat.com/footprint/CT2E6TK9B/629442c7-3e14-4e89-a625-5bf205ac5193), Type: "Order was finished"

[2020-06-08 15:05] 0crat commented on #175
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-08 15:06] sereshqua commented on #175
@0crat quality good

[2020-06-08 15:46] 0crat commented on #176
The job [#176](https://github.com/artipie/artipie/issues/176) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/f1827ed9-26bd-48a3-a9d0-208f2fd10302); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-06-08 15:57] marceloamadeu commented on #176
@0crat refuse

[2020-06-08 16:00] 0crat commented on #176
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#176](https://github.com/artipie/artipie/issues/176), please stop working. Reason for job resignation: Order was cancelled

[2020-06-08 16:00] 0crat commented on #176
@marceloamadeu Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-08 17:46] 0crat commented on #185
The job [#185](https://github.com/artipie/artipie/issues/185) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/12128c53-5059-4b66-8e44-ca683a11a076); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/poli

[2020-06-09 12:34] g4s8 opened #201 "Dashboard"
Let's create simple dashboard to update and create repository configurations.

[2020-06-09 12:35] 0crat commented on #201
The job [#201](https://github.com/artipie/artipie/issues/201) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/6799ca7f-edc3-41e1-a6e8-c095c9506ffc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2020-06-09 12:47] 0crat commented on #195
@brastak[/z](https://www.0crat.com/u/brastak) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-09 14:46] 0crat commented on #198
@brastak[/z](https://www.0crat.com/u/brastak) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-09 16:03] g4s8 commented on #201
@rultor release, tag=`0.6`

[2020-06-09 16:05] rultor commented on #201
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22328-641402005)

[2020-06-09 16:08] rultor commented on #201
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22328-641402005) (took me 2min)

[2020-06-11 05:34] jeffzhu503 commented on #196
I am not sure why you need to put the restriction here.  Once you have depth fixed, your router shall be able to tell which part of url is the repo name.  For example,
For example, one of routes is "POST", "api/:repo/artifact".  Now the user curl api/one/two/artifact will upload the new artifact to the repo.  If the user curl api/one/two/three/four, your server may respond with "invalid path or no

[2020-06-11 08:01] g4s8 commented on #201
@rultor release, tag=`0.6.3`

[2020-06-11 08:02] rultor commented on #201
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22328-642482145)

[2020-06-11 08:04] rultor commented on #201
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22328-642482145) (took me 2min)

[2020-06-11 09:51] yegor256 opened #203 "credentials.yml may be simplied"
Currently, this is the format:

[code]

I'm suggesting this:

[code]

[2020-06-11 09:51] 0crat commented on #203
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-11 13:46] 0crat commented on #203
The job [#203](https://github.com/artipie/artipie/issues/203) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/fe5ade0c-9958-4110-83f6-1d3c58c305d4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2020-06-11 22:04] jeffzhu503 opened #204 "[ERROR] JSR-303 validator thrown during initialization: java.lang.NoClassDefFoundError: javax/xml/bind/ValidationException"
1. Git clone artipie repo to Mac local directory.
2. Add the following section from central into the pom.xml after <distributionManagement>
3. Run mvn package
Error: [ERROR] JSR-303 validator thrown during initialization: java.lang.NoClassDefFoundError: javax/xml/bind/ValidationException
	at java.base/java.lang.ClassLoader.defineClass1(Native Method)
	at java.base/java.lang.ClassLoader.defineClass

[2020-06-11 22:04] 0crat commented on #204
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-12 22:44] paulodamaso commented on #176
@g4s8 Should I go on adding the solution to `readme.md` or you'll re-assign @brastak since he provided the actual solution?

[2020-06-13 18:43] 0crat commented on #185
@marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-14 11:57] 0crat commented on #195
The user @brastak[/z](https://www.0crat.com/u/brastak) resigned from [#195](https://github.com/artipie/artipie/issues/195), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-06-14 12:45] 0crat commented on #195
The job [#195](https://github.com/artipie/artipie/issues/195) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/c264f400-6ce4-4cc1-b288-35acd6d9ccf7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2020-06-14 12:57] victornoel commented on #195
@g4s8 can you explain a bit more in details the current architecture and where does this caching should happen? To be honest, the current code is really hard to understand, between the RepoLayout, StorageAliases, RepoConfig and so on, I'm a bit lost :)

[2020-06-14 13:55] 0crat commented on #198
The user @brastak[/z](https://www.0crat.com/u/brastak) resigned from [#198](https://github.com/artipie/artipie/issues/198), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-06-14 14:52] 0crat commented on #198
The job [#198](https://github.com/artipie/artipie/issues/198) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/c95b6f03-ed92-4c35-b216-e9242b51d549); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2020-06-14 15:05] victornoel commented on #198
@g4s8 @olenagerasimova please make a release to validate it works now

[2020-06-15 07:04] g4s8 opened #205 "Speed up docker build"
Create base image with build dependencies

[2020-06-15 07:05] 0crat commented on #205
The job [#205](https://github.com/artipie/artipie/issues/205) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/1228d0e2-3330-4d90-a248-e1d73f57eca4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2020-06-15 07:09] g4s8 commented on #204
@jeffzhu503 it's not an Artipie issue, it's a error log from one of the build plugins, see: https://github.com/jcabi/jcabi-maven-plugin/issues/59

[2020-06-15 07:09] #204 closed

[2020-06-15 07:26] 0crat commented on #204
Job `gh:artipie/artipie#204` is not assigned, can't get performer

[2020-06-15 08:50] g4s8 commented on #129
@jeffzhu503 I suppose it was fixed by @yegor256

[2020-06-15 08:50] #129 closed

[2020-06-15 08:50] g4s8 commented on #132
Fixed

[2020-06-15 08:50] #132 closed

[2020-06-15 09:00] 0crat commented on #135
The job [#135](https://github.com/artipie/artipie/issues/135) assigned to @artemlazarev[/z](https://www.0crat.com/u/artemlazarev), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/4a5ddbd2-ae74-4696-87b2-43ef123cda94); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-06-15 09:08] 0crat commented on #132
Job `gh:artipie/artipie#132` is not assigned, can't get performer

[2020-06-15 09:08] 0crat commented on #129
Job `gh:artipie/artipie#129` is not assigned, can't get performer

[2020-06-15 12:03] g4s8 commented on #205
@rultor release, tag=`0.6.4`

[2020-06-15 12:04] rultor commented on #205
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22361-644087305)

[2020-06-15 12:06] rultor commented on #205
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22361-644087305) (took me 2min)

[2020-06-15 12:56] g4s8 commented on #205
Done

[2020-06-15 12:56] #205 closed

[2020-06-15 13:16] 0crat commented on #205
Job was finished in 5 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-06-15 13:44] 0crat commented on #176
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-15 14:08] g4s8 commented on #205
@rultor release, tag=`0.6.5`

[2020-06-15 14:09] rultor commented on #205
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22361-644157436)

[2020-06-15 14:11] rultor commented on #205
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22361-644157436) (took me 2min)

[2020-06-15 16:22] g4s8 commented on #195
@victornoel can you please report a bug and explain what exactly is not clear? I'll fix the documentation.
Right now we are reading Yaml file on each request using `RepoConfig`. The actual read operation is performed in `RepoLayout` implementation lambdas (see `RepoConfig.fromPublisher` usages).

[2020-06-16 00:01] jeffzhu503 opened #206 "Support OCI registry spec"
We will need to support OCI registry spec - https://github.com/opencontainers/distribution-spec/blob/master/spec.md#use-cases.
I will find more detail later.

[2020-06-16 00:01] 0crat commented on #206
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-16 02:27] g4s8 opened #207 "Update Docker repo"
Update docker to `0.2.4` with 500 error fix: https://github.com/artipie/docker-adapter/issues/212

[2020-06-16 02:27] g4s8 commented on #207
@rultor release, tag=`0.6.6`

[2020-06-16 02:28] rultor commented on #207
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22366-644492536)

[2020-06-16 02:30] rultor commented on #207
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22366-644492536) (took me 2min)

[2020-06-16 03:59] g4s8 commented on #201
@rultor release, tag=`0.6.7`

[2020-06-16 04:00] rultor commented on #201
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22328-644517084)

[2020-06-16 04:02] rultor commented on #201
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22328-644517084) (took me 2min)

[2020-06-16 14:12] g4s8 commented on #207
@rultor release, tag=`0.6.7`

[2020-06-16 14:13] rultor commented on #207
@g4s8 Invalid release tag `0.6.7` specified. There is already a release `0.6.7` newer than the given release in this repository.

[2020-06-16 14:13] rultor commented on #207
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2020-06-16 14:25] g4s8 commented on #207
@rultor release, tag=`0.6.8`

[2020-06-16 14:26] rultor commented on #207
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22366-644799827)

[2020-06-16 14:29] rultor commented on #207
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22366-644799827) (took me 2min)

[2020-06-16 14:43] 0crat commented on #203
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-16 16:09] g4s8 commented on #207
@olegmoz done: now it's working for upload and download, I've managed to push and pull `alpine` image to central.artipie.com

[2020-06-16 16:09] #207 closed

[2020-06-16 16:13] g4s8 commented on #201
Done

[2020-06-16 16:13] #201 closed

[2020-06-16 16:26] 0crat commented on #207
Job `gh:artipie/artipie#207` is not assigned, can't get performer

[2020-06-16 16:46] victornoel commented on #198
@brastak the changes you made in #202 didn't seem to fix the problem. Do you know why? I will try to solve it now that the task is assigned to me.

[2020-06-16 16:46] victornoel commented on #198
@0crat wait for answer

[2020-06-16 17:02] olegmoz commented on #207
@g4s8 great to hear that! Finally :)

[2020-06-16 20:09] brastak commented on #198
@victornoel Benchmarks script is run but fails when pushes jmeter report to `gh-pages` branch. It looks like that the main reason is the base settings for this branch - PR is required to allow push for branch. @g4s8 I think we need to remove this rule from `gh-pages` branch and restrict access with users whitelist. I could not find the reasonable alternative for this.

Also I have created PR to in

[2020-06-17 07:26] yegor256 opened #210 "the UI of the dashboard is very sketchy"
Let's make it look better

[2020-06-17 07:26] 0crat commented on #210
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-17 07:27] 0crat commented on #210
The job [#210](https://github.com/artipie/artipie/issues/210) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/7949a008-4f3c-4ff8-8f6c-b4570052997e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-06-17 07:48] g4s8 opened #211 "Missed example configuration"
Add example config files to start Artipie server locally

[2020-06-17 07:58] 0crat commented on #211
The job [#211](https://github.com/artipie/artipie/issues/211) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/46150c32-ca61-4750-a16d-ada88f34eeaa); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2020-06-17 12:56] g4s8 commented on #211
@artipie/contributors see the readme update, now you can start Artipie server with example configuration files in one line

[2020-06-17 12:56] #211 closed

[2020-06-17 13:13] 0crat commented on #211
Job was finished in 5 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-06-17 13:45] g4s8 opened #213 "Allow insecure SSL certificates"
Add configuration option to allow insecure connection for unknown certificates. It should be **disabled by default**.

[2020-06-17 13:47] g4s8 commented on #213
@rultor release, tag=`0.6.9`

[2020-06-17 13:48] rultor commented on #213
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22384-645384077)

[2020-06-17 13:50] rultor commented on #213
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22384-645384077) (took me 2min)

[2020-06-17 13:51] 0crat commented on #213
The job [#213](https://github.com/artipie/artipie/issues/213) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/49ec8d39-a85d-4e27-bd40-d8f3a02cfc0d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2020-06-17 14:43] yegor256 opened #214 "hit ENTER without entering the password: ArrayIndexOutOfBoundsException"
[code]

[2020-06-17 14:43] 0crat commented on #214
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-17 16:49] 0crat commented on #214
The job [#214](https://github.com/artipie/artipie/issues/214) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/4dcc700e-1bc9-4176-8240-21c1f1df9d82); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2020-06-18 02:54] marceloamadeu commented on #185
@0crat refuse

[2020-06-18 03:09] 0crat commented on #185
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#185](https://github.com/artipie/artipie/issues/185), please stop working. Reason for job resignation: Order was cancelled

[2020-06-18 03:46] 0crat commented on #185
The job [#185](https://github.com/artipie/artipie/issues/185) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/1a0ad16d-0fba-44b1-876e-37a25a8758f4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2020-06-18 07:12] g4s8 commented on #210
@rultor release, tag=`0.7`

[2020-06-18 07:13] rultor commented on #210
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22388-645826425)

[2020-06-18 07:13] yegor256 opened #217 "the name of the repo is not visible in repo.hbs"
Check the content of `repo.hbs`. A the bottom it gives a link, but it's not complete. Let's make the repo name visible there, from Java.

[2020-06-18 07:14] 0crat commented on #217
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-18 07:15] rultor commented on #210
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22388-645826425) (took me 2min)

[2020-06-18 07:24] g4s8 opened #218 "Reset password form"
Let's add a reset password form on user page, to allow users generate passwords for HTTP basic authentication.

[2020-06-18 07:25] 0crat commented on #218
The job [#218](https://github.com/artipie/artipie/issues/218) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/7539702e-f541-4de0-ba49-e2b5a31414ef); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2020-06-18 07:26] 0crat commented on #217
The job [#217](https://github.com/artipie/artipie/issues/217) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/0dff745f-16f3-4038-96bd-164f9d43dd3c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2020-06-18 07:54] yegor256 commented on #210
@yegor256 fixed in #216

[2020-06-18 07:54] #210 closed

[2020-06-18 07:54] yegor256 opened #219 "the UI is still not easy to understand"
Let me fix this

[2020-06-18 07:56] 0crat commented on #219
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-18 07:56] 0crat commented on #219
The job [#219](https://github.com/artipie/artipie/issues/219) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/59f5377d-1e3c-40d9-8513-52f639b8bb9c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-06-18 12:32] g4s8 commented on #219
@rultor release, tag=`0.7.1`

[2020-06-18 12:33] rultor commented on #219
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22392-645987920)

[2020-06-18 12:35] rultor commented on #219
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22392-645987920) (took me 2min)

[2020-06-18 13:48] g4s8 opened #222 "HTTP proxy configuration"
Add http proxy configuration for HTTP client

[2020-06-18 13:58] 0crat commented on #222
The job [#222](https://github.com/artipie/artipie/issues/222) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/3c01ec80-2217-472a-8b55-2f945778464d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2020-06-18 14:04] g4s8 commented on #222
@rultor release, tag=`0.7.2`

[2020-06-18 14:05] rultor commented on #222
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22393-646040663)

[2020-06-18 14:07] rultor commented on #222
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22393-646040663) (took me 2min)

[2020-06-18 14:54] #219 closed

[2020-06-18 14:56] yegor256 opened #224 "UI tweaks"

[2020-06-18 14:58] 0crat commented on #224
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-18 14:59] 0crat commented on #224
The job [#224](https://github.com/artipie/artipie/issues/224) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/2acb90f9-4702-41d6-aeaa-c6e5d47f3fb2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-06-18 15:06] g4s8 commented on #222
@rultor release, tag=`0.7.3`

[2020-06-18 15:08] rultor commented on #222
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22393-646081246)

[2020-06-18 15:10] rultor commented on #222
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22393-646081246) (took me 2min)

[2020-06-18 15:11] 0crat commented on #219
Job was finished in 6 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-06-18 16:59] yegor256 commented on #224
@g4s8 can you please release?

[2020-06-18 17:35] g4s8 commented on #224
@rultor release, tag=`0.7.5`

[2020-06-18 17:36] rultor commented on #224
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22394-646207161)

[2020-06-18 17:39] rultor commented on #224
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22394-646207161) (took me 2min)

[2020-06-18 20:53] jeffzhu503 opened #235 "How to point mvn to central.artipie.com?"
I am running the following command to create Maven project.
mvn archetype:generate -DgroupId=com.jcg.maven -DartifactId=MavenHelloWorldProject -DarchetypeArtifactId=maven-archetype-quickstart -DinteractiveMode=false
Mvn will download a lot of components from central, https://repo.maven.apache.org.  Can we point mvn to the central.artipie.com?

[2020-06-19 08:31] olenagerasimova opened #227 "Rpm repository configuration"
Add settings section for rpm repository configuration:
[code]
Digest parameter - optional, default sha256, configures `Digest` instance for Rpm: sha256 or sha1.
Naming-policy parameter - optional, default plain, configures `NamingPolicy` for Rpm: plain, sha256 or sha1.
Filelists parameter - optional, default true, includes File Lists for Rpm: true or false.

[2020-06-19 09:08] olenagerasimova commented on #227
@0crat assign me

[2020-06-19 09:10] 0crat commented on #227
@olenagerasimova The job [#227](https://github.com/artipie/artipie/issues/227) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/87336700-8ce6-4f2e-826d-14981dca3b1e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://w

[2020-06-19 13:07] #224 closed

[2020-06-19 13:24] 0crat commented on #224
Job was finished in 22 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-06-19 14:02] 0crat commented on #195
@victornoel[/z](https://www.0crat.com/u/victornoel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-20 08:54] victornoel commented on #195
@0crat refuse

[2020-06-20 08:58] victornoel opened #229 "Release workflow seems to be run on each commit"
When looking at https://github.com/artipie/artipie/actions?query=workflow%3A%22Docker+Release+and+Run+Benchmarks%22, it shows that the workflow runs (and fail, luckily) for each commit instead of each release. I don't think that it is expected, is it?

[2020-06-20 08:59] 0crat commented on #229
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-20 08:59] 0crat commented on #195
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#195](https://github.com/artipie/artipie/issues/195), please stop working. Reason for job resignation: Order was cancelled

[2020-06-20 08:59] victornoel commented on #198
@g4s8 I have verified, the benchmarks now seem to be present since latest release: https://github.com/artipie/artipie/tree/gh-pages/benchmarks

[2020-06-20 09:08] victornoel commented on #214
@yegor256 what is the command you ran to get this? where is this password prompt?

[2020-06-20 09:08] victornoel commented on #214
@0crat wait for answer

[2020-06-20 09:13] victornoel commented on #185
@g4s8 should we aim to have the path parameter of all adapters' slices removed too while we are at it?

[2020-06-20 09:53] 0crat commented on #135
@artemlazarev[/z](https://www.0crat.com/u/artemlazarev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-20 09:57] 0crat commented on #195
The job [#195](https://github.com/artipie/artipie/issues/195) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/59a3c9c6-2e0b-4d9a-b5e4-cbe3261d039d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2020-06-22 05:36] artemlazarev commented on #97
@g4s8 It's Time to close this issue as resolved?

[2020-06-22 05:36] artemlazarev commented on #91
@g4s8 It's Time to close this issue as resolved?

[2020-06-22 08:15] g4s8 commented on #218
Done

[2020-06-22 08:15] #218 closed

[2020-06-22 08:15] g4s8 commented on #199
Done

[2020-06-22 08:15] #199 closed

[2020-06-22 08:16] g4s8 commented on #158
Done

[2020-06-22 08:16] #158 closed

[2020-06-22 08:34] 0crat commented on #158
Job `gh:artipie/artipie#158` is not assigned, can't get performer

[2020-06-22 09:10] g4s8 commented on #91
@artemlazarev sure, you can close this ticket if it's solved. We're using this workflow for closing:
 1. Author reports a ticket with problem or improvement
 2. Performer fixes this problem and notifies ticket reporter
 3. Author verifies that the problem was solved and closes the ticket

[2020-06-22 11:11] artemlazarev commented on #91
solved

[2020-06-22 11:11] #91 closed

[2020-06-22 11:12] artemlazarev commented on #97
solved

[2020-06-22 11:12] #97 closed

[2020-06-22 11:29] 0crat commented on #91
Job `gh:artipie/artipie#91` is not assigned, can't get performer

[2020-06-22 11:29] 0crat commented on #97
Job `gh:artipie/artipie#97` is not assigned, can't get performer

[2020-06-22 12:11] g4s8 commented on #217
@yegor256 fixed in https://github.com/artipie/artipie/commit/82efc6dbf4dc26a6fe430f31bb809e3923ed623f

[2020-06-22 12:11] #217 closed

[2020-06-22 12:11] g4s8 commented on #222
Done in #223

[2020-06-22 12:11] #222 closed

[2020-06-22 12:17] g4s8 opened #231 "Collect Artipie metrics"
Add interface to collect Artipie metrics for some common events. This interface is going to be connected to third-party services later. For the first stage, we may just print metrics to log output. Let's start with these metrics:
 - artifact uploaded
 - artifact downloaded
 - artifact upload error
 - artifact download error
 - not authenticated
 - not authorized

Feel free to suggest more metrics

[2020-06-22 12:20] g4s8 opened #232 "Integrate fixed pypi adapter"
Fix all critical pypi issues, release new version and integrate to Artipie.
 - [x] Fix publish and install: https://github.com/artipie/pypi-adapter/issues/33
 - [x] Support HTTP-basic auth: https://github.com/artipie/pypi-adapter/issues/47
 - [ ] Repo index response: https://github.com/artipie/pypi-adapter/issues/41

[2020-06-22 12:21] 0crat commented on #232
The job [#232](https://github.com/artipie/artipie/issues/232) assigned to @artemlazarev[/z](https://www.0crat.com/u/artemlazarev), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/46ac65b9-9a9d-46cb-bb2b-56bf85a01efa); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy

[2020-06-22 12:22] g4s8 opened #233 "NPM and Maven groups"
Support Maven and NPM group repositories configuration.

[2020-06-22 12:22] g4s8 opened #234 "Week#26"
To be implemented on [#26](https://github.com/artipie/artipie/milestone/2) week:
 - [x] Read-only Docker proxy: #237
 - [x] Cache for Maven-proxy: https://github.com/artipie/artipie/issues/236
 - [x] Metrics collect API: https://github.com/artipie/artipie/issues/231
 - [x] Integrate PyPi adapter: https://github.com/artipie/artipie/issues/232
 - [ ] Maven and NPM groups: https://github.com/artipie/

[2020-06-22 12:23] g4s8 commented on #234
@artipie/contributors FYI

[2020-06-22 12:45] olenagerasimova commented on #234
@g4s8 I've created [week 26](https://github.com/artipie/rpm-adapter/milestone/2) milestone in RPM, I think I will create new milestone in rpm for the next week each Friday to make planing more transparent

[2020-06-22 20:20] paulodamaso commented on #176
@0crat wait for @g4s8 definition

[2020-06-22 20:20] paulodamaso commented on #176
@g4s8 ping

[2020-06-23 04:45] 0crat commented on #185
@victornoel[/z](https://www.0crat.com/u/victornoel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-23 07:03] g4s8 commented on #178
Fixed

[2020-06-23 07:03] #178 closed

[2020-06-23 07:03] g4s8 commented on #185
@victornoel not all, some `Slice` implementations needs to know what's the full path of URI (e.g. Docker, NPM) but some doesn't need it (Maven, RPM). So we need to get this path prefix from URI directly instead of using configuration files.

[2020-06-23 07:11] victornoel commented on #185
@g4s8 so they should be removed from the constructors though, no? (and of course the implementation should then be changed to accommodate from what you just said). Do I need to include that in the scope of this issue (i.e., create new todos, tickets, etc) or is that already taken care of in each of the repositories?

[2020-06-23 07:11] victornoel commented on #185
@0crat wait

[2020-06-23 07:20] g4s8 commented on #176
@paulodamaso yes, you can add it in the readme

[2020-06-23 07:21] 0crat commented on #178
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [2d425575-a794-4b4e-8a87-676cfddc5e72](https://www.0crat.com/footprint/CT2E6TK9B/2d425575-a794-4b4e-8a87-676cfddc5e72), Type: "Remove job from WBS"

[2020-06-23 09:06] 0crat commented on #231
The job [#231](https://github.com/artipie/artipie/issues/231) assigned to @olegmoz[/z](https://www.0crat.com/u/olegmoz), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/1996f5a6-f807-467b-a159-2b5082fbfa5e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-06-23 09:27] g4s8 commented on #235
@jeffzhu503 try adding `mirrors` to you `~/.m2/settings.xml` https://github.com/artipie/artipie#maven-proxy-repo
To mirror all remotes not only Maven central, use `*` instead of `central`:
[code]

[2020-06-23 09:31] #198 closed

[2020-06-23 09:33] 0crat commented on #235
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-23 09:37] g4s8 commented on #229
@victornoel thanks, should be fixed: https://github.com/artipie/artipie/commit/929f9ea612f279d4bbf2acfc347f1ec098eeb7c6

[2020-06-23 10:35] #229 closed

[2020-06-23 10:54] 0crat commented on #229
Job `gh:artipie/artipie#229` is not assigned, can't get performer

[2020-06-23 11:42] g4s8 opened #236 "Integrate Maven proxy with cache"
Release Maven proxy with cache and integrate into Artipie.

Depends on https://github.com/artipie/maven-adapter/issues/98

[2020-06-23 11:54] 0crat commented on #236
The job [#236](https://github.com/artipie/artipie/issues/236) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/ce2b0dbf-f56d-40cf-b8d0-597679b304ce); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2020-06-23 13:55] g4s8 commented on #236
@rultor release, tag=`0.7.6`

[2020-06-23 13:57] rultor commented on #236
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22419-648165550)

[2020-06-23 13:59] rultor commented on #236
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22419-648165550) (took me 2min)

[2020-06-24 06:22] victornoel commented on #198
@0crat status

[2020-06-24 07:02] g4s8 commented on #154
@Sammers21 what's the progress of this job?

[2020-06-24 07:03] g4s8 commented on #155
@Sammers21 closing: can't reproduce

[2020-06-24 07:03] #155 closed

[2020-06-24 07:03] 0crat commented on #198
@victornoel This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#198](https://github.com/artipie/artipie/issues/198) is [in scope](http://www.zerocracy.com/policy.html#14) for 20days
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [10days](http://www.zerocracy.com/policy.html#8

[2020-06-24 07:03] Sammers21 commented on #154
@g4s8, no progress

[2020-06-24 07:03] 0crat commented on #155
Job `gh:artipie/artipie#155` is not assigned, can't get performer

[2020-06-24 07:04] g4s8 commented on #7
Fixed in #8

[2020-06-24 07:04] #7 closed

[2020-06-24 07:04] g4s8 commented on #14
Fixed in #20

[2020-06-24 07:04] #14 closed

[2020-06-24 07:05] g4s8 commented on #22
@jeffzhu503 should be fixed in #29

[2020-06-24 07:05] #22 closed

[2020-06-24 07:05] 0crat commented on #169
The job [#169](https://github.com/artipie/artipie/issues/169) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/d8dd28fa-cca8-40b4-9a55-2c9b76a6d57c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-06-24 07:06] Sammers21 commented on #155
@g4s8, if you can't reproduce, does it mean that there is no bug? What about asking me if the issue still present or to request more details on how to reproduce it?

[2020-06-24 07:09] g4s8 commented on #213
Done

[2020-06-24 07:09] #213 closed

[2020-06-24 07:12] g4s8 commented on #185
@victornoel I don't think so, some `Slice` implementations may need this `path` parameter. Current issues, is that we're specifying it in yaml configuration when we can just know it programmatically.

[2020-06-24 07:13] g4s8 commented on #94
Done in #95

[2020-06-24 07:13] #94 closed

[2020-06-24 07:13] victornoel commented on #198
@g4s8 0crat didn't notice the close

[2020-06-24 07:14] g4s8 commented on #93
Done in https://github.com/artipie/artipie/commit/6f7f4501d303597ebaa918fecafdf32a3e79a25a

[2020-06-24 07:14] #93 closed

[2020-06-24 07:14] 0crat commented on #188
The job [#188](https://github.com/artipie/artipie/issues/188) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/49d9239f-c718-4467-afdf-7680792aa50e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2020-06-24 07:14] g4s8 commented on #88
@artemlazarev `_config.yml` is not actually an example config. It's default config for Docker image.

[2020-06-24 07:14] #88 closed

[2020-06-24 07:15] 0crat commented on #88
Job `gh:artipie/artipie#88` is not assigned, can't get performer

[2020-06-24 07:16] g4s8 commented on #36
@olegmoz it seems to be done in #37

[2020-06-24 07:16] #36 closed

[2020-06-24 07:18] 0crat commented on #127
The job [#127](https://github.com/artipie/artipie/issues/127) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/01bbc2ea-20a6-4b7d-a5f7-e93e034343f7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9)

[2020-06-24 07:19] g4s8 opened #237 "Integrate read-only Docker proxy registry"
Release Docker with read-only proxy registry and integrate into Artipie with required configuration settings.

Depends on https://github.com/artipie/docker-adapter/issues/170

[2020-06-24 07:20] 0crat commented on #237
The job [#237](https://github.com/artipie/artipie/issues/237) assigned to @olegmoz[/z](https://www.0crat.com/u/olegmoz), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/3516ab86-25e1-47c1-bf12-af9dd9d9afee); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-06-24 07:21] 0crat commented on #7
Job `gh:artipie/artipie#7` is not assigned, can't get performer

[2020-06-24 07:22] 0crat commented on #14
Job `gh:artipie/artipie#14` is not assigned, can't get performer

[2020-06-24 07:22] 0crat commented on #22
Job `gh:artipie/artipie#22` is not assigned, can't get performer

[2020-06-24 07:25] g4s8 commented on #63
@victornoel thanks, it should be fixed with #205

[2020-06-24 07:25] #63 closed

[2020-06-24 07:31] 0crat commented on #94
Job `gh:artipie/artipie#94` is not assigned, can't get performer

[2020-06-24 07:31] 0crat commented on #93
Job `gh:artipie/artipie#93` is not assigned, can't get performer

[2020-06-24 07:34] 0crat commented on #36
Job `gh:artipie/artipie#36` is not assigned, can't get performer

[2020-06-24 07:45] 0crat commented on #63
Job `gh:artipie/artipie#63` is not assigned, can't get performer

[2020-06-24 08:37] victornoel commented on #63
@g4s8 actually it doesn't, you kept the go offline and didn't skip tests and stuffs

[2020-06-24 09:46] 0crat commented on #227
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-25 05:23] olenagerasimova commented on #169
@g4s8 hm, I'm not sure I see why we should distinguish these situations as outcome is the same: no actions are allowed to current user and return 403 in this case seems reasonable. If we still want to this, please, specify what we should do if `permissions` section is absent. Throw an exception?

[2020-06-25 08:44] g4s8 commented on #155
@Sammers21 I asked for more details one month ago: https://github.com/artipie/artipie/issues/155#issuecomment-633899457 Since you didn't answer, and I can't reproduce it, I got the conclusion that this bug is not actual anymore.

[2020-06-25 08:46] g4s8 commented on #63
@victornoel see https://github.com/artipie/artipie/blob/master/Dockerfile - there are no `go-offline` anymore. Also, all dependencies are predownloaded from base image. The only command to build jar file is:
[code]

[2020-06-25 08:53] victornoel commented on #63
@g4s8 so if the pom change, I need to rebuild the base image?

[2020-06-25 09:04] g4s8 commented on #63
@victornoel no, it's a well known Maven/Docker trick: you're creating base image with dependencies for the project, and if any project dependency change it will be downloaded from internet, but the amount of changed dependencies will be much fewer than bundled dependencies cache, since the majority of dependencies are plugins with dependencies, dependencies of dependencies and so on, you `pom` dep

[2020-06-25 09:06] 0crat commented on #135
The user @artemlazarev[/z](https://www.0crat.com/u/artemlazarev) resigned from [#135](https://github.com/artipie/artipie/issues/135), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-06-25 09:07] victornoel commented on #63
@g4s8 interesting, thanks for the explanation

[2020-06-25 10:44] 0crat commented on #195
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-25 11:17] olenagerasimova commented on #169
@g4s8 hm, maybe we can add one more `credentials` type `public` for this case? This will mean that any user get authorized, then allowing anybody `\*` all `\*` actions should work.

[2020-06-25 11:45] 0crat commented on #135
The job [#135](https://github.com/artipie/artipie/issues/135) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/b88e86df-22f8-4948-b167-12e6fe935929); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2020-06-25 11:49] artemlazarev commented on #135
@paulodamaso i successfully completed the job

[2020-06-25 12:58] paulodamaso commented on #135
@g4s8 please assign it back to @artemlazarev

[2020-06-25 13:48] g4s8 commented on #169
@olenagerasimova I don't think it's a good idea. The common scenario could be: few peoples has upload access for repository, but downloads are public and any user without authentication can download it (like Maven central for instance)

[2020-06-26 06:27] jeffzhu503 opened #239 "Integrate with security component which scans the artifact"
Artipie need to create or integrate a security scanning feature.  When users upload the new artifacts or update the new versions, Artipie must scan it and make sure there is no malicious code or virus attached to the artifacts.

[2020-06-26 06:27] 0crat commented on #239
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-26 08:27] #237 closed

[2020-06-26 08:53] 0crat commented on #237
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olegmoz[/z](https://www.0crat.com/u/olegmoz), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-26 09:02] sereshqua commented on #237
@0crat quality good

[2020-06-26 12:14] g4s8 commented on #236
@rultor release, tag=`0.7.7`

[2020-06-26 12:15] rultor commented on #236
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22419-650146963)

[2020-06-26 12:17] rultor commented on #236
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22419-650146963) (took me 2min)

[2020-06-26 13:33] g4s8 commented on #236
@rultor release, tag=`0.7.8`

[2020-06-26 13:35] rultor commented on #236
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22419-650181785)

[2020-06-26 13:37] rultor commented on #236
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22419-650181785) (took me 2min)

[2020-06-26 13:48] g4s8 commented on #236
Done

[2020-06-26 13:48] #236 closed

[2020-06-26 22:28] portlek opened #244 "I can upload but cannot download."
I can upload my maven project but cannot download, here is the yaml file;
![image](https://user-images.githubusercontent.com/12835420/85905892-61089d80-b815-11ea-9131-89967d9ac2dd.png)
I can access into my self-hosted interface;
![image](https://user-images.githubusercontent.com/12835420/85906011-c066ad80-b815-11ea-8083-df2e67df8381.png)
![image](https://user-images.githubusercontent.com/12835420/

[2020-06-26 22:28] 0crat commented on #244
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-27 12:27] victornoel commented on #198
@g4s8 please can you do something :)

[2020-06-27 12:30] victornoel commented on #214
@yegor256 ping

[2020-06-27 12:42] victornoel commented on #185
@g4s8 so if I understand correctly, for example the url `http://localhost:8080/foo` will use the yaml repo config yaml named `foo.yaml` and thus the slice that is instantiated should take "/" as the path argument? or should it take `foo`?

[2020-06-27 12:47] 0crat commented on #232
@artemlazarev[/z](https://www.0crat.com/u/artemlazarev) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-28 09:47] 0crat commented on #231
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-29 00:34] 0crat commented on #198
@victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#198](https://github.com/artipie/artipie/issues/198), since the job is not in scope anymore

[2020-06-29 05:24] olenagerasimova commented on #227
@0crat wait please for #242 t be merged

[2020-06-29 07:45] 0crat commented on #169
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-29 07:45] 0crat commented on #188
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-29 12:20] g4s8 commented on #244
@portlek hi. Did you add your credentials to `~/.m2/settings.xml` file? Please check this doc: https://maven.apache.org/settings.html

You local Maven config should include credentials if you need authentication, e.g.
[code]

Pay attantion to server `<id>` value, Maven docs says:

So it should exact match your server id of repository or mirror you're using. E.g. repository in `pom.xml` may looks l

[2020-06-29 13:07] portlek commented on #244
I did the same thing but nope. The same issue, I can upload but can't download.

[2020-06-29 13:16] portlek commented on #244
![image](https://user-images.githubusercontent.com/12835420/86010172-b4503b00-ba23-11ea-8759-3979e4ef2794.png)
my pom is like that.
and the Nukkit dependency is here
![image](https://user-images.githubusercontent.com/12835420/86010253-d0ec7300-ba23-11ea-8080-766de5d99428.png)
I can upload it but can't download.

[2020-06-29 13:47] g4s8 commented on #244
@portlek can you please share your `pom.xml` and `settings.xml` full versions? (of course you can hide sensitive information)

[2020-06-29 13:52] portlek commented on #244
settings.xml
![image](https://user-images.githubusercontent.com/12835420/86014240-bff23080-ba28-11ea-94d4-bc2c443a7963.png)
pom.xml
![image](https://user-images.githubusercontent.com/12835420/86014307-d5fff100-ba28-11ea-8404-695c0c0ed442.png)

[2020-06-29 14:26] portlek commented on #244
uploaded files
![image](https://user-images.githubusercontent.com/12835420/86017896-4c065700-ba2d-11ea-8095-41123a44cdb8.png)
and the log is like that
[code]

[2020-06-29 14:34] g4s8 commented on #232
@rultor release, tag=`0.7.9`

[2020-06-29 14:35] rultor commented on #232
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22454-651161986)

[2020-06-29 14:37] rultor commented on #232
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22454-651161986) (took me 2min)

[2020-06-29 14:41] g4s8 commented on #232
Done

[2020-06-29 14:41] #232 closed

[2020-06-29 14:41] g4s8 commented on #234
Done

[2020-06-29 14:41] #234 closed

[2020-06-29 14:48] g4s8 commented on #135
@0crat resign

[2020-06-29 14:48] #135 closed

[2020-06-29 14:49] g4s8 opened #248 "Week#27"
This is the plan for `#27` week:
 - [x] - Atomic save of file storage: #249
 - [x] - Simple metrics collector in-memory implementation: #231
 - [x] - Groups implementation: #233
 - [ ] - Caching Docker proxy: #250

[2020-06-29 14:59] 0crat commented on #234
Job `gh:artipie/artipie#234` is not assigned, can't get performer

[2020-06-29 14:59] 0crat commented on #135
@g4s8 The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#135](https://github.com/artipie/artipie/issues/135), please stop working. Reason for job resignation: Order was cancelled

[2020-06-29 15:01] 0crat commented on #232
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @artemlazarev[/z](https://www.0crat.com/u/artemlazarev), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-29 15:06] 0crat commented on #135
Job `gh:artipie/artipie#135` is not assigned, can't get performer

[2020-06-29 16:41] sereshqua commented on #232
@0crat quality bad

[2020-06-29 16:51] 0crat commented on #232
Quality is low, no payment, see [§31](http://www.zerocracy.com/policy.html#31)

[2020-07-01 16:10] olenagerasimova commented on #227
closed via #242

[2020-07-02 08:40] g4s8 opened #249 "Atomic save for file storage"
Include asto fix with atomic save of file storage to Artipie release: https://github.com/artipie/asto/issues/203

[2020-07-02 08:42] g4s8 opened #250 "Caching Docker proxy"
Implement caching proxy Docker registry https://github.com/artipie/docker-adapter/issues/172 and include it to Artipie next release.

[2020-07-02 08:47] g4s8 opened #251 "Week#28"
The plan for `#28` week 2020:
 - [x] Finish logging: #197
 - [x] Collect metrics: #231
 - [x] Fix and release files adapter: #260

@artipie/contributors feel free to suggest some plans for the next week here, It will be locked this Friday.

[2020-07-02 08:55] 0crat commented on #250
The job [#250](https://github.com/artipie/artipie/issues/250) assigned to @olegmoz[/z](https://www.0crat.com/u/olegmoz), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/1f5cf289-09b4-4d9a-94f4-7ccfa97e0b21); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-07-02 11:33] g4s8 opened #253 "Dashboard doesn't process settings"
Dashboard input form doesn't process `settings` element. It should add it to new yaml configuration file as well as other elements.

[2020-07-02 11:55] g4s8 commented on #249
Done in #255

[2020-07-02 11:55] #249 closed

[2020-07-02 12:08] g4s8 commented on #233
@rultor release, tag=`0.8`

[2020-07-02 12:09] rultor commented on #233
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22481-652967598)

[2020-07-02 12:11] rultor commented on #233
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22481-652967598) (took me 2min)

[2020-07-02 12:14] 0crat commented on #249
Job `gh:artipie/artipie#249` is not assigned, can't get performer

[2020-07-02 12:20] g4s8 commented on #233
Done

[2020-07-02 12:20] #233 closed

[2020-07-02 12:54] 0crat commented on #233
Job `gh:artipie/artipie#233` is not assigned, can't get performer

[2020-07-02 14:55] g4s8 commented on #244
@portlek thanks for the logs. I can't find any upload logs, are you sure that the artifact was published to Artipie instance? It seems it just can't find Maven artifact because it doesn't exist on storage.

[2020-07-02 17:43] portlek commented on #244
it's in the storage, I just share the downloading logs not uploading, it's not here.

[2020-07-02 17:48] portlek commented on #244
`maven/cn/nukkit/nukkit/1.0-SNAPSHOT/nukkit-1.0-SNAPSHOT.jar`
artipie want to get this file which has not time prefix but, also artipie is uploading;
![image](https://user-images.githubusercontent.com/12835420/86393061-21bece80-bca5-11ea-88d3-8f4c52c3763c.png)
this file which has time prefix.
maybe the issue about that?
if so, how I can upload my mvn project without time prefix via artipie

[2020-07-03 11:43] portlek commented on #244
![image](https://user-images.githubusercontent.com/12835420/86465961-5f6e3680-bd3b-11ea-8f12-60c52b8d28a3.png)
I think the problem is here the maven-adapter/s README says that and I'm using mvn clean deploy command then my files have time prefix so, maven adapter is looking for files that has not time prefix. the problem is probably that.