[2020-07-03 12:47] #227 closed

[2020-07-03 13:53] g4s8 commented on #236
@rultor release, tag=`0.8.1`

[2020-07-03 13:54] rultor commented on #236
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22419-653559402)

[2020-07-03 13:56] rultor commented on #236
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22419-653559402) (took me 2min)

[2020-07-03 14:04] g4s8 opened #256 "Dashobard is not clear"
It's not clear:
 - password and repository name are two different forms on the same page, user thinks it's one form for repository
 - it's not clear that user needs to click "Update" on config page after creating repository
 - config input form doesn't auto-format yaml, and doesn't highlight syntax
 - show "Update" button only if repository exists, show "Create" otherwise

[2020-07-03 14:33] olenagerasimova commented on #251
@g4s8 please check preliminary rpm-adapter milestone https://github.com/artipie/rpm-adapter/milestone/4 for week 28

[2020-07-05 16:55] victornoel commented on #185
@g4s8 ping :)

[2020-07-05 16:55] victornoel commented on #214
@yegor256 ?

[2020-07-06 06:57] #248 closed

[2020-07-06 07:13] 0crat commented on #248
Job `gh:artipie/artipie#248` is not assigned, can't get performer

[2020-07-06 11:05] g4s8 commented on #185
It should be `/foo` in your example.

[2020-07-06 11:35] g4s8 opened #258 "HTTP layer refactoring"
Artipie has a lot of prototyping code which becomes production. Let's refactor all stable components in http layer.

[2020-07-06 11:56] 0crat commented on #258
The job [#258](https://github.com/artipie/artipie/issues/258) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/8e8dd995-fe85-4600-a019-83c4166d2adf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2020-07-06 12:45] g4s8 opened #260 "Files adapter fails for upload"
Files adapter fails when uploading any file:
[code]

CC: @acheshkov

[2020-07-06 12:48] g4s8 opened #261 "Maven proxy unable to reply HTTP over HTTPS connection"
Maven proxy fails for package https://central.artipie.com/g4s8/maven/org/slf4j/slf4j-simple/1.7.21/slf4j-simple-1.7.21.pom:
[code]

Fixed after restart.

[2020-07-06 12:50] 0crat commented on #260
The job [#260](https://github.com/artipie/artipie/issues/260) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/4bedc596-ea38-4826-aa69-9122d497478b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2020-07-06 13:18] g4s8 commented on #260
@rultor release, tag=`0.8.2`

[2020-07-06 13:19] rultor commented on #260
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22509-654231274)

[2020-07-06 13:21] rultor commented on #260
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22509-654231274) (took me 2min)

[2020-07-06 14:01] #244 closed

[2020-07-06 14:06] portlek opened #263 "The download process does not work."
My upload log:
[code]
My download log:
[code]
Files:
![image](https://user-images.githubusercontent.com/12835420/86602132-e7a64300-bfaa-11ea-9a74-708c80130644.png)
![image](https://user-images.githubusercontent.com/12835420/86602149-ebd26080-bfaa-11ea-9c53-f05a6152c7a1.png)

I think,
[INFO] 2020-07-06 17:04:15,534 FileStorage-10 com.artipie.asto.fs.FileStorage - Exists 'MinecraftHouse/maven/com/mi

[2020-07-06 14:06] 0crat commented on #263
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-07-06 14:15] portlek commented on #263
my bad. I wrote the wrong version string.

[2020-07-06 14:15] #263 closed

[2020-07-06 14:18] 0crat commented on #244
Job `gh:artipie/artipie#244` is not assigned, can't get performer

[2020-07-06 14:21] olegmoz commented on #231
@g4s8 as the metrics are collected in Artipie we can operate only on HTTP request/response level of abstractions, so collecting counters of artifacts uploads and downloads is not really possible. What I propose instead is to collect number of success and error requests by method. Error responses have status code `4xx` or `5xx`, all others considered to be success.

Unauthenticated requests could b

[2020-07-06 14:32] 0crat commented on #263
Job `gh:artipie/artipie#263` is not assigned, can't get performer

[2020-07-06 14:44] g4s8 commented on #244
@portlek got it, thanks. Do you use snapshots? We don't fully support snapshots for yet, but it should be fixed soon.

[2020-07-06 14:46] portlek commented on #244
Yes I was using 1.0-SNAPSHOT version string and you can upload but cannot upload with it. So, I've just changed 1.0-SNAPSHOT to 1.0 and It's working now!

[2020-07-06 14:48] g4s8 commented on #231
@olegmoz yes, sounds good, let's start with these metrics

[2020-07-06 14:50] 0crat commented on #261
The job [#261](https://github.com/artipie/artipie/issues/261) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/853ee347-211a-49cb-8aeb-8027899e3910); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2020-07-06 14:58] g4s8 opened #264 "Artipie documentation on create repo page is not correct"
The documentation says
[code]

It's not correct, it should be the same as on the readme page.

[2020-07-06 15:02] 0crat commented on #264
The job [#264](https://github.com/artipie/artipie/issues/264) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/2b63bbc7-b5c9-440c-a187-1d02cf411152); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2020-07-06 22:18] jeffzhu503 opened #265 "Deployment how to scale out Artipie installation"
One of features in Artipie is "It is horizontally scalable, you can add servers easily".
We are using docker to deploy Artipie.  So how can we deploy more dockers to make it scalable?  My suggestion is we will need to create Helm chart how we deploy Artipie and make use of Kubernetes features in our project.  This will also help us promote the project to Kubernetes community.

[2020-07-07 09:47] 0pdd opened #267 "InMemoryMetrics.java:36-39: Support gauges in..."
The puzzle `231-69751ecf` from #231 has to be resolved:

https://github.com/artipie/artipie/blob/a5fd2ac67c624bb837561250418d608c4526c335/src/main/java/com/artipie/metrics/memory/InMemoryMetrics.java#L36-L39

The puzzle was created by @olegmoz on 06-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2020-07-07 09:48] 0pdd commented on #231
@g4s8 the puzzle [#267](https://github.com/artipie/artipie/issues/267) is still not solved.

[2020-07-07 09:48] 0crat commented on #267
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-07-07 10:47] 0crat commented on #250
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-07-07 10:55] g4s8 commented on #260
Fixed

[2020-07-07 10:55] #260 closed

[2020-07-07 11:13] 0crat commented on #260
Job was finished in 22 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-07 13:55] 0pdd opened #272 "ResponseMetricsSlice.java:42-44: Test request and..."
The puzzle `231-64301158` from #231 has to be resolved:

https://github.com/artipie/artipie/blob/36a1c5a395adebe1d657e1f55718d47e66666eb4/src/main/java/com/artipie/ResponseMetricsSlice.java#L42-L44

The puzzle was created by @olegmoz on 07-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pr

[2020-07-07 13:55] 0pdd opened #273 "ResponseMetricsSlice.java:45-48: Report exceptions as..."
The puzzle `231-bfc96007` from #231 has to be resolved:

https://github.com/artipie/artipie/blob/36a1c5a395adebe1d657e1f55718d47e66666eb4/src/main/java/com/artipie/ResponseMetricsSlice.java#L45-L48

The puzzle was created by @olegmoz on 07-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pr

[2020-07-07 13:56] 0pdd commented on #231
@g4s8 3 puzzles [#267](https://github.com/artipie/artipie/issues/267), [#272](https://github.com/artipie/artipie/issues/272), [#273](https://github.com/artipie/artipie/issues/273) are still not solved.

[2020-07-07 13:56] 0crat commented on #273
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-07-07 13:56] 0crat commented on #272
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-07-07 14:14] 0crat commented on #272
The job [#272](https://github.com/artipie/artipie/issues/272) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/6ea20c2f-318f-4c1a-aca4-569356625457); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/

[2020-07-07 14:50] g4s8 opened #274 "Special routing for Docker registry"
Artipie may have different path layouts (flat paths like `/repo-name` and org like `/org-name/repo-name`). But docker registry endpoints starts with `/v2` prefixes. Maybe we can handle this case on Artipie level: some `Slice` implementation intercepts requests like virtual proxy starting with `/v2` and redirect it to underlying `Slice` implementations. @artipie/contributors WDYT?

[2020-07-07 17:09] victornoel commented on #185
@0crat wait for #275 to be merged

[2020-07-07 17:11] 0crat commented on #185
@victornoel Job [#185](https://github.com/artipie/artipie/issues/185) is already on hold

[2020-07-07 17:22] olegmoz commented on #274
@g4s8 we may have special case for empty repository name, it could be always mapped to Docker

[2020-07-08 05:59] Sammers21 opened #276 "Artipie user experience is completely broken: user interface"
When you start artipie locally, the message is displayed:
[code]
Then a user tries to visit localhost:8080, and, what user gets here is just NOTHING:
[code]
There is no way for a user to get to a dashboard

[2020-07-08 06:00] 0crat commented on #276
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-07-08 06:05] olenagerasimova commented on #169
@g4s8 can we close this?

[2020-07-08 06:05] Sammers21 opened #277 "Artipie user experience is completely broken: quick start"
The instructions you need to follow in order to start a simple repository is hard to follow. If someone would try make something simple with artipie he will give up in a few minutes. In comparison with artifactory, which can be started in just one line, artipie has the worst possible user experience ever.

[2020-07-08 06:06] 0crat commented on #277
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-07-08 06:19] Sammers21 opened #278 "Issues in the repository is managed in a bad way"
* Some of the issues in are not up to date
* The external contributors are not welcome because they don't know where they can help
* Tagging is inconsistent
* Discussions in some of the issues completely spammed with bots

[2020-07-08 06:19] 0crat commented on #278
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-07-08 06:22] Sammers21 opened #279 "Request: $Line took an additional line in logs"
That is how it should be:
[code]

That is how it is:
[code]

[2020-07-08 06:22] 0crat commented on #279
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-07-08 07:18] 0crat commented on #279
The job [#279](https://github.com/artipie/artipie/issues/279) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/b256641a-b2bf-4bba-8de9-3fba6ed6fccc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2020-07-08 07:21] g4s8 commented on #278
@Sammers21 can you provide more details:

What issues are not up to date?

What did you mean by this?

[2020-07-08 07:22] g4s8 commented on #277
@Sammers21 it's not really constructive: how would you suggest improving it?

[2020-07-08 07:31] g4s8 commented on #276
@Sammers21 keep in mind that dashboard is available only for organization based repository layout, we can't show dashboard for flat structure.

We may check auth headers and redirect user to profile page if auth is valid, or ask for credentials otherwise, would it be ok?

[2020-07-08 07:43] g4s8 opened #282 "Dashboard may not update repo config elements"
Some elements may not be updated via dashboard, such as settings or permissions

[2020-07-08 07:49] 0crat commented on #282
The job [#282](https://github.com/artipie/artipie/issues/282) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/baf7425d-6118-4062-ade8-e0ba57e14e56); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2020-07-08 08:19] g4s8 commented on #282
@rultor release, tag=`0.8.3`

[2020-07-08 08:20] rultor commented on #282
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22526-655367366)

[2020-07-08 08:23] rultor commented on #282
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22526-655367366) (took me 2min)

[2020-07-08 08:53] g4s8 opened #284 "Generate default configuration files"
Generate default configuration files if doesn't exist on start.

[2020-07-08 08:56] g4s8 opened #285 "Use Github tokens for central.artipie.com users"
Use GitHub personal tokens as HTTP basic authentication for central users, user generates token in personal settings, uses it as password for authentication and uses special username like `github.com/username`. Artipie authenticates user via GitHub API by token and validates username.

[2020-07-08 08:57] g4s8 opened #286 "Different templates for repositories"
Let's use different repository config templates on create repo. Show switch-box for repository types and render templates based on this param.

[2020-07-08 09:00] g4s8 opened #287 "Show form update success and error status"
Let's show success and error statuses on form updates for all forms in the dashboard.

[2020-07-08 09:27] #279 closed

[2020-07-08 09:51] 0crat commented on #279
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-08 09:51] 0crat commented on #279
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @sammers21[/z](https://www.0crat.com/u/sammers21), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-07-08 11:37] g4s8 commented on #169
@olenagerasimova thanks

[2020-07-08 11:37] #169 closed

[2020-07-08 11:37] g4s8 commented on #282
@rultor release, tag=`0.8.4`

[2020-07-08 11:38] rultor commented on #282
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22526-655464163)

[2020-07-08 11:40] rultor commented on #282
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22526-655464163) (took me 2min)

[2020-07-08 14:58] 0pdd opened #290 "MetricsLogPublisher.java:37-40: Support gauge publishing..."
The puzzle `231-f0ff443a` from #231 has to be resolved:

https://github.com/artipie/artipie/blob/f8232b260fbb25c3e8be5379ad01c78c18853eec/src/main/java/com/artipie/metrics/memory/MetricsLogPublisher.java#L37-L40

The puzzle was created by @olegmoz on 07-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done

[2020-07-08 14:58] 0pdd opened #291 "Add tests for `MetricsLogPublisher`."
The puzzle `231-c625a5c3` from #231 has to be resolved:

https://github.com/artipie/artipie/blob/f8232b260fbb25c3e8be5379ad01c78c18853eec/src/main/java/com/artipie/metrics/memory/MetricsLogPublisher.java#L41-L43

The puzzle was created by @olegmoz on 07-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done

[2020-07-08 14:58] 0pdd commented on #231
@g4s8 5 puzzles [#267](https://github.com/artipie/artipie/issues/267), [#272](https://github.com/artipie/artipie/issues/272), [#273](https://github.com/artipie/artipie/issues/273), [#290](https://github.com/artipie/artipie/issues/290), [#291](https://github.com/artipie/artipie/issues/291) are still not solved.

[2020-07-08 15:00] 0crat commented on #291
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-07-08 15:01] 0crat commented on #290
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-07-08 15:05] #250 closed

[2020-07-08 15:05] 0pdd opened #292 "ResponseMetricsSlice.java:94-96: Remove ad-hoc error..."
The puzzle `231-2cd4db3f` from #231 has to be resolved:

https://github.com/artipie/artipie/blob/3635471e98a4cd15df06e14b2eddceb83f43ea57/src/main/java/com/artipie/ResponseMetricsSlice.java#L94-L96

The puzzle was created by Oleg Mozzhechkov on 08-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2020-07-08 15:05] 0pdd commented on #231
@g4s8 6 puzzles [#267](https://github.com/artipie/artipie/issues/267), [#272](https://github.com/artipie/artipie/issues/272), [#273](https://github.com/artipie/artipie/issues/273), [#290](https://github.com/artipie/artipie/issues/290), [#291](https://github.com/artipie/artipie/issues/291), [#292](https://github.com/artipie/artipie/issues/292) are still not solved.

[2020-07-08 15:24] 0crat commented on #250
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olegmoz[/z](https://www.0crat.com/u/olegmoz), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-07-08 15:28] 0crat commented on #274
The job [#274](https://github.com/artipie/artipie/issues/274) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/93888055-362c-4fa7-ad11-b1413023b1da); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2020-07-08 15:55] sereshqua commented on #250
@0crat quality good

[2020-07-09 06:49] pavlukhin commented on #277
Actually +1 for this issue. A attempted to try out a binary distribution. I used following instructions from https://github.com/artipie/artipie/blob/master/README.md

[Docker](https://docs.docker.com/get-docker/). First,
create a new directory `artipie` and `repo` sub-directory inside it. Then, put your
YAML config file into the `repo` sub-dir. Make sure that the name of your config file
is the na

[2020-07-09 07:59] Sammers21 opened #295 "Auth required by default and broken"
Run this:
[code]

`repo.yaml` file:
[code]

When I try to use the storage, I can't do it:

[code]

The auth should be disabled if it is disabled in the repo file.

When I try to use test as login and pass:123 as a password, I still get 401:
[code]

[2020-07-09 09:34] g4s8 opened #297 "Invalid repo name for group repository"
[code]

[2020-07-09 11:43] #231 closed

[2020-07-09 11:49] g4s8 commented on #282
Fixed

[2020-07-09 11:49] #282 closed

[2020-07-09 12:00] 0crat commented on #231
Job [#231](https://github.com/artipie/artipie/issues/231) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-07-09 12:01] 0crat commented on #231
Job [#231](https://github.com/artipie/artipie/issues/231) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-07-09 12:01] g4s8 commented on #297
Fixed in https://github.com/artipie/artipie/commit/65e4ad51ae074fd714072751f34087a95301adc1

[2020-07-09 12:01] 0crat commented on #231
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olegmoz[/z](https://www.0crat.com/u/olegmoz), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-07-09 12:01] #297 closed

[2020-07-09 12:03] sereshqua commented on #231
@0crat quality good

[2020-07-09 12:09] 0crat commented on #282
Job was finished in 28 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-09 12:19] 0crat commented on #297
Job `gh:artipie/artipie#297` is not assigned, can't get performer

[2020-07-09 13:56] g4s8 opened #298 "Docker registry doesn't work"
It seems `/v2/` prefixes are broken for docker.

[2020-07-09 14:05] 0crat commented on #298
The job [#298](https://github.com/artipie/artipie/issues/298) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/f99e3c55-c87d-47d9-b00c-083bfc1b50bf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the

[2020-07-09 15:00] g4s8 commented on #297
@0crat status

[2020-07-09 15:09] g4s8 commented on #197
Done fully

[2020-07-09 15:09] #197 closed

[2020-07-09 15:09] g4s8 commented on #253
Fixed

[2020-07-09 15:09] #253 closed

[2020-07-09 15:09] g4s8 commented on #258
Done

[2020-07-09 15:09] #258 closed

[2020-07-09 15:12] 0crat commented on #297
@g4s8 This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#297](https://github.com/artipie/artipie/issues/297) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT2E6TK9B?q=%7Bjob%3A%27gh%3Aartipie%2Fartipie%23297%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-07-09 15:17] 0crat commented on #295
The job [#295](https://github.com/artipie/artipie/issues/295) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/6757b6fa-cc4a-4c93-8407-0023371e11f0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2020-07-09 15:25] paulodamaso commented on #203
@yegor256 merged, please close

[2020-07-09 15:26] 0crat commented on #197
Job `gh:artipie/artipie#197` is not assigned, can't get performer

[2020-07-09 15:27] 0crat commented on #253
Job `gh:artipie/artipie#253` is not assigned, can't get performer

[2020-07-10 05:46] Sammers21 opened #299 "The credentials section should be optional"
The credential section in the artipie.yaml file should be optional by default:
[code]

Anyone should be able to do whatever possible by default

[2020-07-10 05:49] Sammers21 opened #300 "Credentials type = file has unclear meanining"
What is section meaning? What does `type: file` mean? What if there is no file system?

[code]

[2020-07-10 05:50] Sammers21 opened #301 "Layout should be optional by default"
The layout section should be optional and the value should be `flat` by default

[code]

[2020-07-10 05:55] Sammers21 opened #302 "Config validation mechanism"
After creating a dozen of configuration files and directories it is nearly impossible to troubleshoot. Artipie is not providing any human-readable feedback. The user could not be sure if a configured repo will work properly.

[2020-07-10 06:00] Sammers21 opened #303 "Lack of flexibility options"
Why there is no way to chose: to configure anything in one file, in two files, or to create anything just like in the example? Lack of such simple flexibility seriously damage resulted user experience

[2020-07-10 06:23] Sammers21 opened #304 "Non user-friendly startup error"
If I would just run artipie without any options. A stack trace is printed:

[code]

It is a very bad way to tell a user that he should provide options.

[2020-07-10 07:07] Sammers21 opened #305 "Artipie prints empty metrics to log"
When i strart artipie with example config, I get this:
[code]

The `Counters` printing is completely useless. If there no metrics, why do you print them? Why not printing it only once, filled with zeros and then print them when they appear. The second question is why do they print every 5 seconds and why there is no option to disable it?

The overall user impression would be: a total inconvenience

[2020-07-10 07:17] g4s8 commented on #303
@Sammers21 it seems to be a duplicate of #284

[2020-07-10 07:18] g4s8 commented on #305
@Sammers21 agree, let's not print empty metrics and configure the interval for logging.

[2020-07-10 07:19] Sammers21 commented on #303
@g4s8, no it is not a duplicate

[2020-07-10 07:19] g4s8 commented on #301
@Sammers21 are you sure it's not optional? It should be already optional right now and `flat` by default.

[2020-07-10 07:20] g4s8 commented on #300
@Sammers21 it means that credential configuration is located in a file called `_credentials.yaml`, it's not about file-system but rather about file. How would you suggest to rename it?

[2020-07-10 07:23] g4s8 commented on #303
@Sammers21 can you elaborate? It's not clear from the description. It seems to be a duplicate. Please describe the problem clearly and suggest the solution. What files are you talking about? What are you suggesting?

[2020-07-10 07:26] Sammers21 commented on #303
@g4s8, if I'm reporting a problem I don't think and should not think about a probable solution

[2020-07-10 07:38] Sammers21 commented on #301
@g4s8, it is true, then you should update the `example` dir.

[2020-07-10 07:43] Sammers21 commented on #300
@g4s8, is not it clear from `path`?

[2020-07-10 07:48] Sammers21 commented on #303
@g4s8, to make it more clear for you: there is no ability to keep two repositories in one file, or to keep everything in one file, or to keep credentials and permissions in one file while keeping everything else in another.

[2020-07-10 07:54] Sammers21 commented on #305
@g4s8, let's also add an option for metrics to be disabled by default

[2020-07-10 08:47] g4s8 opened #307 "Add GitHub magic files"
Add contributing policy, issues and PR templates and other GitHub magic files.

[2020-07-10 09:30] g4s8 commented on #300
@Sammers21 we will have different credentials providers, e.g. LDAP, database, GitHub, etc. `type: file` means that credentials are stored in a file with credentials.

[2020-07-10 09:32] g4s8 commented on #301
@Sammers21 example dir is trying to be as much verbose as it can to show all possible configuration options to a user. I'd keep `layout` there.

[2020-07-10 09:55] g4s8 commented on #305
@Sammers21 it should be a part of #304 - if we don't put metrics section, then we should not enable it.

[2020-07-10 10:02] Sammers21 commented on #305
@g4s8, I thing logging interval should be specified in the cron format.

[2020-07-10 10:41] g4s8 commented on #305
@Sammers21 yes, it makes a sense. But I would start with more simple configuration for the beginning, e.g. number of seconds.

[2020-07-10 11:49] Sammers21 commented on #300
@g4s8, file refers to a file storage. Path refers to a key, not necessary on a file storage

[2020-07-10 13:00] g4s8 commented on #300
@Sammers21 so what would you suggest as a type for this kind of credentials provider?

[2020-07-10 18:21] paulodamaso commented on #176
@0crat wait for https://github.com/artipie/artipie/pull/310

[2020-07-11 06:52] geekdosage commented on #298
Try to create a docker registry according to this [**tutorial**](https://geekdosage.com/how-to-create-a-private-docker-registry-on-centos/)

[2020-07-12 20:54] paulodamaso commented on #295
@Sammers21 Seems that `ArtipieApi` does not handles `PUT` requests yet, please take a look at the class.

[2020-07-12 20:55] paulodamaso commented on #261
@g4s8 could you please provide more information abou this one?

[2020-07-13 08:17] 0crat commented on #176
@paulodamaso Job [#176](https://github.com/artipie/artipie/issues/176) is already on hold

[2020-07-13 08:46] g4s8 commented on #298
Fixed in https://github.com/artipie/artipie/commit/dd0433bcaf4c990c9c774a845f234d6dd1b89a31

[2020-07-13 08:46] #298 closed

[2020-07-13 08:56] 0crat commented on #261
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 7days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-07-13 08:58] 0crat commented on #272
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 6days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-07-13 08:58] g4s8 commented on #261
@paulodamaso sure:
 - this error happens time to time
 - it's fixing after instance restart
 - it's stable when happens: if this error happens Artipie will not be able to resolve this dependency until restart

Let me know if you need more details.

[2020-07-13 09:32] Sammers21 opened #311 "There are 1 parameter(s) but only 0 format argument(s) were provided."
Artipie startup commad
[code]

Dir structure:
[code]

__`artipie.yaml`__:
[code]

__`repo.yaml`__:
[code]

Bug occurence:
[code]

[2020-07-13 09:59] Sammers21 opened #312 "Throubleshooting instumentation"
For now, there is no way for a user to troubleshoot a common problems he faces by himself. Artipie should definitely have it. A  command-line utility, plugins for various IDEs and text editors, direct feedback in the logs would improve it.

[2020-07-13 11:12] olegmoz opened #313 "Support authentication for Docker proxy repository"
Remote Docker proxy accessed by proxy may require authentication. It should be possible to specify username and password for such repository. Docker adapter `0.2.9` supports this feature.

[2020-07-13 12:24] #304 closed

[2020-07-13 12:36] g4s8 commented on #311
@rultor release, tag=`0.8.11`

[2020-07-13 12:37] rultor commented on #311
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22582-657535203)

[2020-07-13 12:39] rultor commented on #311
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22582-657535203) (took me 2min)

[2020-07-13 13:00] g4s8 commented on #311
@Sammers21 should be fixed, try `0.8.11`

[2020-07-13 13:01] 0crat commented on #304
Job `gh:artipie/artipie#304` is not assigned, can't get performer

[2020-07-13 13:21] g4s8 commented on #274
Fixed in #293

[2020-07-13 13:21] #274 closed

[2020-07-13 13:24] g4s8 opened #317 "Render repository configuration"
Dashboard repository page should render repository configuration. E.g. maven repository can render settings for `pom.xml` or `~/.m2/settings.xml`, Docker registry instructions for pull and push, etc.

 - [ ] Maven
 - [ ] Docker
 - [ ] NPM
 - [ ] RPM
 - [ ] PyPi
 - [ ] Gem
 - [ ] NuGet
 - [ ] Helm
 - [ ] Binary/file
 - [ ] PHP

[2020-07-13 14:45] paulodamaso commented on #261
@g4s8 I need some other information:
- how are you running the artipie code? What is your configuration?

[2020-07-13 15:29] #251 closed

[2020-07-13 15:58] 0crat commented on #251
Job `gh:artipie/artipie#251` is not assigned, can't get performer

[2020-07-13 19:10] Sammers21 commented on #285
0 references to the official documentation. I suggest you add them

[2020-07-14 06:57] jeffzhu503 opened #320 "Java exception if : is missing in the yaml file"
I am updating YAML config of your repository in central.artipie as the following.  I did not add ":" after the account name
repo:
  type: file
  storage: default
  permissions:
    jeffzhu503
      - upload
      - download
I hit the exception which shall be handled gracefully with the yaml file formatting error.

java.util.concurrent.CompletionException: com.amihaiemil.eoyaml.exceptions.YamlInden

[2020-07-14 06:59] jeffzhu503 opened #321 "Drop the repo from the dashboard or API"
After I create a "test" repo in the central.artipie, I realize that I can't drop/delete the repo from the site.  We need this feature and the api.

[2020-07-14 07:06] Sammers21 opened #322 "JDK 14 with JEP 358: Helpful NullPointerExceptions enabled for docker image"
Since NullPointer Exceptions are common in artipie, I would like to suggest to switch to JDK 14 and enable JEP 358.

[2020-07-14 11:07] g4s8 opened #324 "Files proxy"
Integrate file-proxy repository: https://github.com/artipie/files-adapter/issues/16

[2020-07-14 13:54] g4s8 opened #326 "HTTP client timout for keep-alive connection"
Configure timeouts for `keep-alive` connection for proxy repositories in HTTP client. Right now it may hang if internal network resets keep-alive connections.

[2020-07-14 15:37] akuleshov7 opened #327 "Binary files download in browser shows a preview of a file"
It should not be printed like a plain text file. It should trigger a download instead of dummy text.
See: https://central.artipie.com/akuleshov7/file/ktlint

[2020-07-14 15:51] 0crat commented on #295
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-07-15 06:16] Sammers21 opened #329 "Reme rework"
For now, the readme is a huge and bad-structured document. The situation could be improved.

[2020-07-15 07:48] olenagerasimova commented on #305
@Sammers21 #319 was merged, please close this issue

[2020-07-15 08:57] g4s8 commented on #327
@rultor release, tag=`0.8.13`

[2020-07-15 08:58] rultor commented on #327
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22603-658641049)

[2020-07-15 09:00] rultor commented on #327
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22603-658641049) (took me 2min)

[2020-07-15 10:07] #322 closed

[2020-07-15 10:25] 0crat commented on #322
Job was finished in 26 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-15 10:25] 0crat commented on #322
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @sammers21[/z](https://www.0crat.com/u/sammers21), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-07-15 10:59] olegmoz opened #332 "Support for writes to `docker-proxy` repository"
If there is storage configured for Docker proxy repository, then it should be possible to do write operations to such repository as well making such repository `virtual`.

[2020-07-15 11:14] olegmoz opened #333 "Multi-remote configuration for Docker proxy repository"
Proposed format for multi-remote proxy configuration of Docker proxy repository:

[code]

From: https://github.com/artipie/docker-adapter/issues/160

[2020-07-15 11:18] olegmoz opened #334 "Support for TTL and max size for cache storages in proxy repositories"
There should be way to configure maximum size and TTL of entries in proxy repository caches. This should common feature to limit uncontrolled growth of cache storages.

From: https://github.com/artipie/docker-adapter/issues/160

[2020-07-15 11:22] olegmoz commented on #333
@g4s8 please assign this issue to me

[2020-07-15 11:23] olegmoz commented on #332
@g4s8 please assign this issue to me

[2020-07-15 13:48] #313 closed

[2020-07-15 13:48] 0pdd opened #337 "Settings configuration for GitHub auth."
The puzzle `285-66616a94` from #285 has to be resolved:

https://github.com/artipie/artipie/blob/36d95233470090223c491a89f945f48ad1f55b8c/src/main/java/com/artipie/YamlSettings.java#L50-L55

The puzzle was created by @g4s8 on 15-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fi

[2020-07-15 13:48] 0pdd opened #338 "DockerProxy.java:46-49: Unit test coverage for..."
The puzzle `313-c5cc8405` from #313 has to be resolved:

https://github.com/artipie/artipie/blob/36d95233470090223c491a89f945f48ad1f55b8c/src/main/java/com/artipie/docker/DockerProxy.java#L46-L49

The puzzle was created by @g4s8 on 15-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2020-07-15 13:48] 0pdd opened #339 "CachedAuth.java:40-44: Specify expiration time..."
The puzzle `285-b75b90d5` from #285 has to be resolved:

https://github.com/artipie/artipie/blob/36d95233470090223c491a89f945f48ad1f55b8c/src/main/java/com/artipie/auth/CachedAuth.java#L40-L44

The puzzle was created by Kirill on 15-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem i

[2020-07-15 13:48] 0pdd commented on #285
@g4s8 2 puzzles [#337](https://github.com/artipie/artipie/issues/337), [#339](https://github.com/artipie/artipie/issues/339) are still not solved.

[2020-07-15 13:48] 0pdd commented on #313
@olegmoz the puzzle [#338](https://github.com/artipie/artipie/issues/338) is still not solved.

[2020-07-15 14:06] 0crat commented on #313
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olegmoz[/z](https://www.0crat.com/u/olegmoz), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-07-15 15:16] g4s8 commented on #285
Done

[2020-07-15 15:16] #285 closed

[2020-07-15 15:48] g4s8 commented on #284
@rultor release, tag=`0.8.14`

[2020-07-15 15:59] g4s8 commented on #327
@akuleshov7 this bug should be fixed in `0.8.13` release, can we close the ticket?

[2020-07-15 16:04] rultor commented on #284
@g4s8 Invalid release tag `0.8.14` specified. There is already a release `0.8.14` newer than the given release in this repository.

[2020-07-15 16:04] rultor commented on #284
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2020-07-15 16:38] 0pdd opened #341 "VertxMain.java:137-138: Extract this method to separate..."
The puzzle `284-62fad2c1` from #284 has to be resolved:

https://github.com/artipie/artipie/blob/b9e1a3e293b6e1bd42171c7ec431a3c9d5a7c7e7/src/main/java/com/artipie/VertxMain.java#L137-L138

The puzzle was created by @g4s8 on 15-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fix

[2020-07-15 16:38] 0pdd commented on #284
@g4s8 the puzzle [#341](https://github.com/artipie/artipie/issues/341) is still not solved.

[2020-07-16 06:18] Sammers21 opened #344 "Backslash in the end of path should be optional"
Artipie startup command:
[code]

Config structure:
[code]

__`myhelmrepo.yaml`__
[code]
__`artipie.yaml:`__
[code]

[code]

[code]

So I was not able to post a chart until I realized that I need to add a backslash(/) to the end of the path. I think we should allow posting without the backslash in the end.

[2020-07-16 06:48] Sammers21 opened #345 "A subdirectory inside repository storage with a name of repository should not be created"
A situation. A user have a binary repository:
__`repo.yml`__:
[code]

And then he uploads a text.txt file to the repository. The structure of the storage dir will be the following:
[code]

A few days ago user decides to change the repository name to `my-repo.yaml`, while the configuration remains the same. The storage part still the same. Then he tries to reach the `text.txt` file, which was uploa

[2020-07-16 07:35] g4s8 commented on #345
@Sammers21 I don't agree on that: the repository storage should be isolated, and there should not be a way to have some shared data across repositories. It completely breaks authorization concept: if one user has permissions in `repo`, user should not be able to access any data from `repo2` repo without permissions.

Renaming could be an additional feature, where Artipie will handle all data movem

[2020-07-16 07:41] g4s8 commented on #284
@rultor release, tag=`0.8.15`

[2020-07-16 07:42] rultor commented on #284
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22610-659221213)

[2020-07-16 07:44] rultor commented on #284
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22610-659221213) (took me 2min)

[2020-07-16 07:47] Sammers21 commented on #345
Explain it, please. Which authorization concept do you have in mind and how "keeping everything as is" breaks it?

[2020-07-16 07:50] Sammers21 commented on #345
Is there is painless for a user way to do it?

[2020-07-16 09:32] g4s8 commented on #345
@Sammers21 I mean it should not be possible to share the data for different repositories. I'd suggest to fix concrete usability issues. E.g. if you can't rename the repository - it's an issue, but the structure of directories inside the storage - it's implementation details. So we're not going to fix implementation details, only issues can be fixed.

[2020-07-16 13:12] g4s8 opened #348 "Generate documentation from readme files"
Generate documentation for the dashboard from readme files.

[2020-07-17 05:52] Sammers21 opened #350 "Npm repo is broken"
__`npm_repo.yaml`__:
[code]

[code]

The error happens when you try to publish a package to the repository:
[code]

[2020-07-17 06:09] olenagerasimova opened #352 "Add footer to Artipie central"
Let's add footer to Artipie central, the footer should contain at least currently deployed version, links to github repository and telegram chat. Also it would be nice to see amount of users, repositories and uploaded artifacts.

[2020-07-17 07:40] g4s8 opened #353 "Some repositories require root path to be supported"
Some repositories (e.g. pypi repo) requires the root path of repository to be supported, e.g. if repository is `central.artipie.com/foo/bar`, then `pip` tool may send request to `GET` for `central.artipie.com/foo/bar` to get repository index. But now we're serving dashboard pages on this location: `foo/bar` returns the dashboard page for repository `bar` of user `foo`.

Possible solutions:
 1. Use

[2020-07-17 07:53] olegmoz commented on #353
@g4s8 first option is better in my opinion, but I'd put repo name into path like `/dashboard/foo/bar`

[2020-07-17 09:59] Sammers21 opened #355 "Path is expected to start with http://localhost:8080/npm_repo/ but was /npm_repo/sample-npm-project"
When i applied #350 fix, the following error occurred on attempt to publish a package:
[code]

[2020-07-17 11:08] #332 closed

[2020-07-17 11:25] 0crat commented on #332
Job was finished in 43 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-17 11:26] 0crat commented on #332
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olegmoz[/z](https://www.0crat.com/u/olegmoz), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-07-17 17:51] victornoel commented on #214
@yegor256 can you clarify this ticket please?

[2020-07-17 18:32] jeffzhu503 opened #356 "Limit upload size, max number of storage objects per repository, per user, per organization"
To prevent the abuse of the server, we have to set up a configuration that limit upload size, max number of storage objects, etc. The limit can be set at repo, user or organization level.

Solution:
Will require some design here.  However we might be able to do:
- limit the size of each upload request.
- save the storage usage data somewhere.  We might need a simple DATABASE storage such as Mongod

[2020-07-17 18:42] jeffzhu503 opened #357 "document: need the list of APIs exposed by Artipie for the integration purpose"
I would like to find out the list of public APIs currently supported by Artipie that developers can use to integrate some of existing system, for example, Jenkins, or Jenkins X. Need to document somewhere in GitHub or Artipie.com

[2020-07-17 18:57] jeffzhu503 opened #358 "Integrate with other CI/CD tools"
Artipie must be adopted by some popular CI/CD tools in the open source community, which people can switch with Nexus or Chartmuseum in Jenkins X.  This is a long term goal, and we shall try to start the work  before the end of 2020.

[2020-07-18 18:40] jeffzhu503 opened #359 "Goal: handle software failure in the Artipie system gracefully"
We shall always anticipate bugs in the system, no matter how good our code are.  Please treat this is goal and the team will need to identify tasks to mitigate bugs and their impact. Some of possible solutions are:
- carefully thinking about assumptions and interactions in the system; design a good API
- thorough testing, which means have all unit test, functional test and integration test, and im

[2020-07-19 16:51] 0crat commented on #326
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-07-19 17:48] paulodamaso commented on #176
@g4s8 merged, please close

[2020-07-20 07:04] g4s8 commented on #284
Done

[2020-07-20 07:04] #284 closed

[2020-07-20 07:22] 0crat commented on #284
Job `gh:artipie/artipie#284` is not assigned, can't get performer

[2020-07-20 08:56] Sammers21 opened #361 "Example structure"
Every example should have the following structure:
1. Explanations on the example
2. Additional configuration options

This approach will turn out examples into full-featured documentation.

[2020-07-20 09:38] Sammers21 opened #362 "Comparison with competitors"
Artifactory, Nexus are the competitors to Artipie. We should have documentation & blogs posts on the topic.

[2020-07-20 11:54] g4s8 commented on #176
@paulodamaso thanks

[2020-07-20 11:54] #176 closed

[2020-07-20 14:21] g4s8 opened #365 "Update deps"
Update dependencies with important bug fixes.

[2020-07-20 14:22] g4s8 commented on #365
@rultor release, tag=`0.8.16`

[2020-07-20 14:23] rultor commented on #365
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22662-661071153)

[2020-07-20 16:24] 0crat commented on #333
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-07-20 18:59] jeffzhu503 commented on #356
Here are some limits from existing artifact repository managers:
Artifactory's REST API does not limit the size of artifact uploads.
- For **on-prem installations, Reverse proxy or Load Balancer limit** could apply: if you wish to upload large-sized artifacts please make sure that you increase the connection timeout for any network elements that may participate in this. – Consult JFrog Support or

[2020-07-20 20:42] jeffzhu503 commented on #356
Possible pseudo function
func checkStorageLimit(repo string, artifact_name string)  {
	if(server.StorageObjects + new_artifact > config.MaxStorageObjects. || server.storageSize + new_artifact> config.MaxStorage)
	return error
}
One consideration is if we shall allow the upload overwrite the oldest artifacts automatically if the configuration is set to true for update or if we shall ask the user to

[2020-07-21 06:26] Sammers21 opened #366 "Gem push error: java.lang.NoClassDefFoundError: org/slf4j/event/LoggingEvent"
Gem repo config:
[code]

Gem command:
[code]

Artipie logs:
[code]

Unable to push a gem because of org/slf4j/event/LoggingEvent

[2020-07-21 06:44] olenagerasimova commented on #305
@Sammers21 ping

[2020-07-21 06:47] Sammers21 opened #368 "Gem: java.lang.NoSuchMethodError: 'void com.artipie.http.rt.SliceRoute.<init>(com.artipie.http.rt.SliceRoute$Path[])'"
After fixing #366, another error occured on gem push:
[code]

Looks like HTTP dependency for gem adapter should be updated

[2020-07-21 07:00] #305 closed

[2020-07-21 07:17] 0crat commented on #305
Job `gh:artipie/artipie#305` is not assigned, can't get performer

[2020-07-21 07:24] #366 closed

[2020-07-21 07:51] g4s8 opened #370 "Group slice request or response body can be read twice"
When using `GroupSlice` for Maven, the reponse may be read twice and throw related exception:
[code]

[2020-07-21 07:52] 0crat commented on #366
Job `gh:artipie/artipie#366` is not assigned, can't get performer

[2020-07-21 08:07] olegmoz opened #371 "Trim repo name from Docker image name when stored"
Docker adapter release `0.3.1` supports `TrimmedDocker` that cuts specified prefix in repo names when they are stored or loaded from storage. `TrimmedDocker` should be used to wrap underlying `Docker` instance both in for `docker` and `docker-proxy` repo types with prefix being repo name.

[2020-07-21 08:20] Sammers21 opened #372 "Gem: NPE"
After #368 fix anther error occurred:

[code]

[2020-07-21 11:54] 0crat commented on #344
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-07-21 17:36] #333 closed

[2020-07-22 07:28] g4s8 commented on #203
@paulodamaso PR #215 was merged, thanks.

[2020-07-22 07:28] #203 closed

[2020-07-22 07:31] g4s8 commented on #214
@victornoel @yegor256 this issue seems to be obsolete, since we don't have reset password form which may produce this stacktrace.

[2020-07-22 07:32] g4s8 commented on #214
@0crat refuse

[2020-07-22 07:32] #214 closed

[2020-07-22 07:32] g4s8 commented on #195
@0crat refuse

[2020-07-22 07:35] 0crat commented on #214
@g4s8 The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#214](https://github.com/artipie/artipie/issues/214), please stop working. Reason for job resignation: Order was cancelled

[2020-07-22 07:35] 0crat commented on #195
@g4s8 The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#195](https://github.com/artipie/artipie/issues/195), please stop working. Reason for job resignation: Order was cancelled

[2020-07-22 07:59] 0crat commented on #214
Job `gh:artipie/artipie#214` is not assigned, can't get performer

[2020-07-22 13:19] g4s8 commented on #370
Related to https://github.com/artipie/http/issues/203

[2020-07-22 14:02] g4s8 commented on #370
@rultor release, tag=`0.8.17`

[2020-07-22 14:04] rultor commented on #370
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22696-662471726)

[2020-07-22 14:07] rultor commented on #370
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22696-662471726) (took me 2min)

[2020-07-22 15:00] 0crat commented on #195
@0crat[/z](https://www.0crat.com/u/0crat) I see that you unassigned this issue; the order is still assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) though; to cancel the order use `refuse`, as in [§6](http://www.zerocracy.com/policy.html#6)

[2020-07-22 15:01] g4s8 commented on #370
@rultor release, tag=`0.8.18`

[2020-07-22 15:01] 0pdd opened #378 "GroupRepositoryITCase.java:52-54: Enable..."
The puzzle `370-bcc3b5c3` from #370 has to be resolved:

https://github.com/artipie/artipie/blob/3c33e1765140f8279635d65491620aad42dc11ed/src/test/java/com/artipie/http/GroupRepositoryITCase.java#L52-L54

The puzzle was created by Kirill on 22-Jul-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2020-07-22 15:01] 0pdd commented on #370
@g4s8 the puzzle [#378](https://github.com/artipie/artipie/issues/378) is still not solved.

[2020-07-22 15:02] rultor commented on #370
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22696-662504946)

[2020-07-22 15:05] rultor commented on #370
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22696-662504946) (took me 2min)

[2020-07-22 15:18] marceloamadeu commented on #195
@0crat refuse

[2020-07-22 15:25] 0crat commented on #195
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#195](https://github.com/artipie/artipie/issues/195), please stop working. Reason for job resignation: Order was cancelled

[2020-07-22 15:26] 0crat commented on #195
@marceloamadeu Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-07-22 19:11] #372 closed

[2020-07-22 19:12] #368 closed

[2020-07-22 19:28] 0crat commented on #372
Job `gh:artipie/artipie#372` is not assigned, can't get performer

[2020-07-22 19:28] 0crat commented on #368
Job `gh:artipie/artipie#368` is not assigned, can't get performer

[2020-07-23 05:27] Sammers21 opened #381 "Docker: Performance issues"
![image](https://user-images.githubusercontent.com/16746106/88254452-0ea88880-ccbe-11ea-8098-a3f4bb93fc81.png)

![image](https://user-images.githubusercontent.com/16746106/88254444-06504d80-ccbe-11ea-9985-dc040724c435.png)

Looks like latest [docker registry](https://docs.docker.com/registry/) performs a way better then Artipie. @yegor256 think that we should improve the situation.

A script, whic

[2020-07-23 07:21] Sammers21 opened #382 "HTTP upload performance issues"
I have deployed the [sample project](https://github.com/artipie/artipie/tree/master/examples/maven/sample-for-deployment) into artipie and nexus. Nexus performs ~19 times better.

![image](https://user-images.githubusercontent.com/16746106/88260879-eb85d500-cccd-11ea-8e62-818a8aba3122.png)

[2020-07-23 07:53] g4s8 commented on #370
Fixed

[2020-07-23 07:53] #370 closed

[2020-07-23 08:49] olegmoz opened #383 "Outdated NuGet adapter version"
NuGet version should be updated to `0.3` as current version depends on outdated ASTO and HTTP

[2020-07-23 09:49] olegmoz opened #385 "Authentication support for Docker repositories"
Docker adapter `0.4` supports authentication. It should be added for `docker` and `docker-proxy` adapters.

[2020-07-23 18:30] olenagerasimova opened #387 "Python simple repository support"
Update pypi-adapter version to 0.5.4 to add python simple repository support.

[2020-07-23 18:30] olenagerasimova commented on #387
@0crat assign me

[2020-07-24 08:29] #383 closed

[2020-07-24 08:39] g4s8 opened #389 "Integration tests"
There're no integration tests in Artipie module. Let's create tests to verify each module works correctly. Each test may look like:
 - SetUp: and prepare configuration for server, start server
 - Run test case against repository, verify responses and data in storage if needed
 - TearDown: stop the server

Test cases:
 - [x] - Docker can push and pull image: https://github.com/artipie/artipie/issue

[2020-07-24 08:39] #371 closed

[2020-07-24 08:55] 0crat commented on #383
Job `gh:artipie/artipie#383` is not assigned, can't get performer

[2020-07-24 09:06] 0crat commented on #371
Job `gh:artipie/artipie#371` is not assigned, can't get performer

[2020-07-24 10:36] #387 closed

[2020-07-24 10:56] 0crat commented on #387
Job was finished in 16 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-24 13:09] #385 closed

[2020-07-24 13:26] 0crat commented on #385
Job `gh:artipie/artipie#385` is not assigned, can't get performer

[2020-07-24 14:51] g4s8 opened #391 "Week#31"
The draft of plan for week `#31` 2020 year:
 - [ ] - Repo and user limits: restrict repo size in settings and user's traffic per minute?
 - [x] - Move current HTTP implementation into `artipie/http-client` repository: https://github.com/artipie/http-client/issues/1
 - [x] - Fix and release NPM adapter: https://github.com/artipie/npm-adapter/issues/90
 - [ ] - Move storage locks from RPM to ASTO: h

[2020-07-24 14:56] olenagerasimova commented on #391
@g4s8 please see https://github.com/artipie/pypi-adapter/milestone/4

[2020-07-24 15:16] olegmoz commented on #391
@g4s8 please add copying of lock from RPM to ASTO

[2020-07-24 21:02] cambierr opened #392 "Health check endpoint"
To be able to deploy artipie in Kubernetes environments (for instance, using helm charts), it would be a really nice things to benefit from a health check endpoint to be able to monitor the application state and trigger some self-healing & scaling if needed.

To be more precise, I'd suggest to take inspiration from gitlab for instance: https://docs.gitlab.com/ee/user/admin_area/monitoring/health_c

[2020-07-24 21:34] jeffzhu503 commented on #392
Yes, the service needs to expose these end points for monitoring purpose, even without using Kubernetes. Copy from the gitlab link from the above.
GET http://localhost/-/health
GET http://localhost/-/readiness
GET http://localhost/-/liveness

[2020-07-27 07:43] g4s8 commented on #392
@cambierr thanks for reporting, we definitely need health-check endpoints for k8s.

Storages availability - we can check repository configuration storage availability for the health-check, but I'd not check repository storages, since it may take a while.

Correct configuration - it's not needed if we check "Storage availability", since configuration will be parsed and validated to read storage con

[2020-07-27 08:18] g4s8 commented on #387
@rultor release, tag=`0.9`

[2020-07-27 08:18] rultor commented on #387
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22744-664193932)

[2020-07-27 08:21] rultor commented on #387
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22744-664193932) (took me 2min)

[2020-07-27 08:57] Sammers21 opened #393 "PR #390 broken docker example"
PR #390 broke the docker example. The example should be fixed.

[2020-07-27 09:11] g4s8 opened #395 "GitHub API quota is drained too fast when authenticating via personal tokens"
When using personal GitHub access tokens, the quota is drained very fast, it seems caching is not working.

[2020-07-27 09:48] olenagerasimova commented on #353
@g4s8 I've checked my dashboard and created new repos without any problems, can we close this?

[2020-07-27 10:49] #338 closed

[2020-07-27 10:49] 0pdd commented on #313
@olegmoz the only puzzle [#338](https://github.com/artipie/artipie/issues/338) is solved here.

[2020-07-27 11:13] 0crat commented on #338
Job `gh:artipie/artipie#338` is not assigned, can't get performer

[2020-07-27 11:36] g4s8 commented on #353
@olenagerasimova yes, thanks

[2020-07-27 11:36] #353 closed

[2020-07-27 12:25] #395 closed

[2020-07-27 12:43] 0crat commented on #395
Job was finished in 3 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-27 14:04] g4s8 commented on #381
@Sammers21 it's the same bug as #382, closing as duplicate.

[2020-07-27 14:04] #381 closed

[2020-07-27 14:20] 0crat commented on #381
Job `gh:artipie/artipie#381` is not assigned, can't get performer

[2020-07-27 15:03] #393 closed

[2020-07-27 15:09] g4s8 commented on #382
@Sammers21 Maven client sends `Expect: 100-continue` header by default and waiting for the response before sending the body for few seconds. We need to respond with `100` status code for this kind of requests if authentication is valid and accept payloads on next request. Maven sends this request before payload to make sure that authentication headers are valid. See https://maven.apache.org/guides

[2020-07-27 15:12] Sammers21 commented on #382
@g4s8, I wasn't using any options with nexus.

[2020-07-27 15:20] 0crat commented on #393
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-28 08:55] g4s8 commented on #324
Done

[2020-07-28 08:55] #324 closed

[2020-07-29 07:55] olegmoz opened #399 "Everything should be allowed when no `permissions` in config"
If permissions are checked in a slice and no `permissions` mapping found in repo YAML then application crashes. It seems logical that everything should be allowed for any user if there are no `permissions` specified (e.g. by default)

[2020-07-29 09:00] g4s8 opened #401 "HTTP proxy: Max requests queued per destination 1024 exceeded for HttpDestination"
HTTP proxy starts failing after ~2 days of work with error `Max requests queued per destination 1024 exceeded for HttpDestination`:
[code]

[2020-07-29 09:50] #399 closed

[2020-07-29 13:26] 0crat commented on #399
Job `gh:artipie/artipie#399` is not assigned, can't get performer

[2020-07-29 13:43] #311 closed

[2020-07-29 13:43] g4s8 opened #403 "Storage metrics"
Add `Metrics` implementation to keep all metrics in `Storage`

[2020-07-30 14:48] g4s8 opened #406 "Github authentication error should not cause 500 error"
When using Github authentication, auth errors from Github API causes 500 error for user. We should handle authentication errors and return proper status code in that case 401.

[code]

[2020-07-30 18:29] g4s8 opened #407 "Release 0.9.2"
Update maven and npm and release a new version

[2020-07-30 18:30] g4s8 commented on #407
@rultor release, tag=`0.9.2`

[2020-07-30 18:31] rultor commented on #407
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22782-666585323)

[2020-07-30 18:33] rultor commented on #407
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22782-666585323) (took me 2min)

[2020-07-31 10:22] g4s8 commented on #407
Done

[2020-07-31 10:22] #407 closed

[2020-07-31 10:23] g4s8 opened #408 "Publish docker to central.artipie.com"
Let's push docker image to `central.artipie.com/artipie/docker` repository altogether with DockerHub publish

[2020-07-31 10:46] g4s8 opened #409 "Request may hugns forever"
It's reproduced one time, the request was not responded for 15 minutes. Let's handle this scenario and respond with `503` error if request was not respond with any head for 1 minute.

[2020-07-31 10:48] 0crat commented on #407
Job `gh:artipie/artipie#407` is not assigned, can't get performer

[2020-07-31 11:08] Sammers21 opened #410 "Docker image does not cache maven dependencies during the build"
If a source-code line is changed all the dependencies are re-downloaded, which hurts very hard if your internet connection is slow.

[2020-08-03 08:34] g4s8 opened #413 "Add Artifactory create repo API"
Support Artifactory API for creating a new repository, the endpoint should accept `PUT /api/repositories/{repoKey}` requests as in https://www.jfrog.com/confluence/display/JFROG/Artifactory+REST+API and accepts JSON https://www.jfrog.com/confluence/display/JFROG/Repository+Configuration+JSON
From this JSON we should support these fields:
 - `key` - repository name
 - `rclass` - support `local`
 -

[2020-08-03 08:49] #391 closed

[2020-08-03 09:06] 0crat commented on #391
Job `gh:artipie/artipie#391` is not assigned, can't get performer

[2020-08-03 09:19] g4s8 commented on #286
Done

[2020-08-03 09:19] #286 closed

[2020-08-03 09:31] g4s8 opened #414 "Week#32"
This is a plan for `#32` week of 2020:
 - [x] Add some Artifactory API for backward compatibility: https://github.com/artipie/artipie/issues/413
 - [ ] Storage locking system https://github.com/artipie/asto/issues/214
 - [x] Improve Maven deploy workflow: https://github.com/artipie/maven-adapter/issues/117
 - Publish repository size metrics to Artipie dashboard #425
 - Fix critical issues in proxy

[2020-08-03 10:37] #267 closed

[2020-08-03 10:37] 0pdd commented on #267
The puzzle `231-69751ecf` has disappeared from the source code, that's why I closed this issue.

[2020-08-03 10:37] #290 closed

[2020-08-03 10:37] 0pdd commented on #290
The puzzle `231-f0ff443a` has disappeared from the source code, that's why I closed this issue.

[2020-08-03 10:37] 0pdd commented on #231
@g4s8 4 puzzles [#272](https://github.com/artipie/artipie/issues/272), [#273](https://github.com/artipie/artipie/issues/273), [#291](https://github.com/artipie/artipie/issues/291), [#292](https://github.com/artipie/artipie/issues/292) are still not solved; solved: [#267](https://github.com/artipie/artipie/issues/267), [#290](https://github.com/artipie/artipie/issues/290).

[2020-08-03 11:00] 0crat commented on #267
Job was finished in 3 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-03 11:00] 0crat commented on #290
Job was finished in 3 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-03 11:24] olenagerasimova commented on #413
@g4s8 what response status should be returned in case of success?

[2020-08-03 12:14] g4s8 commented on #413
@olenagerasimova I suppose Artifactory returns `200` on success. Also, please pay attention:

and we need to perform authentication for such requests.

[2020-08-05 12:59] #410 closed

[2020-08-05 13:16] 0crat commented on #410
Job `gh:artipie/artipie#410` is not assigned, can't get performer

[2020-08-06 07:38] Sammers21 opened #419 "PR Number #412 broke maven repositories"
Build after the PR merge: https://github.com/artipie/artipie/runs/949411623|
Build before the PR merge: https://github.com/artipie/artipie/runs/949351161

Also I've tried to run the maven proof locally and the progress stuck at:
[code]

[2020-08-06 10:13] olenagerasimova opened #421 "Read python project metadata on upload"
Update python adapter to 0.6, improvements:
- python project metadata are now read/verified on upload
- sha256 hash added to index.html
- various packages support added including .egg and all possible archive types
- normalization for project names implemented

[2020-08-06 10:19] Sammers21 opened #423 "Helm proof is broken"
When data is being posted to helm repo, the 100 response is started to being printed and then stuck. Try helm proof for details:

[code]

[2020-08-06 10:20] g4s8 commented on #423
@Sammers21 does `curl -i -X POST --data-binary @tomcat-0.4.1.tgz http://localhost:8080/example_helm_repo/` command sends `Expect: 100-Continue` header? Please check it with verbose output

[2020-08-06 10:23] Sammers21 commented on #423
@g4s8, no it does not:
[code]

[2020-08-06 10:24] g4s8 commented on #423
@Sammers21 according to your logs it sends it: `> Expect: 100-continue`, so `100 Continue` response is correct for this request

[2020-08-06 10:27] Sammers21 commented on #423
@g4s8, why does is stuck then? I guess that the response end line is not received and curl waits for it to arrive.

[2020-08-06 10:31] Sammers21 commented on #423
@g4s8, If we would set a timeout for the request:

[code]

The timeout error will be thrown

[2020-08-06 14:23] g4s8 commented on #423
@Sammers21 it seems the script for testing helm is broken byself, see my output for that:
[code]

[2020-08-06 14:26] Sammers21 commented on #423
@g4s8, helm repo add does not work because index.yaml wasn't generated. It is generates when you post a package.

[2020-08-06 14:31] Sammers21 commented on #423
@g4s8, look at the history of helm proof:
![image](https://user-images.githubusercontent.com/16746106/89544287-9b009280-d80a-11ea-9efd-fd055c5dc499.png)

[2020-08-06 14:34] g4s8 commented on #423
@Sammers21 but when I post a package using `curl` helm repo responds me with `405 - METHOD_NOT_ALLOWED`, so I just can't reproduce it with `run.sh`

[2020-08-06 14:36] Sammers21 commented on #423
@g4s8, can you try `b94f28a65b8c707215029be86a852449e89bea4f` commit?

[2020-08-06 14:39] Sammers21 commented on #423
@g4s8, that is what i'm getting on this commit:
[code]

[2020-08-06 14:40] Sammers21 commented on #423
@g4s8, This commit is exactly one merge before the current `master` state.

[2020-08-06 14:41] g4s8 commented on #423
@Sammers21 so I don't get the problem: I can't reproduce the issue with `100 Continue` response instead of expected because I can't run the script in master because of `METHOD_NOT_ALLOWED` response. I think this bug is not valid if it can't be reproduced in latest commit in master

[2020-08-06 14:44] Sammers21 commented on #423
@g4s8, The problems consistently reproduces on Github actions and on my machine locally.

[2020-08-06 14:46] Sammers21 commented on #423
@g4s8, I think something wrong with the #412 PR. Can you please revert it, then we turn proofs on, and then we will have time figure out?

[2020-08-06 14:49] g4s8 commented on #423
@Sammers21 no I can't revert it, because it's important and fixes critical bug.

 1. I pulled the latest commit from `master` branch
 2. Changed directory to `./examples/helm/`
 3. Started `./run.sh` script

[2020-08-06 14:52] Sammers21 commented on #423
@g4s8, the script uses `artipie/artipie:latest` image, that why you are getting this result. Build docker image on the latest branch and replace `artipie/artipie:latest` with it.

[2020-08-06 15:02] g4s8 commented on #423
@Sammers21 thanks. I just run this script using the latest local Docker image from `HEAD` commit in `master` and it's working fine:
[code]

Can you please specify where exactly was origin error?

[2020-08-06 15:05] Sammers21 commented on #423
@g4s8, what is the commit number?

[2020-08-06 15:10] Sammers21 commented on #423
Works for me too. Error still present on CI.

[2020-08-06 15:17] g4s8 commented on #423
@Sammers21 please check #423 PR with fix.

[2020-08-06 15:20] Sammers21 commented on #423
I can't reproduce the error:
[code]

Commit: f896f52702228a8ea32a248c3c57130cf2b6cd3f

[2020-08-06 15:23] Sammers21 commented on #423
Is it possible to make sure that helm and maven proofs are passing before merging the PR?

[2020-08-07 07:43] #403 closed

[2020-08-07 07:43] #409 closed

[2020-08-07 07:45] g4s8 opened #425 "Publish traffic and size metrics and publish to the dashboard."
Collect metrics for traffic (upload and download) and repository sizes, and show these metrics on the dashboard.

[2020-08-07 13:57] paulodamaso commented on #261
@0crat refuse

[2020-08-07 13:59] paulodamaso commented on #295
@0crat refuse

[2020-08-07 14:00] 0crat commented on #261
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#261](https://github.com/artipie/artipie/issues/261), please stop working. Reason for job resignation: Order was cancelled

[2020-08-07 14:00] paulodamaso commented on #326
@0crat refuse

[2020-08-07 14:25] 0crat commented on #326
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#326](https://github.com/artipie/artipie/issues/326), please stop working. Reason for job resignation: Order was cancelled

[2020-08-08 07:51] #423 closed

[2020-08-08 08:00] #419 closed

[2020-08-08 08:09] 0crat commented on #423
Job was finished in 39 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-08 08:16] 0crat commented on #419
Job `gh:artipie/artipie#419` is not assigned, can't get performer

[2020-08-10 07:47] olegmoz opened #427 "Upgrade Docker adapter with proper errors reposrting"
Docker adapter version `0.4.1` supports error reporting in format expected by Docker client, so they could be displayed properly. Most common case would be proper reporting absence of manifest user tries to pull

[2020-08-10 08:24] olegmoz opened #429 "Integrate HTTP client"
To start migration of Artipie to abstract HTTP client module it should be added as dependency and be available when `Pie` is created. For now adapters that are not using HTTP client module may access it's Jetty client directly.

[2020-08-10 10:22] #421 closed

[2020-08-10 10:58] 0crat commented on #421
Job `gh:artipie/artipie#421` is not assigned, can't get performer

[2020-08-10 14:06] #413 closed

[2020-08-10 14:08] #414 closed

[2020-08-10 14:26] 0crat commented on #414
Job `gh:artipie/artipie#414` is not assigned, can't get performer

[2020-08-10 14:46] g4s8 opened #431 "Publish benchmarks with charts"
Run benchmarks using client tools and publish it with charts to Github pages

[2020-08-10 14:46] g4s8 opened #432 "Week#33"
This is the plan for `#33` week of 2020:
 - [x] Validate Maven artifacts on upload: https://github.com/artipie/maven-adapter/issues/125
 - [x] HTTP client for files-proxy repository: https://github.com/artipie/files-adapter/issues/19
 - [x] HTTP client for Maven adapter: https://github.com/artipie/maven-adapter/issues/128
 - [x] HTTP client for Docker adapter: https://github.com/artipie/docker-ada

[2020-08-10 17:04] #427 closed

[2020-08-10 17:21] 0crat commented on #427
Job `gh:artipie/artipie#427` is not assigned, can't get performer

[2020-08-11 08:28] #429 closed

[2020-08-11 08:28] 0pdd opened #434 "HttpClientSettingsTest.java:36-40: Test..."
The puzzle `429-0d21f4e0` from #429 has to be resolved:

https://github.com/artipie/artipie/blob/26b671ceeccd26cb25d6b428b5e6503548edd63f/src/test/java/com/artipie/HttpClientSettingsTest.java#L36-L40

The puzzle was created by Oleg Mozzhechkov on 10-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2020-08-11 08:28] 0pdd commented on #429
@olegmoz the puzzle [#434](https://github.com/artipie/artipie/issues/434) is still not solved.

[2020-08-11 08:53] 0crat commented on #429
Job `gh:artipie/artipie#429` is not assigned, can't get performer

[2020-08-11 13:43] portlek opened #435 "I can't build the project."
`mvn clean package -Passembly`
the result is:
[code]

[2020-08-13 08:37] g4s8 commented on #435
@portlek it seems some dependencies in your local Maven repository is broken, please try to update it with `mvn clean package -U -Passembly`

[2020-08-13 08:42] portlek commented on #435
@g4s8 nope, same result.

[2020-08-13 09:32] victornoel commented on #185
@0crat refuse

[2020-08-13 09:34] 0crat commented on #185
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#185](https://github.com/artipie/artipie/issues/185), please stop working. Reason for job resignation: Order was cancelled

[2020-08-13 14:55] g4s8 opened #442 "CachedAuth created on each request"
`CachedAuth` instance is created on each request and schedules new task for cache cleanup. It should wrap origin auth object only once and start only one thread for cleanup

[2020-08-13 15:15] g4s8 opened #443 "VertxException: Connection was closed"
When sending multiple requests simultaneously, something Artipie throws exception:
[code]

[2020-08-14 09:26] g4s8 opened #444 "Support /secutiry API of Artifactory"
Support [Artifactory API](https://www.jfrog.com/confluence/display/rtf/artifactory+rest+api) at `/api/secutiry/users` and `/api/secutiry/permissions`: API clients should be able to create update and delete users and permissions.

[2020-08-14 10:13] olenagerasimova commented on #444
@g4s8 are we are going to support all requests to `/api/secutiry/users` endpoint? There are several variations:
1. GET `/api/security/users` to obtain users list
2. GET `/api/security/users/{userName}` to obtain user info
3. PUT `/api/security/users/{userName} ` to create/replace user
4. POST `/api/security/users/{userName}` to update user
5. DELETE `/api/security/users/{userName}` to delete user

[2020-08-14 11:30] akuleshov7 opened #445 "Gradle client: not able to find dependencies (same works fine with maven)"
## How to reproduce:

Use simple build.gradle from diktat project:
`$ git clone https://github.com/cqfn/diKTat.git`

run
`$ gradle ktlint`

## Issue
[code]

But the file https://central.artipie.com/akuleshov7/diktat/com/pinterest/ktlint/0.37.1-fork/ktlint-0.37.1-fork.pom exists and everything works fine with maven

## Extra info
In the file I can some strange information:
https://central.artipie.c

[2020-08-14 11:52] g4s8 commented on #444
@olenagerasimova we can start with CRUD operations for users (`GET /api/security/users`, `GET /api/security/users/{userName}`, `PUT /api/security/users/{userName}`, `POST /api/security/users/{userName}` and `DELETE /api/security/users/{userName}`). All other `/users` operations seems to be not necessary.

[2020-08-14 12:04] #445 closed

[2020-08-14 12:18] olenagerasimova commented on #444
@g4s8 ok, please check user artifactory [payload](https://www.jfrog.com/confluence/display/JFROG/Security+Configuration+JSON)
[code]
fields with + are required, - optional, ! read only. Questions:
1. We do not have users' email to return - what should I do about it?
2. What exactly should be done on user creation? Obviously, I should add corresponding record to `credentials.yaml`, what about repos

[2020-08-14 12:22] 0crat commented on #445
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-14 12:40] #272 closed

[2020-08-14 12:40] 0pdd commented on #272
The puzzle `231-64301158` has disappeared from the source code, that's why I closed this issue.

[2020-08-14 12:40] 0pdd commented on #231
@g4s8 3 puzzles [#273](https://github.com/artipie/artipie/issues/273), [#291](https://github.com/artipie/artipie/issues/291), [#292](https://github.com/artipie/artipie/issues/292) are still not solved; solved: [#267](https://github.com/artipie/artipie/issues/267), [#272](https://github.com/artipie/artipie/issues/272), [#290](https://github.com/artipie/artipie/issues/290).

[2020-08-14 13:07] 0pdd opened #446 "OptionalSlice.java:40-42: Create a test for this slice...."
The puzzle `425-7a9d7e13` from #425 has to be resolved:

https://github.com/artipie/artipie/blob/0e7928a3eaaf5b139230a1ae086694f41707b5f4/src/main/java/com/artipie/http/OptionalSlice.java#L40-L42

The puzzle was created by Kirill on 14-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2020-08-14 13:07] 0pdd opened #447 "MetricSlice.java:45-47: Create a test to verify this..."
The puzzle `425-6103346b` from #425 has to be resolved:

https://github.com/artipie/artipie/blob/0e7928a3eaaf5b139230a1ae086694f41707b5f4/src/main/java/com/artipie/metrics/MetricSlice.java#L45-L47

The puzzle was created by Kirill on 14-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2020-08-14 13:07] 0pdd commented on #425
@g4s8 2 puzzles [#446](https://github.com/artipie/artipie/issues/446), [#447](https://github.com/artipie/artipie/issues/447) are still not solved.

[2020-08-14 13:12] g4s8 commented on #425
Done in #439

[2020-08-14 13:12] #425 closed

[2020-08-15 00:51] jeffzhu503 opened #448 "http GET api health endpoint"
The artipie server must have the endpoint for the health status. If the return code is not 200, we must send the alert to the monitoring system users have.

Something like this:
/health:
    get:
      summary: 'Health check API'
      description: |
        The endpoint returns the health stauts of the system.
      tags:
        - Products
      responses:
        '200':
          description: T

[2020-08-16 09:56] portlek commented on #435
I can build it with the latest master branch.

[2020-08-16 09:56] #435 closed

[2020-08-16 10:14] 0crat commented on #435
Job `gh:artipie/artipie#435` is not assigned, can't get performer

[2020-08-17 06:45] olegmoz commented on #401
@g4s8 this issue should be solved by proper usage of HTTP client in all adapters. I've made my part with Docker, but do not see what else should I do and I cannot verify that the issue has been fixed in production.

Could you please take the issue from me?

[2020-08-17 06:53] olegmoz opened #449 "Add integration tests for Docker"
Right now end-to-end integration tests are missing from Artipie, which allows to introduce breaking changes to repositories functionality. In particular such tests are missing for `docker` and `docker-proxy` repository types. This test are need to be sure that these repositories are always functional

[2020-08-17 06:56] 0crat commented on #449
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-08-17 07:26] g4s8 commented on #401
@olegmoz thanks, I can't reproduce this issue in new version of files adapter with http-client integrated

[2020-08-17 07:26] #401 closed

[2020-08-17 07:56] 0crat commented on #401
Job [#401](https://github.com/artipie/artipie/issues/401) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-08-17 10:42] #432 closed

[2020-08-17 10:48] g4s8 opened #450 "Week#34"
This is the plan for `#34` week of 2020:
 - [x] Fix OutOfMemory error in auth: https://github.com/artipie/artipie/issues/442
 - [ ] Fix VertX connection loosing: https://github.com/artipie/artipie/issues/443
 - [ ] Artifactory API support for users and permissions: https://github.com/artipie/artipie/issues/444
 - [x] Lock expiration in ASTO: https://github.com/artipie/asto/issues/231
 - [ ] Maven

[2020-08-17 10:59] 0crat commented on #432
Job `gh:artipie/artipie#432` is not assigned, can't get performer

[2020-08-17 12:24] olegmoz opened #451 "Enable timeouts in HTTP client"
Idle timeout and connection timeout are supported in HTTP client `0.2`. Both timeouts should be enabled in Artipie to prevent connections leak in the application.

[2020-08-17 12:25] 0crat commented on #451
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-08-17 14:04] olenagerasimova commented on #444
@g4s8 `/permission` also have several endpoints:
1. GET `/api/security/permissions` - Get the permission targets list, what is permission target in our terms?
2. GET `/api/security/permissions/{permissionTargetName}` - Get the details of an Artifactory Permission Target, returns json [payload](https://www.jfrog.com/confluence/display/JFROG/Security+Configuration+JSON#SecurityConfigurationJSON-appl

[2020-08-18 07:03] g4s8 commented on #444
@olenagerasimova I've got some answers for you:

We can ignore this field and return any data. I'd use `{username}@artipie.com` or similar

We need to create the user only, permissions for repository are managed via `/permissions` API

Any valid data, it doesn't matter

We can ignore password changing for first release, but we need to support it later: it should be possible to change the passord v

[2020-08-18 11:42] olenagerasimova commented on #444
@g4s8 one more question: `/api/security/users` returns the following payload:
[code]
where from host and port can be obtained?

[2020-08-18 11:56] olegmoz opened #454 "Replace `ChainedAuth` with `Authentication.Joined`"
`Authentication.Joined` class will be added soon to HTTP module. It's functionality is similar to `ChainedAuth` used in Artpie. After release of HTTP with `Authentication.Joined` it is going to be possible to replace `ChainedAuth` with `Authentication.Joined`.

[2020-08-18 12:06] g4s8 commented on #444
@olenagerasimova most probably we need configuration parameters in `artipie.yml` for base URI

[2020-08-18 14:44] #454 closed

[2020-08-18 15:02] 0crat commented on #454
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-18 17:29] jeffzhu503 commented on #444
What is the data model and data storage behind this API?  Is the user at the system level or repository level?

[2020-08-18 17:41] Sammers21 opened #459 "Docker and pypi adapters are broken"
Look like this PR(https://github.com/artipie/artipie/pull/457) broke docker and PyPI adapter

[2020-08-19 03:59] olenagerasimova commented on #444
@jeffzhu503 this api will cover Artipie credentials and repository permissions settings. User is configured on the whole Artipie level, permissions for repository can be set for Artipie users. User information (for now we can work with username and password only) is stored as yaml file (this file location is configured), repository permissions are configured in repository config.

[2020-08-19 09:24] 0pdd opened #460 "CachedAuth.java:45-48: Refactor this class to move cache..."
The puzzle `442-4070cd49` from #442 has to be resolved:

https://github.com/artipie/artipie/blob/de6708ff7bb634e915e2b64448a4f79d35f10f46/src/main/java/com/artipie/auth/CachedAuth.java#L45-L48

The puzzle was created by Kirill on 18-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem i

[2020-08-19 09:24] 0pdd commented on #442
@g4s8 the puzzle [#460](https://github.com/artipie/artipie/issues/460) is still not solved.

[2020-08-19 10:08] #451 closed

[2020-08-19 10:25] 0crat commented on #451
Job `gh:artipie/artipie#451` is not assigned, can't get performer

[2020-08-19 10:52] #442 closed

[2020-08-19 11:10] 0crat commented on #442
Job `gh:artipie/artipie#442` is not assigned, can't get performer

[2020-08-19 12:20] #292 closed

[2020-08-19 12:21] 0pdd commented on #231
@g4s8 2 puzzles [#273](https://github.com/artipie/artipie/issues/273), [#291](https://github.com/artipie/artipie/issues/291) are still not solved; solved: [#267](https://github.com/artipie/artipie/issues/267), [#272](https://github.com/artipie/artipie/issues/272), [#290](https://github.com/artipie/artipie/issues/290), [#292](https://github.com/artipie/artipie/issues/292).

[2020-08-19 12:59] 0crat commented on #292
Job `gh:artipie/artipie#292` is not assigned, can't get performer

[2020-08-19 13:34] g4s8 commented on #392
@cambierr @jeffzhu503 health check endpoint was implemented in #458 PR.

[2020-08-19 13:34] #392 closed

[2020-08-19 14:55] 0crat commented on #392
Job `gh:artipie/artipie#392` is not assigned, can't get performer

[2020-08-19 17:12] jeffzhu503 commented on #444
What is the name of the file?  What is the format of these yaml file? Is this a single file which might save thousands of users and thousands of repositories? How do you manage the relationship of users and repositories?  How do you control the write/read of this file? How do you prevent the lock or race condition of IO in this file? How do you scale the read/write of this files when the number of

[2020-08-20 06:32] 0pdd opened #464 "ArtipieApi.java:68-70: Constructor decomposition This..."
The puzzle `444-d6b8b13e` from #444 has to be resolved:

https://github.com/artipie/artipie/blob/f832df1ed70a9b0b34efb48af8de734bc56a9340/src/main/java/com/artipie/api/ArtipieApi.java#L68-L70

The puzzle was created by @olenagerasimova on 19-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-08-20 06:32] 0pdd commented on #444
@g4s8 the puzzle [#464](https://github.com/artipie/artipie/issues/464) is still not solved.

[2020-08-20 06:35] olegmoz opened #465 "Proofs and Docker build are failing in Artipie due to faulty test"
There is test that id failing in proofs and Docker build workflows, it should be fixed.

Here is message from logs:
[code]

[2020-08-20 06:39] olegmoz opened #466 "Proofs should not run tests"
Building Artipie in proofs involves running all the tests and other verification. That makes these workflows run longer and be more prone to errors, issue #465 is an example

[2020-08-20 06:45] olenagerasimova commented on #444
@jeffzhu503 please check https://github.com/artipie/artipie/issues/146 (with comments)- there you find all the information about users and credentials. Repository permissions are configured for each repository in repository config, please, check https://github.com/artipie/artipie/issues/69

[2020-08-20 08:05] 0crat commented on #466
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-08-20 08:08] 0crat commented on #465
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-08-20 08:31] #466 closed

[2020-08-20 08:54] 0crat commented on #466
Job `gh:artipie/artipie#466` is not assigned, can't get performer

[2020-08-20 09:06] olegmoz commented on #459
@Sammers21 could you please try to investigate and solve the issue? It seems that upgrading HTTP version has caused the problems and we have some library version conflicts

[2020-08-20 09:22] 0pdd opened #470 "ArtipieServer.java:83-89: Extract class for building..."
The puzzle `449-3e9e55ee` from #449 has to be resolved:

https://github.com/artipie/artipie/blob/5966489d2a1ed5829396e4e9d85d0370bb9d9c94/src/test/java/com/artipie/ArtipieServer.java#L83-L89

The puzzle was created by Oleg Mozzhechkov on 20-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2020-08-20 09:22] 0pdd commented on #449
@olegmoz the puzzle [#470](https://github.com/artipie/artipie/issues/470) is still not solved.

[2020-08-20 09:44] Sammers21 commented on #459
@olegmoz, sure. I will investigate.

[2020-08-20 10:12] olegmoz commented on #459
@Sammers21 thanks

[2020-08-20 10:17] 0crat commented on #459
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-08-20 10:22] Sammers21 commented on #459
Docker container logs during the error:
[code]

Looks like HTTP version should be updated.

[2020-08-20 10:52] Sammers21 commented on #459
@olegmoz, please release a new version of docker-adapter. It will fix the problem.

[2020-08-20 10:56] olegmoz commented on #459
@Sammers21 thanks, I have started release of docker-adapter version `0.4.3`. See https://github.com/artipie/docker-adapter/issues/299

[2020-08-20 11:28] #179 closed

[2020-08-20 11:28] 0pdd commented on #179
The puzzle `146-3820475f` has disappeared from the source code, that's why I closed this issue.

[2020-08-20 11:28] 0pdd opened #472 "YamlSettings.java:50-54: Move `auth()` method to..."
The puzzle `444-01e9331f` from #444 has to be resolved:

https://github.com/artipie/artipie/blob/4f7c3b1f00d07462e390821bc855e2acb25abc12/src/main/java/com/artipie/YamlSettings.java#L50-L54

The puzzle was created by @olenagerasimova on 20-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the pr

[2020-08-20 11:28] 0pdd commented on #146
@g4s8 the puzzle [#180](https://github.com/artipie/artipie/issues/180) is still not solved; solved: [#179](https://github.com/artipie/artipie/issues/179).

[2020-08-20 11:28] 0pdd commented on #444
@g4s8 2 puzzles [#464](https://github.com/artipie/artipie/issues/464), [#472](https://github.com/artipie/artipie/issues/472) are still not solved.

[2020-08-20 11:48] #465 closed

[2020-08-20 11:51] 0crat commented on #179
Job `gh:artipie/artipie#179` is not assigned, can't get performer

[2020-08-20 12:12] 0crat commented on #465
Job `gh:artipie/artipie#465` is not assigned, can't get performer

[2020-08-20 13:27] #459 closed

[2020-08-20 13:31] olegmoz commented on #443
It looks like this issue is about attempt to write some data to client's connection which was closed. This is situation is normal, client may close connection at any moment without waiting the request to be written. Probably the only problem here is pollution of application's log output with stack traces.

[2020-08-20 13:53] 0crat commented on #459
Job `gh:artipie/artipie#459` is not assigned, can't get performer

[2020-08-21 04:20] olenagerasimova opened #477 "Describe design of users and permissions"
Let's create design document for the design of users and permissions, users creation and permissions scheme is not fully documented.
This request came from @jeffzhu503

[2020-08-21 08:12] 0pdd opened #479 "AddUpdateUserSlice.java:37-42: Implement this slice to..."
The puzzle `444-a0716dee` from #444 has to be resolved:

https://github.com/artipie/artipie/blob/ffa7a6f39054970e6417d490d6f5c14f14f3ce37/src/main/java/com/artipie/api/artifactory/AddUpdateUserSlice.java#L37-L42

The puzzle was created by @olenagerasimova on 21-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will b

[2020-08-21 08:12] 0pdd opened #480 "DeleteUserSlice.java:37-40: Implement this slice to..."
The puzzle `444-7d93e4f2` from #444 has to be resolved:

https://github.com/artipie/artipie/blob/ffa7a6f39054970e6417d490d6f5c14f14f3ce37/src/main/java/com/artipie/api/artifactory/DeleteUserSlice.java#L37-L40

The puzzle was created by @olenagerasimova on 21-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \

[2020-08-21 08:13] 0pdd commented on #444
@g4s8 4 puzzles [#464](https://github.com/artipie/artipie/issues/464), [#472](https://github.com/artipie/artipie/issues/472), [#479](https://github.com/artipie/artipie/issues/479), [#480](https://github.com/artipie/artipie/issues/480) are still not solved.

[2020-08-21 08:21] 0crat commented on #480
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-08-21 08:21] 0crat commented on #479
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-08-21 08:43] #447 closed

[2020-08-21 08:43] 0pdd commented on #425
@g4s8 the puzzle [#446](https://github.com/artipie/artipie/issues/446) is still not solved; solved: [#447](https://github.com/artipie/artipie/issues/447).

[2020-08-21 13:01] 0pdd opened #484 "DeleteUserSlice.java:45-50: Create class..."
The puzzle `444-f6623627` from #444 has to be resolved:

https://github.com/artipie/artipie/blob/b9556efd74d646913a3caed41a059088d4d80245/src/main/java/com/artipie/api/artifactory/DeleteUserSlice.java#L45-L50

The puzzle was created by Alexandr on 21-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-08-22 00:17] jeffzhu503 opened #487 "Migration from Artifactory to Artipie for an existing customer"
The objective of Artipie is to migrate some of users who currently pay the license fee to Artifactory to the new Artipie.  In order to meet the requirements of users, we must understand how they use Artifactory.  Here are some points:
1. Artifactory provides rich metadata. We must understand the customer which metadata are migrated to Artipie.
2. Different type of repository including generic, rem

[2020-08-24 06:00] #450 closed

[2020-08-24 06:00] olegmoz opened #488 "Week#35"
This is the plan for `#35` week of 2020:
 - [x] Artifactory API support for users and permissions: https://github.com/artipie/artipie/issues/444
 - [x] Maven proxy cache verification: https://github.com/artipie/maven-adapter/issues/146
 - [x] Add integration tests for Docker: https://github.com/artipie/artipie/issues/449
 - [x] Avoid unnecessary metadata updates in Maven: https://github.com/artipi

[2020-08-24 06:10] olegmoz commented on #448
Health check endpoint was added to Artpie in PR https://github.com/artipie/artipie/pull/458 see  https://github.com/artipie/artipie/issues/392

@jeffzhu503 may we close this issue?

[2020-08-24 06:17] 0crat commented on #450
Job `gh:artipie/artipie#450` is not assigned, can't get performer

[2020-08-24 14:44] #479 closed

[2020-08-24 14:44] 0pdd commented on #444
@g4s8 2 puzzles [#464](https://github.com/artipie/artipie/issues/464), [#484](https://github.com/artipie/artipie/issues/484) are still not solved; solved: [#472](https://github.com/artipie/artipie/issues/472), [#479](https://github.com/artipie/artipie/issues/479), [#480](https://github.com/artipie/artipie/issues/480).

[2020-08-24 15:02] 0crat commented on #479
Job `gh:artipie/artipie#479` is not assigned, can't get performer

[2020-08-25 07:05] 0pdd opened #493 "DockerLocalIT.java:47-51: Support running test on..."
The puzzle `449-81c7f5cc` from #449 has to be resolved:

https://github.com/artipie/artipie/blob/df85be7b575385b40f9f0f42f395067bf6ff3d4a/src/test/java/com/artipie/docker/DockerLocalIT.java#L47-L51

The puzzle was created by Oleg Mozzhechkov on 21-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2020-08-25 07:06] 0pdd commented on #449
@olegmoz 2 puzzles [#470](https://github.com/artipie/artipie/issues/470), [#493](https://github.com/artipie/artipie/issues/493) are still not solved.

[2020-08-25 08:41] 0pdd opened #494 "AddUpdatePermissionSlice.java:36-40: Implement..."
The puzzle `444-563c6bfe` from #444 has to be resolved:

https://github.com/artipie/artipie/blob/6abf31a5a47222f022d171f53e864b847853657b/src/main/java/com/artipie/api/artifactory/AddUpdatePermissionSlice.java#L36-L40

The puzzle was created by @olenagerasimova on 25-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task

[2020-08-25 08:42] 0pdd opened #495 "GetPermissionSlice.java:36-40: Implement..."
The puzzle `444-0c759efe` from #444 has to be resolved:

https://github.com/artipie/artipie/blob/6abf31a5a47222f022d171f53e864b847853657b/src/main/java/com/artipie/api/artifactory/GetPermissionSlice.java#L36-L40

The puzzle was created by @olenagerasimova on 25-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will b

[2020-08-25 08:42] 0pdd opened #496 "GetPermissionsSlice.java:36-39: Implement this slice to..."
The puzzle `444-7f6be348` from #444 has to be resolved:

https://github.com/artipie/artipie/blob/6abf31a5a47222f022d171f53e864b847853657b/src/main/java/com/artipie/api/artifactory/GetPermissionsSlice.java#L36-L39

The puzzle was created by @olenagerasimova on 25-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will

[2020-08-25 08:42] 0pdd opened #497 "DeletePermissionSlice.java:36-40: Implement..."
The puzzle `444-61eb484a` from #444 has to be resolved:

https://github.com/artipie/artipie/blob/6abf31a5a47222f022d171f53e864b847853657b/src/main/java/com/artipie/api/artifactory/DeletePermissionSlice.java#L36-L40

The puzzle was created by @olenagerasimova on 25-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task wil

[2020-08-25 08:42] 0pdd commented on #444
@g4s8 6 puzzles [#464](https://github.com/artipie/artipie/issues/464), [#484](https://github.com/artipie/artipie/issues/484), [#494](https://github.com/artipie/artipie/issues/494), [#495](https://github.com/artipie/artipie/issues/495), [#496](https://github.com/artipie/artipie/issues/496), [#497](https://github.com/artipie/artipie/issues/497) are still not solved; solved: [#472](https://github.com

[2020-08-25 08:56] olegmoz opened #498 "Remove permissions from proofs and examples"
All proofs and examples contain the following pattern:
[code]
This may be cut out as of now, the `permissions` part of config is not mandatory for some time and may be omitted.

[2020-08-25 08:57] olenagerasimova commented on #496
@genryxy could you please take this issue? Feel free to implement it in two steps (PRs):
1. implement and test `RepoPermissions#repositories()` method
2. implement slice, test it and add to `ArtipieApi`, `GetPermissionsSlice` should return permissions list
[code]
check `GetUsersSlice` as an example

[2020-08-25 08:58] olegmoz opened #499 "Remove "layout: flat" from proofs and examples"
Layout should be made optional for configuration using `flat` value by default. With this done `layout: flat` could be removed from all proofs and examples

[2020-08-25 09:03] genryxy commented on #496
@olenagerasimova okay

[2020-08-25 12:32] 0crat commented on #188
The user @sammers21[/z](https://www.0crat.com/u/sammers21) resigned from [#188](https://github.com/artipie/artipie/issues/188), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-08-25 14:20] #496 closed

[2020-08-25 14:20] 0pdd commented on #444
@g4s8 5 puzzles [#464](https://github.com/artipie/artipie/issues/464), [#484](https://github.com/artipie/artipie/issues/484), [#494](https://github.com/artipie/artipie/issues/494), [#495](https://github.com/artipie/artipie/issues/495), [#497](https://github.com/artipie/artipie/issues/497) are still not solved; solved: [#472](https://github.com/artipie/artipie/issues/472), [#479](https://github.com

[2020-08-25 14:56] 0crat commented on #496
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @0pdd[/z](https://www.0crat.com/u/0pdd) (its creator); I won't close the order; please, re-open it and ask @0pdd[/z](https://www.0crat.com/u/0pdd) to close it

[2020-08-25 15:16] Sammers21 opened #503 "Nuget adapter does not work because of jar hell"
He jcabi-xml 0.20.4 version is used, while expected is 0.22.2

As a result, the following exception is thrown:
![image](https://user-images.githubusercontent.com/16746106/91192757-fb466e00-e6fe-11ea-8b95-6988949d0e14.png)

[2020-08-26 06:49] #503 closed

[2020-08-26 07:06] 0crat commented on #503
Job `gh:artipie/artipie#503` is not assigned, can't get performer

[2020-08-26 08:16] olenagerasimova opened #507 "Refactor and test artipie API slice"
Let's refactor Artipie API slices (package `com.artipie.api`) to use `RepoPermissions` and `Credentials` to perform different operation with repository and credentials settings.
Job can be done slice by slice, if `RepoPermissions`/`Credentials` does not support required operation, consider extending these interfaces. Do not forget about tests.

[2020-08-26 08:40] #484 closed

[2020-08-26 08:41] 0pdd commented on #444
@g4s8 4 puzzles [#464](https://github.com/artipie/artipie/issues/464), [#494](https://github.com/artipie/artipie/issues/494), [#495](https://github.com/artipie/artipie/issues/495), [#497](https://github.com/artipie/artipie/issues/497) are still not solved; solved: [#472](https://github.com/artipie/artipie/issues/472), [#479](https://github.com/artipie/artipie/issues/479), [#480](https://github.com

[2020-08-26 08:55] #495 closed

[2020-08-26 08:55] 0pdd commented on #495
The puzzle `444-0c759efe` has disappeared from the source code, that's why I closed this issue.

[2020-08-26 08:55] 0pdd opened #509 "GetPermissionSliceTest.java:55-58: Create class to..."
The puzzle `495-a27c3b37` from #495 has to be resolved:

https://github.com/artipie/artipie/blob/edebc7f1eefaa3068b72ea7a635a411027bd7540/src/test/java/com/artipie/api/artifactory/GetPermissionSliceTest.java#L55-L58

The puzzle was created by olenagerasimova on 25-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task wil

[2020-08-26 08:55] 0pdd commented on #444
@g4s8 4 puzzles [#464](https://github.com/artipie/artipie/issues/464), [#494](https://github.com/artipie/artipie/issues/494), [#497](https://github.com/artipie/artipie/issues/497), [#509](https://github.com/artipie/artipie/issues/509) are still not solved; solved: [#472](https://github.com/artipie/artipie/issues/472), [#479](https://github.com/artipie/artipie/issues/479), [#480](https://github.com

[2020-08-26 08:55] 0pdd commented on #495
@0pdd the puzzle [#509](https://github.com/artipie/artipie/issues/509) is still not solved.

[2020-08-26 08:58] 0crat commented on #484
Job `gh:artipie/artipie#484` is not assigned, can't get performer

[2020-08-26 09:14] 0crat commented on #495
Job was finished in 23 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-26 09:31] 0pdd opened #510 "DockerProxyIT.java:46-50: Add integration test for Docker..."
The puzzle `499-bc7d8bcf` from #499 has to be resolved:

https://github.com/artipie/artipie/blob/ab444fd0b00d0dbe4240648afb1f6fdd8ad95fc2/src/test/java/com/artipie/docker/DockerProxyIT.java#L46-L50

The puzzle was created by Oleg Mozzhechkov on 25-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2020-08-26 09:31] 0pdd opened #511 "DockerProxyIT.java:51-53: Add integration test for Docker..."
The puzzle `499-4f132183` from #499 has to be resolved:

https://github.com/artipie/artipie/blob/ab444fd0b00d0dbe4240648afb1f6fdd8ad95fc2/src/test/java/com/artipie/docker/DockerProxyIT.java#L51-L53

The puzzle was created by Oleg Mozzhechkov on 25-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2020-08-26 09:31] 0pdd opened #512 "DockerProxyIT.java:54-60: Support running DockerProxyIT..."
The puzzle `449-eeee6363` from #449 has to be resolved:

https://github.com/artipie/artipie/blob/ab444fd0b00d0dbe4240648afb1f6fdd8ad95fc2/src/test/java/com/artipie/docker/DockerProxyIT.java#L54-L60

The puzzle was created by Oleg Mozzhechkov on 25-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" whe

[2020-08-26 09:31] 0pdd commented on #449
@olegmoz 3 puzzles [#470](https://github.com/artipie/artipie/issues/470), [#493](https://github.com/artipie/artipie/issues/493), [#512](https://github.com/artipie/artipie/issues/512) are still not solved.

[2020-08-26 09:31] 0pdd commented on #499
@olegmoz 2 puzzles [#510](https://github.com/artipie/artipie/issues/510), [#511](https://github.com/artipie/artipie/issues/511) are still not solved.

[2020-08-26 09:56] #497 closed

[2020-08-26 09:56] 0pdd commented on #497
The puzzle `444-61eb484a` has disappeared from the source code, that's why I closed this issue.

[2020-08-26 09:56] 0pdd commented on #444
@g4s8 3 puzzles [#464](https://github.com/artipie/artipie/issues/464), [#494](https://github.com/artipie/artipie/issues/494), [#509](https://github.com/artipie/artipie/issues/509) are still not solved; solved: [#472](https://github.com/artipie/artipie/issues/472), [#479](https://github.com/artipie/artipie/issues/479), [#480](https://github.com/artipie/artipie/issues/480), [#484](https://github.com

[2020-08-26 10:14] 0crat commented on #497
Job was finished in 5 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-26 11:38] genryxy opened #515 "Refactor PermissionSlices"
Create class `RepoFromRqLine`.
Logic for getting repo from request line is the same in 3 classes: `DeletePermissionSlice`, `GetPermissionSlice` and in `AddUpdatePermissionSlice`. It would be nice to introduce class to obtain repo from request line and move `GetPermissionSlice.PTRN`  there.

[2020-08-26 14:18] Sammers21 opened #517 "Nuget install does not work"
When trying to install nuget package from repo:

[code]

The stack trace shows that there is conflict between versions of guava.

[2020-08-26 16:00] 0crat commented on #509
You @genryxy[/z](https://www.0crat.com/u/genryxy) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-08-27 04:49] olenagerasimova commented on #515
@genryxy may add a suggestion here? If we introduce class `RepoFromRqLine` the code inside it will be the same as in `UserFromRqLine`, only regular expressions will differ. Let's rename `UserFromRqLine` to `FromRqLine` and add field `Pattern` with pattern to match request line by.
Also, I'd suggest to keep regexs for usernames and repo name in `FromRqLine` only (as public constants) and remove the

[2020-08-27 05:41] genryxy commented on #515
@olenagerasimova yeah, it's a good suggestion.

[2020-08-27 06:46] 0pdd commented on #494
The puzzle `444-563c6bfe` has disappeared from the source code, that's why I closed this issue.

[2020-08-27 06:46] #494 closed

[2020-08-27 06:46] 0pdd commented on #444
@g4s8 2 puzzles [#464](https://github.com/artipie/artipie/issues/464), [#509](https://github.com/artipie/artipie/issues/509) are still not solved; solved: [#472](https://github.com/artipie/artipie/issues/472), [#479](https://github.com/artipie/artipie/issues/479), [#480](https://github.com/artipie/artipie/issues/480), [#484](https://github.com/artipie/artipie/issues/484), [#494](https://github.com

[2020-08-27 07:06] 0crat commented on #494
Job was finished in 26 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-27 08:19] #517 closed

[2020-08-27 08:36] 0crat commented on #517
Job `gh:artipie/artipie#517` is not assigned, can't get performer

[2020-08-27 10:17] olegmoz opened #521 "Docker repositories do not work with authentication"
When Docker client tries to perform an operation it first sends `GET /v2/` request. Response to this request should contain version header and `WWW-Authenticate` header if needed. Now Artipie always sends empty `200 OK` response for this endpoint. This behavior is implemented in `DockerRoutingSlice`. It works well in scenarios when authentication is not required. But when auth is required for othe

[2020-08-27 10:18] 0crat commented on #521
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-08-27 10:21] #498 closed

[2020-08-27 10:21] 0crat commented on #493
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-08-27 10:49] #493 closed

[2020-08-27 10:49] 0pdd commented on #449
@olegmoz 2 puzzles [#470](https://github.com/artipie/artipie/issues/470), [#512](https://github.com/artipie/artipie/issues/512) are still not solved; solved: [#493](https://github.com/artipie/artipie/issues/493).

[2020-08-27 11:00] #515 closed

[2020-08-27 11:00] 0crat commented on #498
Job `gh:artipie/artipie#498` is not assigned, can't get performer

[2020-08-27 11:11] 0crat commented on #493
Job `gh:artipie/artipie#493` is not assigned, can't get performer

[2020-08-27 12:16] 0pdd opened #524 "DockerLocalAuthIT.java:45-51: Check negative auth cases...."
The puzzle `449-2a88ca71` from #449 has to be resolved:

https://github.com/artipie/artipie/blob/d12a2725781d8929e5be563f7981c27c5ed30260/src/test/java/com/artipie/docker/DockerLocalAuthIT.java#L45-L51

The puzzle was created by Oleg Mozzhechkov on 27-Aug-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-08-27 12:16] 0pdd commented on #449
@olegmoz 3 puzzles [#470](https://github.com/artipie/artipie/issues/470), [#512](https://github.com/artipie/artipie/issues/512), [#524](https://github.com/artipie/artipie/issues/524) are still not solved; solved: [#493](https://github.com/artipie/artipie/issues/493).

[2020-08-27 12:33] 0crat commented on #499
Job `gh:artipie/artipie#499` is not assigned, can't get performer

[2020-08-27 12:36] olegmoz commented on #499
The issue is not solved, the PRs were unrelated and were bound to the issue by mistake

[2020-08-27 12:37] olegmoz commented on #449
Closed by #523

[2020-08-27 12:38] #449 closed

[2020-08-27 13:00] 0crat commented on #449
Job `gh:artipie/artipie#449` is not assigned, can't get performer

[2020-08-28 06:00] g4s8 opened #526 "Version endpoint"
Currently, it's not possible to get release version of Artipie web app. Let's add new endpoint `/.version` to show current version from `pom.xml`. (it can be done using `filtering` option of Maven resources plugin to propagate any build value to properties file and retrieve programmatically). Don't forget to check if Docker build action sets the version correctly.

[2020-08-28 08:51] g4s8 commented on #444
@olenagerasimova thanks

[2020-08-28 08:51] #444 closed

[2020-08-31 01:11] 0crat commented on #496
@genryxy[/z](https://www.0crat.com/u/genryxy) resigned from [#496](https://github.com/artipie/artipie/issues/496), since the job is not in scope anymore

[2020-08-31 09:44] #488 closed

[2020-08-31 10:05] 0crat commented on #488
Job `gh:artipie/artipie#488` is not assigned, can't get performer

[2020-08-31 10:48] g4s8 opened #534 "Week#36"
This is the plan for `#36` week of 2020:
 - [x] Exclusive updates in `Storage` insterface
 - [ ] Support Maven Cache-Control headers
 - [x] Automate dependency updates using @dependabot
 - [ ] Implement stress tests for S3 storage using jmetr

@artipie/contributors, @jeffzhu503  FYI

[2020-08-31 10:49] #521 closed

[2020-08-31 11:02] g4s8 opened #535 "Maven integration tests"
Part of #389 Let's add an integration test similar to https://github.com/artipie/artipie/issues/449 to verify Maven repository:
 - Deploy and download release artifact
 - Deploy and download snapshot artifact
 - Download and cache artifact using remote proxy Maven slice

It can be implemented using `org.eclipse.aether` classes similar to https://github.com/artipie/maven-adapter/blob/master/src/tes

[2020-08-31 12:13] #509 closed

[2020-08-31 12:13] 0pdd commented on #444
@g4s8 the puzzle [#464](https://github.com/artipie/artipie/issues/464) is still not solved; solved: [#472](https://github.com/artipie/artipie/issues/472), [#479](https://github.com/artipie/artipie/issues/479), [#480](https://github.com/artipie/artipie/issues/480), [#484](https://github.com/artipie/artipie/issues/484), [#494](https://github.com/artipie/artipie/issues/494), [#495](https://github.com

[2020-08-31 12:13] 0pdd commented on #495
@0pdd the only puzzle [#509](https://github.com/artipie/artipie/issues/509) is solved here.

[2020-08-31 12:25] g4s8 commented on #488
@rultor release, tag=`0.10`

[2020-08-31 12:26] rultor commented on #488
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23171-683746908)

[2020-08-31 12:28] rultor commented on #488
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/23171-683746908) (took me 2min)

[2020-08-31 12:30] 0crat commented on #509
Job `gh:artipie/artipie#509` is not assigned, can't get performer

[2020-08-31 20:24] jeffzhu503 commented on #23
@g4s8 According to the sponsor user meeting last Friday, this feature needs to be designed and implemented soon.  So I remove later label for now.  Otherwise, you can not replace Artifactory with Artipie.

[2020-08-31 20:25] 0crat commented on #23
You @jeffzhu503[/z](https://www.0crat.com/u/jeffzhu503) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-08-31 20:34] jeffzhu503 opened #536 "Centralized Metadata storage (Some kind of database) for Artipie"
On August 28 Zoom public meeting, the sponsor discussed using a database (Relational DB MySQL in their case) for storage all metadata in Artifactory.  We shall investigate what kind of database we may need for Artipie metadata. We shall also look at the NoSQL solution such as MongoDB or Cloud Native solution.

[2020-08-31 20:51] jeffzhu503 commented on #534
**We need to start the design for metadata storage and search feature very soon.**

[2020-09-01 08:54] 0crat commented on #524
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-01 13:06] Sammers21 opened #540 "Go adapter is broken"
When trying to use a go registry:
[code]

[2020-09-02 04:36] #448 closed

[2020-09-02 04:55] 0crat commented on #448
Job `gh:artipie/artipie#448` is not assigned, can't get performer

[2020-09-02 07:58] #154 closed

[2020-09-02 07:58] #540 closed

[2020-09-02 08:15] 0crat commented on #540
Job `gh:artipie/artipie#540` is not assigned, can't get performer

[2020-09-02 08:16] 0crat commented on #154
Job `gh:artipie/artipie#154` is not assigned, can't get performer

[2020-09-02 08:41] olegmoz opened #544 "Global permissions support"
Now Artipie supports configuration of permissions on per repository level. So it is impossible to give permissions to multiple or all repositories to a user in one place. For that we need to implement global permissions with wildcard support, so it would be possible to give a user permission for all operation in repository `repoA/**/*` or do anything in all repositories `**`.

[2020-09-02 08:48] olegmoz opened #545 "List files/folders API endpoint"
We need to implement API for reading files metadata. There is such API endpoint in Artifactory API: https://www.jfrog.com/confluence/display/JFROG/Artifactory+REST+API#ArtifactoryRESTAPI-FileList

We need it to list folders, and for the start let's assume that listing should not be recursive (e.g. one level of depth)

[2020-09-02 14:13] #524 closed

[2020-09-02 14:13] 0pdd commented on #449
@olegmoz 2 puzzles [#470](https://github.com/artipie/artipie/issues/470), [#512](https://github.com/artipie/artipie/issues/512) are still not solved; solved: [#493](https://github.com/artipie/artipie/issues/493), [#524](https://github.com/artipie/artipie/issues/524).

[2020-09-02 14:30] 0crat commented on #524
Job `gh:artipie/artipie#524` is not assigned, can't get performer

[2020-09-03 09:18] g4s8 commented on #545
@olegmoz I'll copy relevant API spec here from Artifactory docs:

**Description**: Get a flat (the default) or deep listing of the files and folders (not included by default) within a folder.
For deep listing you can specify an optional depth to limit the results.
Optionally include a map of metadata timestamp values as part of the result (only properties are displayed in since 3.0.0).
folder incl

[2020-09-03 11:32] olegmoz commented on #544
When global permissions are added to the application we have two permission rules: global and repo level. This means for any given request from user the rules need to be combined. Here is the table, that seems to be reasonable for this composition:

Global | Repo | Result
------- | ------- | -------
absent | absent | allow
absent | allow | allow
absent | deny | deny
allow | absent | allow
allow  |

[2020-09-08 16:48] aiovlev opened #553 "Add Conan adapter"
Support conan C/C++ packages
- [x] Conan packages download (V1 & V2 API)
- [x] Conan packages upload
- [x] Users auth. & permissions
- [ ] Support for custom package channels
- [ ] Errors\exceptions handling: verbose error message to client & logs and more tests for corner-cases.

[2020-09-09 08:12] 0crat commented on #499
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-09 08:14] olegmoz commented on #499
@IlyaMoskva the PRs mentioned in the issue are all unrelated, and bound to the issue by mistake. There was no any work done on this issue

[2020-09-09 08:16] 0crat commented on #406
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-09 10:22] olegmoz opened #555 "Create readme section about Artifactory API support"
Artipie implements parts of Artifactory API and plans to support more of endpoints. This feature is not covered in documentation. Established features and features required in future should be described, so they will be visible to users migrating from Artifactory.

[2020-09-09 10:31] 0crat commented on #555
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-09 14:43] olegmoz commented on #553
@aiovlev thanks, Conan looks to be quite popular packages repository. Cannot find any docs regarding it's server API, do you know if there is such documentation with endpoints description?

[2020-09-10 09:11] olenagerasimova opened #565 "Artifactory permissions API: return 404 when repo does not exist"
`DeletePermissionSlice` and `GetPermissionSlice` should return 404 if requested permissions target (repository) does not exist. Such behavior is not directly documented by artifactory, but I think it would be more correct than return 500 as we do now.
Also let's correct `AddUpdatePermissionSlice` javadoc.

[2020-09-10 09:11] olenagerasimova commented on #565
@olegmoz what do you think?

[2020-09-10 20:44] paulodamaso commented on #344
@Sammers21 I'm trying to reproduce this problem using `Pie` instance, so I can do this programatically, but I'm having no success. I did not found any documentation on how to start a `Pie` (without using docker and all). How do I tell to `Pie` where should it look for the yaml config files?

[2020-09-10 21:00] Sammers21 commented on #344
@paulodamaso, Artipie has a main class called VertxMain, you can run it from IDE. As a different option, you can build and run Artipie as a jar.

[2020-09-11 07:58] olegmoz commented on #544
It seems that after all we do not need global permissions support

[2020-09-11 07:58] #544 closed

[2020-09-11 08:16] 0crat commented on #544
Job `gh:artipie/artipie#544` is not assigned, can't get performer

[2020-09-11 08:36] Sammers21 commented on #534
@jeffzhu503, what are metadata storage and search feature?

[2020-09-11 08:50] olegmoz opened #569 "Add emails to users"
Users in Artipie have only name and password at the moment. It would be nice to also have option to add email for each user. This email (if set) should be configurable via YAML and be supported by HTTP API as well

[2020-09-11 08:54] olegmoz opened #570 "Repositories on own ports"
Right now connections are accepted on single port and all repositories are available with separation by HTTP path prefix. It would be useful to allow configurations when Artipie listens on multiple ports and every port is for it's own repository.

That would be especially useful for Docker repositories, as their API is not tailored to allow multiple repositories on single port

[2020-09-11 08:59] 0crat commented on #545
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-11 09:30] olegmoz opened #571 ""include-patterns" support in permissions API"
`/api/security/permissions/{name}` API endpoints need to support `include-patterns` parameter which allows to apply permission rules with more granularity. For now `include-patterns` expressions need to support only generic values like `**` , `{repoName}/**/*`. `**` means any character and `*` means any character except slash

[2020-09-11 09:58] olegmoz opened #572 "Readers group support"
All users added using HTTP API should be automatically added to `readers` group and repositories created using HTTP API should be created with read permissions granted to `readers` group

[2020-09-11 10:00] olegmoz opened #573 "User groups support"
We should implement support for groups, so users may be assigned to multiple groups and some permissions may be granted to whole group and not individual users

One example is `readers` group, see https://github.com/artipie/artipie/issues/572

[2020-09-11 10:02] olegmoz opened #574 "Permission aliases in HTTP API"
In permissions API we need to support short aliases for permissions, `r` for read or download operations, `w` for write or upload operations

[2020-09-11 10:06] olegmoz opened #575 "Compatibility with existing products"
The following issues need to be addressed to make HTTP API compatible with existing products:

- [x] List files/folders API endpoint: https://github.com/artipie/artipie/issues/545
- [x] Add emails to users https://github.com/artipie/artipie/issues/569
- [x] Permission aliases in HTTP API: https://github.com/artipie/artipie/issues/574
- [x] Repositories on own ports: https://github.com/artipie/arti

[2020-09-11 10:14] olegmoz commented on #575
@jeffzhu503 please see the issues. We are planning to address them so migration from existing products to Artipie would be seamless

[2020-09-11 10:21] olegmoz commented on #545
For now we need to support only requests with `listFolders=1` and `depth=1`

[2020-09-11 10:39] olenagerasimova commented on #569
@olegmoz do I understand correctly, that we are adding `email` field to `credentials.yaml` like this:
[code]

[2020-09-11 10:42] olegmoz commented on #569
@olenagerasimova yes, that's right. But `email` filed is optional and for now should be accessed only by HTTP API endpoints

[2020-09-11 11:04] olenagerasimova commented on #569
@olegmoz thanks, got it

[2020-09-11 11:54] Sammers21 commented on #569
@olegmoz, how email can be useful?

[2020-09-11 11:59] #565 closed

[2020-09-11 12:18] 0crat commented on #565
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) (its creator); I won't close the order; please, re-open it and ask @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) to close it

[2020-09-11 12:24] olegmoz commented on #569
@Sammers21 this is for HTTP API implementation, see https://github.com/artipie/artipie/blob/master/ARTIFACTORY_API_SUPPORT.md#get-user-details

[2020-09-14 07:07] olegmoz opened #583 "Week#38"
This is the plan for `#38` week of 2020:
- [x] List files/folders API endpoint: https://github.com/artipie/artipie/issues/545
- [x] Add emails to users https://github.com/artipie/artipie/issues/569
- [x] Permission aliases in HTTP API: https://github.com/artipie/artipie/issues/574
- [ ] Repositories on own ports: https://github.com/artipie/artipie/issues/570
- [ ] User groups support: https://gith

[2020-09-14 07:25] #555 closed

[2020-09-14 07:28] #534 closed

[2020-09-14 08:00] 0crat commented on #555
Job `gh:artipie/artipie#555` is not assigned, can't get performer

[2020-09-14 08:55] 0crat commented on #570
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-14 10:24] olegmoz opened #586 "Extract class for layout"
Now `layout` is represented with `String` in `Settings`. In many places the values is read and handled manually according to value `org` or `flat`. These two types of layout could be extracted to classes with same interface that parses repo name from URI and does other required operations

[2020-09-14 12:01] 0pdd opened #589 "Credentials.java:298-299: Consider extending this class..."
The puzzle `569-26fa1589` from #569 has to be resolved:

https://github.com/artipie/artipie/blob/cc666b9909a1c38a9f1d7cbc4b21de3cfafd2ec8/src/main/java/com/artipie/Credentials.java#L298-L299

The puzzle was created by @olenagerasimova on 14-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2020-09-14 12:01] 0pdd commented on #569
@olegmoz the puzzle [#589](https://github.com/artipie/artipie/issues/589) is still not solved.

[2020-09-14 12:29] olenagerasimova commented on #574
@olegmoz as we agreed today the most suitable and universal way here is to support some kind of synonyms set for "read" and "write", so here is what I'm planning to do:
1. In http create enum with permissions `READ` and `WRITE` and varargs field for synonyms, create class to obtain enum instance by any string synonym
2. Change `Permission.ByName` string `action` field to enum and add new ctor, use

[2020-09-14 13:22] Sammers21 commented on #570
@olegmoz, I want to work on the issue.

[2020-09-14 13:49] 0crat commented on #570
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-14 16:31] olegmoz commented on #574
@olenagerasimova design you propose sounds good, but I would not use enum for permission and create some interface instead. This will allow us to create custom permissions dynamically. For example we may need a read permissions for certain path, this cannot be done with enum.

[2020-09-15 11:10] #569 closed

[2020-09-15 13:11] 0crat commented on #571
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-15 15:40] olenagerasimova commented on #572
@olegmoz are we going to implement this by adding `read` permissions for `*` (everyone) in every repository added/updated with HTTP API?

[2020-09-16 08:34] #545 closed

[2020-09-16 08:34] 0pdd opened #597 "GetStorageSlice.java:95-99: Code duplication for creating..."
The puzzle `545-9296ae45` from #545 has to be resolved:

https://github.com/artipie/artipie/blob/1fac5979e73ee03a030ae3588232a18bd53982eb/src/main/java/com/artipie/api/artifactory/GetStorageSlice.java#L95-L99

The puzzle was created by @olegmoz on 15-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\"

[2020-09-16 08:34] 0pdd commented on #545
@olegmoz the puzzle [#597](https://github.com/artipie/artipie/issues/597) is still not solved.

[2020-09-16 08:36] olegmoz commented on #572
@olenagerasimova with this approach to revoke read access one will need to make changes in all repositories. That may do the trick as temporary solution, but I think we should actually implement groups. Groups going to be useful for big Artipie installations with many repositories and users

[2020-09-16 08:55] 0crat commented on #545
Job `gh:artipie/artipie#545` is not assigned, can't get performer

[2020-09-16 09:17] olenagerasimova commented on #572
@olegmoz as we discussed, here is my plan:
1. Prepare `http` by changing `Authentication` signature https://github.com/artipie/artipie/issues/573
2. Release `http` and update it in every adapter (maybe Alexandr can help me here?)
3. Update `http` in artipie and change `AuthFromYaml` to return group list
4. Update rest api clices to add "reader" group to users and repo permissions

Sounds ok?

[2020-09-16 10:34] #574 closed

[2020-09-16 13:08] #191 closed

[2020-09-16 13:08] 0pdd commented on #191
The puzzle `187-870a4b1d` has disappeared from the source code, that's why I closed this issue.

[2020-09-16 13:26] 0crat commented on #191
Job `gh:artipie/artipie#191` is not assigned, can't get performer

[2020-09-17 07:39] olenagerasimova opened #601 "Update go-adapter"
Let's bump go-adapter version and add pass users and auth there.

[2020-09-17 08:19] olegmoz opened #602 "NuGet integration tests"
Add integration tests that verify that NuGet can upload and install packages with authentication enabled and disabled.
Such integration tests are present in NuGet adapter repository

[2020-09-17 08:20] olegmoz opened #603 "Files repository integration tests"
Add integration tests that verify that Curl can upload and download binary files with authentication enabled and disabled

[2020-09-17 08:21] 0crat commented on #603
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-17 08:21] 0crat commented on #602
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-17 08:25] #499 closed

[2020-09-17 08:27] olegmoz commented on #350
@Sammers21 seems that NPM has been fixed, as proofs pass

[2020-09-17 08:27] #350 closed

[2020-09-17 09:01] 0crat commented on #350
Job `gh:artipie/artipie#350` is not assigned, can't get performer

[2020-09-17 09:01] 0crat commented on #499
Job `gh:artipie/artipie#499` is not assigned, can't get performer

[2020-09-17 09:02] olegmoz opened #604 "RPM integration tests"
Add integration tests that verify that RPM can upload and install packages with authentication enabled and disabled

[2020-09-17 09:03] olegmoz opened #605 "NPM local integration tests"
Add integration tests that verify that NPM can upload and install packages with authentication enabled and disabled

[2020-09-17 09:04] olegmoz opened #606 "Gem integration tests"
Add integration tests that verify that Gem can upload and install packages with authentication enabled and disabled

[2020-09-17 09:04] olegmoz opened #607 "Helm integration tests"
Add integration tests that verify that Helm can upload and install packages with authentication enabled and disabled.
Such integration tests are present in Helm adapter repository

[2020-09-17 09:47] ilx opened #608 "Document how to configure maven-proxy with authentication"
I would like to proxy private nexus/artifactory proxy. It is not evident to me how to configure such maven proxy from the current documentation/tests/samples.

[2020-09-17 10:48] IlyaMoskva commented on #406
@olegmoz , please show the way of implementation. Class GithubAuth in constructor calls 3rd-party github library like this:
new RtGithub(token).users().self().login();
and method doesn't throw any exception, as implement existing interface Authentication.
What exactly is required instead of returning an empty value?
How to test that code?

[2020-09-17 11:23] olegmoz commented on #406
@IlyaMoskva the requirement for this task is to reply with `401` instead of `500` when GitHub fails to authenticate the user. You may explore the code to see how `Authentication#user` reply is translated into an HTTP request and see how it is possible to extract error type from `new RtGithub(token).users().self().login()` invocation.

I am pretty sure that you as seasoned software engineer can fin

[2020-09-17 16:49] aiovlev commented on #553
@olegmoz , I didn't find too. :( But you can look on implementation in the opensource conan-server (python): https://github.com/conan-io/conan/blob/develop/conans/server/rest/controller/v2/conan.py

[2020-09-18 10:01] olenagerasimova commented on #572
@olegmoz let's discuss format for save user groups in `credentials.yaml`:
[code]
Is this format ok?

[2020-09-18 11:33] olegmoz commented on #572
@olenagerasimova yes, the format looks nice

[2020-09-18 13:23] 0crat commented on #573
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-21 08:32] olegmoz opened #614 "Week#39"
This is the plan for `#39` week of 2020:
- [x] Repositories on own ports: https://github.com/artipie/artipie/issues/570
- [x] "include-patterns" support in permissions API: https://github.com/artipie/artipie/issues/571
- [x] User groups support: https://github.com/artipie/artipie/issues/573
- [x] Readers group support: https://github.com/artipie/artipie/issues/572
- [x] Maven integration tests htt

[2020-09-21 08:32] #583 closed

[2020-09-21 08:58] 0crat commented on #583
Job `gh:artipie/artipie#583` is not assigned, can't get performer

[2020-09-21 10:49] 0pdd opened #616 "AuthFromYaml.java:45-47: Simplify `user()` method and get..."
The puzzle `572-84159cfe` from #572 has to be resolved:

https://github.com/artipie/artipie/blob/c61372a6934f8590e815758078e291e1667b3975/src/main/java/com/artipie/auth/AuthFromYaml.java#L45-L47

The puzzle was created by olenagerasimova on 21-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2020-09-21 10:49] 0pdd commented on #572
@olegmoz the puzzle [#616](https://github.com/artipie/artipie/issues/616) is still not solved.

[2020-09-21 12:57] #601 closed

[2020-09-21 13:14] 0crat commented on #601
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) (its creator); I won't close the order; please, re-open it and ask @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) to close it

[2020-09-22 01:16] 0crat commented on #574
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) resigned from [#574](https://github.com/artipie/artipie/issues/574), since the job is not in scope anymore

[2020-09-22 08:17] olegmoz commented on #608
@ilx thank you pointing this out, but we do not have support for that yet. We are going to support authentication for remote proxies in coming months

[2020-09-22 08:19] ilx commented on #608
@olegmoz Thank you for information. I liked the idea of the project. Keep up!

[2020-09-22 08:56] 0crat commented on #616
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-22 14:07] #571 closed

[2020-09-22 14:13] 0crat commented on #570
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-22 14:24] 0crat commented on #571
Job `gh:artipie/artipie#571` is not assigned, can't get performer

[2020-09-23 08:42] olegmoz opened #622 "Extract common code for repositories operations"
There are multiple places in code where list of repositories is read from storage, single repository is added or read from storage. Still there is not class that represents repositories of Artipie or single repository, so the code keeps copied from place to place. This has to be resoled with creating required abstractions and using them in Artipie.

[2020-09-24 17:10] olegmoz opened #628 "Enable Maven proxy tests"
Tests in `MavenProxyIT` class are disabled because Maven proxy does not function properly. The tests should be disabled when Maven proxy is fixed

[2020-09-24 17:10] olenagerasimova commented on #573
@olegmoz hm, I think we can close this ticket as we support groups for users now and I continue my work on readers group support and part of #572

[2020-09-24 17:12] #535 closed

[2020-09-24 17:14] 0crat commented on #628
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-24 17:26] #616 closed

[2020-09-24 17:26] 0pdd commented on #572
@olegmoz the only puzzle [#616](https://github.com/artipie/artipie/issues/616) is solved here.

[2020-09-24 17:30] 0crat commented on #535
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @g4s8[/z](https://www.0crat.com/u/g4s8) (its creator); I won't close the order; please, re-open it and ask @g4s8[/z](https://www.0crat.com/u/g4s8) to close it

[2020-09-24 17:46] 0crat commented on #616
Job `gh:artipie/artipie#616` is not assigned, can't get performer

[2020-09-25 07:47] Sammers21 opened #632 "Bump asto version"
A new asto version has been released. We need to bump asto version in artipie.

[2020-09-25 07:57] #572 closed

[2020-09-25 08:47] #570 closed

[2020-09-25 09:07] 0crat commented on #570
Job `gh:artipie/artipie#570` is not assigned, can't get performer

[2020-09-25 09:51] olegmoz opened #633 "Respond with 404 to request not related to repositories"
`SliceByPath` should not crash, but respond with `404` for requests that cannot be directed to a repository, such as `/favicon.ico` or `robots.txt` for example

[2020-09-25 10:17] Sammers21 opened #634 "Test log is huge"
For now, debug logs are enabled for `com.artipie` package, which results in a monstrous size build logs. It's even not possible to go to the end of this log because GitHub actions interface simply unable to show it.

I'd like to suggest to disable those debugs logs by default. Of course, they could be enabled during an investigation. But for default CI run it's too much.

[2020-09-25 10:19] Sammers21 opened #635 "Docker tests fail on mac os"
When I run `mvn clean install -Pqulice` on latest mac os I get the following errors:
[code]

[2020-09-25 12:54] olegmoz opened #637 "Too much details about storage operation in logs"
When run in production or for purpose of integration testing too much log output is provided by `MeasuredStorage`. To reduce amount of log messages printed it's logging level should be configurable with being trace by default

[2020-09-25 12:55] 0crat commented on #637
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-25 14:17] #637 closed

[2020-09-25 14:34] 0crat commented on #637
Job `gh:artipie/artipie#637` is not assigned, can't get performer

[2020-09-28 06:48] olegmoz opened #642 "Week#40"
This is the plan for `#40` week of 2020:
- [x] Fix Maven proxy and enable tests: https://github.com/artipie/artipie/issues/628
- [x] Publish September release notes: https://github.com/artipie/blog.artipie.com/issues/5
- [x] Join NPM local & proxy projects: https://github.com/artipie/npm-adapter/issues/123
- [x] Fix integration tests in NPM repository: https://github.com/artipie/npm-adapter/issues

[2020-09-28 06:48] #614 closed

[2020-09-28 06:49] #575 closed

[2020-09-28 07:08] 0crat commented on #614
Job `gh:artipie/artipie#614` is not assigned, can't get performer

[2020-09-28 07:08] 0crat commented on #575
Job `gh:artipie/artipie#575` is not assigned, can't get performer

[2020-09-28 10:46] olegmoz commented on #634
Solved in #637

[2020-09-28 10:46] #634 closed

[2020-09-28 10:57] olegmoz commented on #635
`Error response from daemon: Get http://localhost:52732/v2/: dial tcp [::1]:52732: connect: connection refused` is the reason for tests failure and seems to be issue with Docker unable to connect to local Docker registry. I think @olenagerasimova tried to solved, but failed to find a workaround.

[2020-09-28 11:02] 0crat commented on #634
Job `gh:artipie/artipie#634` is not assigned, can't get performer

[2020-09-28 11:17] #603 closed

[2020-09-28 11:48] 0crat commented on #603
Job `gh:artipie/artipie#603` is not assigned, can't get performer

[2020-09-28 13:28] olegmoz commented on #603
@genryxy it looks like we have all the tests needed: upload, download and auth coverage. I think we are ready to close the issue or we are missing something?

[2020-09-28 13:32] genryxy commented on #603
@olegmoz yeah, this question can be closed

[2020-09-28 15:04] 0crat commented on #604
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-09-29 12:42] #573 closed

[2020-09-29 13:00] 0crat commented on #573
Job `gh:artipie/artipie#573` is not assigned, can't get performer

[2020-09-30 02:45] vongosling opened #646 "Quick start problem"
1. maven-adapter version 0.4.10 is not in the maven center repo. -  https://search.maven.org/artifact/com.artipie/maven-adapter
2. when I change it to the latest version 0.5.1. the error occurred when building

    :/workspace/artipie/src/main/java/com/artipie/SliceFromConfig.java:[51,36] 程序包com.artipie.maven.repository不存在

I think the latest version has removed this class, right?

[2020-09-30 02:45] vongosling commented on #646
@yegor256 ping.

[2020-09-30 06:21] vongosling commented on #646
Also, I think the ci system passed in the past 8 months. It seems no work since then:-)

[2020-09-30 09:20] olegmoz commented on #646
@vongosling

1. Latest version of `maven-adapter` is in Maven Central, please follow the link: https://search.maven.org/artifact/com.artipie/maven-adapter/0.5.1/jar

2. The error you get is about missing classes, it seems that you try to build the project with some dependency missing. The project can be built with Maven, here are latest build logs from CI: https://github.com/artipie/artipie/action

[2020-09-30 10:56] vongosling commented on #646
@olegmoz I am not sure I expressed the problem clearly. In your master, your dependency is 0.4.10, when I change to the latest version 0.5.1. Error occurred. I just wonder do you remove this class from the latest dependency? I could not build a successful code from the scratch. IMO, it's not a nice experience for a newbie :-)

[2020-09-30 11:08] vongosling commented on #646
I success when I change to 0.4.6. IMO, you should check your ci system why it could pass?

[2020-09-30 11:33] olegmoz commented on #646
@vongosling please check connectivity on machine you are using for build and/or try to clear local cache. `maven-adapter` `0.5.1` is available at maven central:
https://repo.maven.apache.org/maven2/com/artipie/maven-adapter/0.5.1/maven-adapter-0.5.1.pom
https://repo.maven.apache.org/maven2/com/artipie/maven-adapter/0.5.1/maven-adapter-0.5.1.jar
These links work for me and in build logs I see the f

[2020-10-01 07:14] olegmoz commented on #614
@rultor release, tag=`0.11`

[2020-10-01 07:15] rultor commented on #614
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23439-701938425)

[2020-10-01 07:15] rultor commented on #614
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23439-701938425) (spent 16s)

[code]

[2020-10-01 07:24] olenagerasimova opened #647 "Expand readme"
We lack some information in our readmes, at least:
- repo permissions descriptions
- info about storages types and configuration

Let's add table of content to the readme after quick start section along with missing documentation.

[2020-10-01 08:04] olegmoz commented on #614
@yegor256 please help us out with release, `.rultor.yml` needs to be touched

[2020-10-01 11:39] olenagerasimova opened #649 "Upgrade maven and enable proxy test"
Let's upgrade maven to `0.6` and enable maven proxy IT case.

[2020-10-01 11:40] olenagerasimova commented on #649
@genryxy could you please take a look?

[2020-10-01 11:48] genryxy commented on #649
@olenagerasimova yeah. This issue is similar to #628

[2020-10-01 11:53] olenagerasimova commented on #649
@genryxy oh, sorry, closing as a duplicate

[2020-10-01 11:53] #649 closed

[2020-10-01 18:58] 0crat commented on #649
Job `gh:artipie/artipie#649` is not assigned, can't get performer

[2020-10-01 20:12] 0crat commented on #628
Job `gh:artipie/artipie#628` is not assigned, can't get performer

[2020-10-02 06:28] olegmoz commented on #614
@yegor256 we cannot create new release, please touch `.rultor.yml`

[2020-10-02 07:33] #647 closed

[2020-10-02 07:57] 0crat commented on #647
Job `gh:artipie/artipie#647` is not assigned, can't get performer

[2020-10-02 08:19] 0crat commented on #604
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-02 08:19] olegmoz opened #652 "PyPi integration tests"
Add integration tests that verify that PyPi can upload and install packages with authentication enabled and disabled

[2020-10-02 08:20] 0crat commented on #652
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-02 08:27] yegor256 commented on #614
@olegmoz done

[2020-10-02 08:28] olegmoz commented on #614
@yegor256 thanks!

[2020-10-02 08:28] olegmoz commented on #614
@rultor release, tag=`0.11`

[2020-10-02 08:29] rultor commented on #614
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23439-702598449)

[2020-10-02 08:30] rultor commented on #614
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23439-702598449) (spent 25s)

[code]

[2020-10-02 08:31] olegmoz commented on #614
@rultor release, tag=`0.11.1`

[2020-10-02 08:33] rultor commented on #614
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23439-702599493)

[2020-10-02 08:35] rultor commented on #614
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23439-702599493) (took me 2min)

[2020-10-02 09:59] olegmoz opened #654 "Week#41"
This is the plan for `#41` week of 2020:

 - [x] NuGet can upload and install packages https://github.com/artipie/artipie/issues/602
 - [x] RPM can upload and install packages: https://github.com/artipie/artipie/issues/604
 - [x] Basic authentication support in HTTP client: https://github.com/artipie/http-client/issues/50
 - [x] Support authentication in `maven-adapter` proxy: https://github.com/a

[2020-10-02 11:59] Sammers21 opened #655 "New releases are not marked with latest tag"
While the real latest is 0.11.1 is the latest, 0.8.14 is shown as the latest:
![image](https://user-images.githubusercontent.com/16746106/94920869-d09ac280-04bf-11eb-997d-446014ce7c01.png)

[2020-10-02 12:06] Sammers21 opened #656 "Docker images build always fail"
![image](https://user-images.githubusercontent.com/16746106/94921326-c927e900-04c0-11eb-875b-b50750b7a48b.png)
![image](https://user-images.githubusercontent.com/16746106/94921331-caf1ac80-04c0-11eb-85d7-2abcd4bc01c6.png)

Fail reason: https://github.com/artipie/artipie/runs/1197839942?check_suite_focus=true#step:6:12

[code]

[2020-10-02 12:07] Sammers21 commented on #656
@olegmoz, hey, can you fix it?

[2020-10-02 13:01] olegmoz commented on #656
@Sammers21 that's weird it fails on publishing to `central.artipie.com` on attempt to access `https://registry-1.docker.io/v2/`
@g4s8 do you understand what is going on there?

[2020-10-02 22:35] Sammers21 commented on #656
@olegmoz, i guess releasing to central artipie should be optional

[2020-10-05 07:08] g4s8 commented on #656
@olegmoz it seems the workflow has incorrect configuration https://github.com/artipie/artipie/actions/runs/283910426/workflow
[code]
it uses default registry host (`registry-1.docker.io`) but it should be `central.artipie.com`, see https://github.com/elgohr/Publish-Docker-Github-Action#registry

[2020-10-05 12:14] genryxy opened #657 "Add authentication for nuget IT case"
There is problem with adding authentication for nuget IT case. I use such testcontainer `new GenericContainer<>("mcr.microsoft.com/dotnet/sdk:5.0")`
At first, I tried to install nuget to execute command `nuget`. But it wasn't installed. So, I have to execute command with help `dotnet nuget`
The `dotnet nuget` doesn't have ability to pass user credentials as parameters. So, username and password sh

[2020-10-05 12:54] #656 closed

[2020-10-05 13:11] 0crat commented on #656
Job `gh:artipie/artipie#656` is not assigned, can't get performer

[2020-10-05 13:12] Sammers21 commented on #655
@olegmoz, pay attention to this issue, please.

[2020-10-05 13:13] Sammers21 commented on #656
@olegmoz, can you please release a new minor version just to make sure that everything is fine with the build?

[2020-10-05 13:14] Sammers21 commented on #656
@olegmoz, for example, `0.11.1.1`

[2020-10-05 13:29] genryxy commented on #657
@olegmoz could you please take a look

[2020-10-05 14:02] olegmoz commented on #656
@rultor release, tag=`0.11.2`

[2020-10-05 14:02] olegmoz commented on #656
@Sammers21 started release of `0.11.2`

[2020-10-05 14:03] rultor commented on #656
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23485-703652857)

[2020-10-05 14:04] olegmoz commented on #657
@genryxy thanks for detailed description, we will investigate it later

[2020-10-05 14:05] rultor commented on #656
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23485-703652857) (took me 2min)

[2020-10-05 14:06] olegmoz commented on #655
@Sammers21 thanks for reporting, that's a major issue

[2020-10-05 14:07] olegmoz commented on #602
It is problematic to test authentication for NuGet, see https://github.com/artipie/artipie/issues/657

[2020-10-05 15:00] 0crat commented on #608
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-05 15:02] olegmoz commented on #646
@vongosling did you manage to build the project? Was it temporary or you still experience problems with downloading `maven-adapter` from Maven Central?

[2020-10-06 04:46] olenagerasimova opened #660 "Extract class to build repo config yaml"
A lot of tests (all the adapters ITs) classes require repo config yaml to be build. Now code to do that is repeating in each class, let's create another class in the test scope to avoid duplications.

[2020-10-06 10:51] genryxy opened #663 "Add timeout in NugetITCase"
In some case `NugetITCase` hangs indefinitely  in `maven-build (ubuntu-latest, 11)` or `maven-build (ubuntu-latest, 13)`. Let's add `@Timeout()` for method `shouldPushPackage()` for quick notification of failure.

[2020-10-06 11:45] Sammers21 commented on #655
@olegmoz, if it's a major issue, can you fix it?

[2020-10-06 13:07] olegmoz commented on #655
@Sammers21 not sure what to do about it. Rultor creates releases with `pre-release` tag and I am not sure it can be configured. I have changed latest release status to `release` so it is fixed. Not yet sure how to do that automatic

[2020-10-06 13:11] Sammers21 commented on #655
@olegmoz, I guess if you would push a new tag manually, such an issue would not occur. The latest release will be updated correctly.

[2020-10-07 06:44] #663 closed

[2020-10-07 07:02] 0crat commented on #663
Job `gh:artipie/artipie#663` is not assigned, can't get performer

[2020-10-07 10:53] olegmoz opened #668 "Authenticate remote endpoint in Maven proxy"
Remote URI configured in Maven proxy may require authentication. In order to allow access to repositories protected with username/password we need to make it configurable for Maven proxy and implement support

[2020-10-07 10:56] 0crat commented on #668
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-08 07:59] #604 closed

[2020-10-08 08:19] 0crat commented on #604
Job `gh:artipie/artipie#604` is not assigned, can't get performer

[2020-10-08 12:20] 0pdd opened #674 "MavenProxy.java:43-47: Use GenericAuthenticator in..."
The puzzle `668-edbbdbad` from #668 has to be resolved:

https://github.com/artipie/artipie/blob/db2fee8230130cb1e4f04238a44414ceda800be5/src/main/java/com/artipie/maven/MavenProxy.java#L43-L47

The puzzle was created by @olegmoz on 08-Oct-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the proble

[2020-10-08 12:20] 0pdd commented on #668
@olegmoz the puzzle [#674](https://github.com/artipie/artipie/issues/674) is still not solved.

[2020-10-09 05:36] #642 closed

[2020-10-09 05:59] 0crat commented on #642
Job `gh:artipie/artipie#642` is not assigned, can't get performer

[2020-10-09 07:54] 0pdd opened #677 "NugetITCase.java:88-91: Create constructor in..."
The puzzle `602-02a4b526` from #602 has to be resolved:

https://github.com/artipie/artipie/blob/fa7957a6f55fd53de2136c349707fcb8c895491c/src/test/java/com/artipie/nuget/NugetITCase.java#L88-L91

The puzzle was created by Alexandr on 09-Oct-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2020-10-09 07:54] 0pdd commented on #602
@olegmoz the puzzle [#677](https://github.com/artipie/artipie/issues/677) is still not solved.

[2020-10-09 08:24] 0pdd opened #679 "NugetITCase.java:55-58: Fix and enable NugetITCase. Tests..."
The puzzle `602-656eb91f` from #602 has to be resolved:

https://github.com/artipie/artipie/blob/b1043d8c536c8557b098fc834414e3e22225c125/src/test/java/com/artipie/nuget/NugetITCase.java#L55-L58

The puzzle was created by Oleg Mozzhechkov on 09-Oct-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when t

[2020-10-09 08:24] 0pdd commented on #602
@olegmoz 2 puzzles [#677](https://github.com/artipie/artipie/issues/677), [#679](https://github.com/artipie/artipie/issues/679) are still not solved.

[2020-10-09 08:46] #660 closed

[2020-10-09 08:46] olenagerasimova opened #680 "Extract profile for IT cases"
Let's extract integration tests into separate profile and add separate action for it.

[2020-10-09 09:09] 0crat commented on #660
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) (its creator); I won't close the order; please, re-open it and ask @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) to close it

[2020-10-09 09:34] 0crat commented on #605
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-09 09:58] 0crat commented on #633
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-09 11:12] #680 closed

[2020-10-09 11:19] #602 closed

[2020-10-09 11:28] 0crat commented on #680
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) (its creator); I won't close the order; please, re-open it and ask @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) to close it

[2020-10-09 12:02] 0crat commented on #674
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-09 12:03] 0crat commented on #602
Job `gh:artipie/artipie#602` is not assigned, can't get performer

[2020-10-09 13:06] olegmoz opened #684 "Week#42"
This is the plan for `#42` week of 2020:

- [x] PyPi can upload and download artifacts: https://github.com/artipie/artipie/issues/652
- [x] Bearer authentication support in HTTP client: https://github.com/artipie/http-client/issues/51
- [x] Support authentication in `files-adapter` proxy: https://github.com/artipie/files-adapter/issues/37
- [x] Update and document Maven proxy configuration: https:

[2020-10-10 00:29] vongosling commented on #646
@olegmoz I could download 0.5.1, my question is your default version 0.4.10 is not the correct version, and it reports some class could not found when changing it to 0.5.1

[2020-10-12 03:12] vongosling commented on #646
I have found the master has updated this dependency to 0,7 version, there is no error now.

[2020-10-12 03:12] #646 closed

[2020-10-12 03:29] 0crat commented on #646
Job `gh:artipie/artipie#646` is not assigned, can't get performer

[2020-10-12 06:27] #654 closed

[2020-10-12 06:58] 0crat commented on #654
Job `gh:artipie/artipie#654` is not assigned, can't get performer

[2020-10-12 07:46] #652 closed

[2020-10-12 08:04] 0crat commented on #652
Job `gh:artipie/artipie#652` is not assigned, can't get performer

[2020-10-12 08:17] #674 closed

[2020-10-12 08:17] 0pdd commented on #668
@olegmoz the only puzzle [#674](https://github.com/artipie/artipie/issues/674) is solved here.

[2020-10-12 08:34] 0crat commented on #674
Job `gh:artipie/artipie#674` is not assigned, can't get performer

[2020-10-13 06:23] #633 closed

[2020-10-13 07:02] 0crat commented on #633
Job `gh:artipie/artipie#633` is not assigned, can't get performer

[2020-10-13 14:30] #677 closed

[2020-10-13 15:00] 0crat commented on #677
Job `gh:artipie/artipie#677` is not assigned, can't get performer

[2020-10-14 14:03] #608 closed

[2020-10-14 14:21] 0crat commented on #608
Job `gh:artipie/artipie#608` is not assigned, can't get performer

[2020-10-14 17:01] olenagerasimova opened #690 "Create class to compose credentials yaml config"
Let's create class to build credentials yaml config in test scope to replace multiple repeating places where this config is created.

[2020-10-14 17:30] #668 closed

[2020-10-14 17:58] 0crat commented on #668
Job `gh:artipie/artipie#668` is not assigned, can't get performer

[2020-10-15 00:30] 0crat commented on #680
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) resigned from [#680](https://github.com/artipie/artipie/issues/680), since the job is not in scope anymore

[2020-10-15 07:59] olegmoz opened #692 "Authentication for files proxy remote"
Files proxy should be configurable to specify username and password for target repository

[2020-10-15 08:04] 0crat commented on #692
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-15 08:59] olegmoz opened #693 "Same cache configuration for proxy adapters"
Cache for proxies is configured is not configured in same way for Docker and Maven. Format of Maven configuration should be updated to be the same as for Docker

[2020-10-15 09:02] 0crat commented on #693
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-15 09:29] olegmoz opened #694 "Multiple remotes for Maven proxy repository"
Only single remote endpoint is supported for Maven proxy repository. Multiple Maven remotes may be supported using grouping slice

[2020-10-15 09:30] 0crat commented on #694
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-15 09:37] #632 closed

[2020-10-15 10:02] 0crat commented on #632
Job `gh:artipie/artipie#632` is not assigned, can't get performer

[2020-10-16 08:22] olegmoz opened #697 "Week#43"
This is the plan for `#43` week of 2020:

- [x] Multiple remotes in Maven proxy: https://github.com/artipie/artipie/issues/694
- [x] Authentication for files proxy remote : https://github.com/artipie/artipie/issues/692
- [x] Missing metadata fields in NPM: https://github.com/artipie/npm-adapter/issues/119
- [x] Search command support in PyPi: https://github.com/artipie/pypi-adapter/issues/135
- [x

[2020-10-16 08:26] olegmoz commented on #697
@olenagerasimova please see the draft, what issues were you planning to complete next week in PyPi?

[2020-10-16 08:40] olenagerasimova commented on #697
@olegmoz these three:
- support pip search https://github.com/artipie/pypi-adapter/issues/135
- proxy for artifacts https://github.com/artipie/pypi-adapter/issues/129
- proxy auth https://github.com/artipie/pypi-adapter/issues/130

[2020-10-16 09:44] olegmoz commented on #697
@olenagerasimova thanks, added the items to the plan

[2020-10-16 09:59] #690 closed

[2020-10-16 10:16] 0crat commented on #690
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) (its creator); I won't close the order; please, re-open it and ask @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) to close it

[2020-10-18 13:50] olegmoz opened #700 "Remove usage of `Identities` and `SliceAuth`"
These deprecated classes are still used in:
- [x] `AuthAndPermissionsTest`
- [x] `SliceFromConfig`, which requires migration in adapters: https://github.com/artipie/npm-adapter/issues/140 https://github.com/artipie/helm-adapter/issues/72 https://github.com/artipie/rpm-adapter/issues/368
- [ ] `AuthApi` and it's usage in `DashboardSlice` and `ArtipieApi`

[2020-10-18 13:58] 0crat commented on #700
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-19 12:32] #684 closed

[2020-10-19 12:58] 0crat commented on #684
Job `gh:artipie/artipie#684` is not assigned, can't get performer

[2020-10-20 07:28] #694 closed

[2020-10-20 08:07] 0crat commented on #694
Job `gh:artipie/artipie#694` is not assigned, can't get performer

[2020-10-20 14:01] #693 closed

[2020-10-21 02:04] ZHRen opened #706 "Could you please provide Artipie Deployment Diagram？"
Make sure the title of the ticket explains the feature you are proposing. Go through this checklist before submitting the feature:
 - It's a feature request, not bug report. For bug reports use another template.
 - Is your feature request related to a problem? Please provide a clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
- Describe the solution you'd l

[2020-10-21 11:30] #692 closed

[2020-10-21 12:01] 0crat commented on #692
Job `gh:artipie/artipie#692` is not assigned, can't get performer

[2020-10-23 08:16] olegmoz opened #711 "Week#44"
This is the plan for `#44` week of 2020:

- [x] October release notes: https://github.com/artipie/blog.artipie.com/issues/7
- [x] NPM local can publish and install packages: https://github.com/artipie/artipie/issues/605
- [x] Maven proxy response when not found: https://github.com/artipie/maven-adapter/issues/219
- [x] RPM: Unpack and parse only newly added rpm packages https://github.com/artipie/

[2020-10-23 08:25] olegmoz opened #712 "NPM proxy integration tests"
Add integration tests that verify that NPM proxy can install packages

[2020-10-23 08:26] 0crat commented on #712
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-23 08:45] olenagerasimova commented on #711
RPM:
- unpack and parse only newly added rpm packages https://github.com/artipie/rpm-adapter/issues/318
- properly handle errors with metadata xml https://github.com/artipie/rpm-adapter/issues/323
- instrument to properly verify repomd.xml https://github.com/artipie/rpm-adapter/issues/359
- also I think I'll dive in into rpm again and come up with some general plan to fully migrate to incremental

[2020-10-23 08:48] olenagerasimova opened #713 "Prepare to extract Artipie API into separate repo"
Let's think through extracting Artipie API into separate repository, come up with some plan and make necessary preparations.

Steps:
- create new repo
- copy `api` and `dashboard` packages
- extract interface from `PathPattern` in the new repo
- copy `RepoPermissions` and `Users`, class `RepoPermissions.PermissionItem` to the new repo and step by step get rid of the `artipie` dependency there
- tr

[2020-10-23 08:49] olenagerasimova commented on #711
@olegmoz please check RPM plans above, also I'd like to take issue https://github.com/artipie/artipie/issues/713 in artipie

[2020-10-23 09:16] olenagerasimova opened #714 "Update python and add proxy"
Let's update python and add python proxy.

[2020-10-23 09:25] olenagerasimova opened #715 "Pypi proxy IT"
Let's add pypi proxy IT case.

[2020-10-23 10:23] genryxy commented on #711
@olegmoz I can fix `MavenProxySlice` response next week artipie/maven-adapter#219

[2020-10-23 10:38] olegmoz commented on #711
@olenagerasimova @genryxy thanks, added issues to the plan

[2020-10-23 12:10] #714 closed

[2020-10-23 12:30] 0crat commented on #714
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) (its creator); I won't close the order; please, re-open it and ask @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) to close it

[2020-10-23 13:39] genryxy opened #718 "Correct path handling for NPM"
It seems that path handling for NPM doesn't work properly. For example, npm should install project in `repos` folder with such configs, but now it installs in the root folder.
[code]
After the problem is resolved, you need to correct path in `NpmITCase#inNpmModule`.

[2020-10-26 07:06] #697 closed

[2020-10-26 07:23] 0crat commented on #697
Job `gh:artipie/artipie#697` is not assigned, can't get performer

[2020-10-26 07:51] #715 closed

[2020-10-26 08:08] 0crat commented on #715
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) (its creator); I won't close the order; please, re-open it and ask @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) to close it

[2020-10-26 13:06] #605 closed

[2020-10-26 13:23] 0crat commented on #605
Job `gh:artipie/artipie#605` is not assigned, can't get performer

[2020-10-27 08:53] genryxy opened #722 "Refactor ITCase"
Let's refactor existing ITCases

- Extract to a separate class creating container
- Remove code duplication for maven config
- Extract to a separate class creating url. This url should contain user credentials for not anonymous cases

[2020-10-28 09:23] olenagerasimova opened #724 "Proxy information in examples"
Let's add information about files proxy adapter to the corresponding example.

[2020-10-28 14:48] #724 closed

[2020-10-29 07:56] olegmoz opened #727 "Week#45"
This is the plan for #45 week of 2020:

- [x] Migrate Docker adapter to Java 8: https://github.com/artipie/docker-adapter/issues/341
- [x] Support absent content in proxies cache: https://github.com/artipie/asto/issues/286
- [x] Handle redirects in PyPi proxy: https://github.com/artipie/pypi-adapter/issues/145
- [x] Incremental update test coverage: https://github.com/artipie/rpm-adapter/issues/22

[2020-10-29 10:46] olenagerasimova commented on #727
@olegmoz for the next week
- return Optional of Content from cache https://github.com/artipie/asto/issues/286
- properly handle redirects in python-proxy https://github.com/artipie/pypi-adapter/issues/145
- strong testing in rpm https://github.com/artipie/rpm-adapter/issues/227

[2020-10-29 12:48] olegmoz commented on #711
@rultor release, tag=`0.12`

[2020-10-29 12:50] rultor commented on #711
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23608-718730426)

[2020-10-29 12:52] rultor commented on #711
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23608-718730426) (took me 2min)

[2020-10-30 08:11] #722 closed

[2020-10-30 08:17] genryxy commented on #727
@olegmoz for the next week

- Fix a regex bug artipie/npm-adapter#139
- Add npm proxy integration test #712

[2020-10-30 08:29] 0crat commented on #722
Job `gh:artipie/artipie#722` is not assigned, can't get performer

[2020-10-30 13:44] olenagerasimova opened #729 "Do not throw IOExceptions in Settings"
Let's remove `IOExceptions` from the methods' signature of `Settings` interface. This should be done by passing `YamlSettings` instance of `YamlMapping` instead of the string. Instance of `com.artipie.YamlSettings` is created in `com/artipie/VertxMain.java:184` from configuration file, we can create `YamlMapping` right there.

[2020-10-30 14:10] olenagerasimova commented on #727
@olegmoz I'd suggest adding #729 to the plan

[2020-10-30 14:15] olenagerasimova commented on #713
@olegmoz I've added very exemplary plan here, also at the beginning I wanted to leave `Settings` interface in `artipie` and get rid of this dependency in api slices (requires some coding, but not difficult). But now I see that maybe it would be good to move this interface to the new repo too. What do you think?

[2020-10-30 14:17] olegmoz commented on #727
@olenagerasimova thanks, added

[2020-10-30 14:29] olegmoz commented on #713
I do not think that whole `Settings` interface deserves to be moved there, it looks like a core class for Artipie. I imagine that this new `management-api` module should  provide just some `Slice` classes for dashboard, REST API etc and interfaces to be implemented. But core functionality like repository APIs should work well without any dependency on new module. Methods like `Settings.auth()` and

[2020-10-30 14:50] olenagerasimova opened #730 "Artipie API slices should not depend on Settings"
Let's make Artipie API do not depend on `Settings` interface. These slices will be moved to a separate repository, and should not depend on artipie `Settings`.
Note that interfaces `RepoPermissions` and `Users`, class `RepoPermissions.PermissionItem` will be moved to the new repo along with these slices.

[2020-10-30 15:10] olenagerasimova commented on #713
@olegmoz then I think we should get rid of `Settings` dependency in api slices, I've created #730

[2020-11-02 14:08] #711 closed

[2020-11-02 14:26] 0crat commented on #711
Job `gh:artipie/artipie#711` is not assigned, can't get performer

[2020-11-02 15:33] 0pdd opened #734 "CookiesTest.java:36-39: Add tests for Cookies class...."
The puzzle `231-f3499255` from #231 has to be resolved:

https://github.com/artipie/artipie/blob/a295adb91bda52037f62630db1ddf395b2403c6e/src/test/java/com/artipie/api/CookiesTest.java#L36-L39

The puzzle was created by Oleg Mozzhechkov on 02-Nov-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-11-02 15:33] 0pdd commented on #231
@g4s8 3 puzzles [#273](https://github.com/artipie/artipie/issues/273), [#291](https://github.com/artipie/artipie/issues/291), [#734](https://github.com/artipie/artipie/issues/734) are still not solved; solved: [#267](https://github.com/artipie/artipie/issues/267), [#272](https://github.com/artipie/artipie/issues/272), [#290](https://github.com/artipie/artipie/issues/290), [#292](https://github.com

[2020-11-02 17:21] #729 closed

[2020-11-02 18:03] 0crat commented on #729
Job `gh:artipie/artipie#729` is not assigned, can't get performer

[2020-11-03 13:26] genryxy opened #737 "PypiProxyITCase should install from proxy not from origin"
Now `PypiProxyITCase#installFromProxy` install from origin, not from proxy
[code]
And in method `PypiProxyITCase#init` Artipie server with origin config is created for `my-pypi`
[code]
So, new `RepositoryUrl` is created for `my-pypi` reponame, but it should be created for `my-pypi-proxy` to verify that proxy works properly.

[2020-11-05 07:29] genryxy opened #738 "Fix path handling for NpmProxy"
If in `SliceFromConfig`  use `""` instead of `cfg.path()` then `meta.json` will be found by proxy and loaded but `.tgz` will not be found (output below). If use `cfg.path()` then neither of the two files will be found:
[code]

[code]
So, path handling does not work properly. It should be fixed. After that `NpmProxyITCase` should be disabled.

[2020-11-05 15:32] #712 closed

[2020-11-05 15:59] 0crat commented on #712
Job `gh:artipie/artipie#712` is not assigned, can't get performer

[2020-11-05 18:30] iaroslavscript opened #740 "Fix missing VOLUME declaration"
Dockerfile should have VOLUME declaration for persistent data storage and config file as it told in [best-practices](https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#volume).

Please see my pull request #741

P.S. I had to move config file from `/etc/artipie.yml` to `/etc/artipie/artipie.yml` because it's almost impossible to declare volume as a file and not as directory.

[2020-11-06 08:00] olegmoz opened #742 "Week#46"
This is the plan for #46 week of 2020:

- [x] Docker: blobs with same content should not be overwritten: https://github.com/artipie/docker-adapter/issues/344
- [x] Remove deprecated auth classes usage: https://github.com/artipie/artipie/issues/700
- [x] Helm integration tests: https://github.com/artipie/artipie/issues/607
- [x] Blog post about Maven: https://github.com/artipie/blog.artipie.com/iss

[2020-11-06 08:01] olegmoz commented on #742
@olenagerasimova @genryxy please submit your plans for next week in comments

[2020-11-06 10:07] 0crat commented on #738
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-11-06 10:07] 0crat commented on #607
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-11-06 10:58] olenagerasimova commented on #742
@olegmoz please, consider these tasks:
- finish support absent content in proxies cache implementation artipie/asto#286
- support absent content in python proxy https://github.com/artipie/pypi-adapter/issues/149
- support absent content in maven proxy https://github.com/artipie/maven-adapter/issues/222
- also I'd take this issue as part of the extracting API into separate repo https://github.com/a

[2020-11-09 07:03] 0crat commented on #730
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-11-09 07:20] #727 closed

[2020-11-09 07:57] 0crat commented on #727
Job `gh:artipie/artipie#727` is not assigned, can't get performer

[2020-11-09 13:25] #737 closed

[2020-11-09 14:06] #740 closed

[2020-11-09 14:07] 0crat commented on #737
Job `gh:artipie/artipie#737` is not assigned, can't get performer

[2020-11-09 14:07] olegmoz commented on #740
@rultor release, tag=`0.12.1`

[2020-11-09 14:09] rultor commented on #740
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23660-724035206)

[2020-11-09 14:12] rultor commented on #740
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23660-724035206) (took me 2min)

[2020-11-09 14:23] olegmoz commented on #740
@iaroslavscript new release is ready and available on DockerHub: https://hub.docker.com/layers/artipie/artipie/0.12.1/images/sha256-b62852a1cfff890e706adc290aecdebda6fab605154856c205c306bcfadbaeaa?context=explore

[2020-11-09 14:23] 0crat commented on #740
Job `gh:artipie/artipie#740` is not assigned, can't get performer

[2020-11-10 08:45] #700 closed

[2020-11-10 09:02] 0crat commented on #700
Job `gh:artipie/artipie#700` is not assigned, can't get performer

[2020-11-12 09:01] olegmoz opened #750 "Week#47"
This is the plan for #47 week of 2020:

- [x] Docker should store data in storage root: https://github.com/artipie/docker-adapter/issues/346
- [x] Non-blocking NuGet adapter: https://github.com/artipie/nuget-adapter/issues/117
- [x] Prepare Python blog post: https://github.com/artipie/blog.artipie.com/issues/12
- [x] Tests for index generation in Helm adapter: https://github.com/artipie/helm-adapt

[2020-11-12 09:01] olegmoz commented on #750
@olenagerasimova @genryxy please submit your plans for next week in comments

[2020-11-12 18:21] olenagerasimova commented on #750
@olegmoz I'm planning to
- start python blog post https://github.com/artipie/blog.artipie.com/issues/12
- transfer API into new repo https://github.com/artipie/management-api/issues/1

[2020-11-13 06:32] genryxy commented on #750
@olegmoz I'm planning to add tests to verify the content of `index.yaml` artipie/helm-adapter#77

[2020-11-16 06:38] #607 closed

[2020-11-16 09:20] #742 closed

[2020-11-16 09:50] olegmoz opened #755 "Upgrade Docker adapter"
With prefix removed in Docker adapter storage (https://github.com/artipie/docker-adapter/issues/346) upgrade should be done careful with backward compatibility in mind

[2020-11-16 14:48] #730 closed

[2020-11-17 08:37] olenagerasimova commented on #750
@olegmoz I do not think I will transfer API and dashboard this week, can we change the plan a bit and take artipie/management-api#2 instead of artipie/management-api#1?

[2020-11-17 10:25] olegmoz commented on #750
@olenagerasimova thanks for raising this concern in advance. I do not think we need to update the plan, it's not end of the world if some objectives are not reached by the end of the week. Let's just do the planning better next time

[2020-11-17 10:26] #755 closed

[2020-11-18 15:12] #597 closed

[2020-11-18 18:32] olenagerasimova opened #761 "Add management-api dependency"
When `management-api` will be released and added to `artipie/artipie`, do not forget to remove all moved classes, `REST_API.md` and correct reference to to API docs in the pain `readme.md`.

[2020-11-19 11:02] #679 closed

[2020-11-20 08:48] olegmoz opened #766 "Week#48"
This is the plan for #48 week of 2020:

- [x] Configurable Docker storage layout: https://github.com/artipie/docker-adapter/issues/349
- [x] Subdirectories in RPM repository: https://github.com/artipie/rpm-adapter/issues/376
- [x] Minimal support for Bearer authentication: https://github.com/artipie/http/issues/261
- [x] Support authentication in Gem repositories: https://github.com/artipie/artipi

[2020-11-20 08:48] olegmoz commented on #766
@olenagerasimova @genryxy please submit your plans for next week in comments

[2020-11-20 12:33] olegmoz opened #768 "Support authentication in Gem repositories"
Gem adapter supports authentication, but it is not supported in Artipie. It is required to add authentication support for Gem adapters and enable existing integration tests

[2020-11-20 13:36] olenagerasimova commented on #766
@olegmoz for the next week I'd suggest to replace
- Transfer management API and dashboard to separate repository: artipie/management-api#1

with

- API endpoints from new `managent-api` repository in Artipie https://github.com/artipie/artipie/issues/761

As for other plans, I want to finish python article and fix/release RPM

[2020-11-20 13:42] olegmoz commented on #766
@olenagerasimova thanks, updated

[2020-11-20 16:20] frittentheke opened #769 "Support for debian repositories (deb)"
Since rpm repos are already implemented, it would be nice to also add support for deb / debian style repositories.

[2020-11-23 07:06] #606 closed

[2020-11-23 07:14] #389 closed

[2020-11-23 07:20] #750 closed

[2020-11-23 09:52] olegmoz commented on #769
@frittentheke thanks for the request, we are planning to start implementing Debian repository support soon

[2020-11-25 08:42] olenagerasimova commented on #769
Several useful links
https://www.debian.org/doc/manuals/repository-howto/repository-howto#setting-up
https://wiki.debian.org/DebianRepository/Format#Debian_Repository_Format

[2020-11-26 10:48] olegmoz opened #773 "Week#49"
This is the plan for #49 week of 2020:

- [x] Docker Bearer authentication: https://github.com/artipie/docker-adapter/issues/353
- [x] Extract class for layout in Artipie: https://github.com/artipie/artipie/issues/586
- [x] November release notes: https://github.com/artipie/blog.artipie.com/issues/14
- [x] Add test to verify authentication in Helm artipie/helm-adapter#57
- [x] Support Basic authen

[2020-11-26 10:49] olegmoz commented on #773
@olenagerasimova @genryxy please submit your plans for next week in comments

[2020-11-26 11:33] olenagerasimova commented on #773
@olegmoz I'm having vacation next week, should I submit some plans for the week 50?

[2020-11-26 11:36] olegmoz commented on #773
@olenagerasimova yes, please. It would be great to have the plans for week 50

[2020-11-26 15:37] PeterGrace opened #774 "Support cargo/crates.io pull through caching"
There are a couple other software projects that aim to help you locally mirror crates.io, but I would prefer to use one software solution to handle all of my needs of this type -- it would be nice if artipie supported pull-through package caching of objects from crates.io for Rust builds.

Thanks!

[2020-11-26 15:40] olenagerasimova opened #775 "Initial IT for Artipie API"
Let's create minimal test for Artipie API: configure and start Artipie, then send http GET requests to `ArtipieApi` and dashboard and make sure `200 OK` is returned.

[2020-11-27 08:09] #761 closed

[2020-11-27 09:12] olenagerasimova commented on #773
@olegmoz here is the list for the week 50:
- Transfer `GetStorageSlice` https://github.com/artipie/management-api/issues/15
- Transfer dashboard https://github.com/artipie/management-api/issues/16
- Finish this one https://github.com/artipie/management-api/issues/14 (test for cookies auth is missing)
- Add IT for API https://github.com/artipie/artipie/issues/775

We also have some issues with auth

[2020-11-27 09:40] #768 closed

[2020-11-27 09:49] genryxy commented on #773
@olegmoz for the next week
- Add test to verify authentication in Helm artipie/helm-adapter#57
- Support Basic authentication in Gem artipie/gem-adapter#81

[2020-11-27 14:27] olegmoz commented on #768
@rultor release, tag=`0.13`

[2020-11-27 14:28] rultor commented on #768
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23771-734860321)

[2020-11-27 14:31] rultor commented on #768
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23771-734860321) (took me 2min)

[2020-11-27 14:34] genryxy opened #778 "Increase test coverage for classes that parse yaml files"
It would be good to increase test coverage for classes that parse yaml files

- [x] `RepoConfig` (#779 )
- [x]  `StorageAliases.FromYaml` and `RepositioriesFromStorage` (#783 #792)
- [x] `YamlProxyConfig` (#794)

[2020-11-30 21:50] portlek opened #781 "Is the layout called `org` working?"
Because I couldn't succeed in starting it.
The error:
![image](https://user-images.githubusercontent.com/12835420/100669298-3bf0fb80-336e-11eb-8b30-8030c3add73b.png)
I fixed it by changing;
[code]
to
[code]
-------
[code]
to
[code]
-------
[code]
to
[code]

After these changes, I started the artipie again, It's working now then, I went to `http://localhost:8080/dashboard/artipie` and I got these e

[2020-12-01 12:22] vassilevsky opened #784 "Feature Request: Support Hex repositories (Erlang / Elixir packages)"
The only two ways to host private Erlang / Elixir packages right now are:

1. In a private organization at https://hex.pm (for money)
2. In a self-hosted installation of https://github.com/wojtekmach/mini_repo

Both are not ideal:

1. If you host on Hex.pm you risk losing access to the packages (third-party infrastructure)
2. If you have private packages for Java, Ruby, Go, and Elixir, then you ha

[2020-12-02 13:12] olegmoz commented on #784
@vassilevsky thanks for bringing this up, we didn't consider supporting Hex repositories. We definitely should add support for Hex given there is no support for it in Nexus and Antifactory.

[2020-12-03 07:27] #586 closed

[2020-12-03 07:27] #589 closed

[2020-12-03 07:27] 0pdd commented on #589
The puzzle `569-26fa1589` has disappeared from the source code, that's why I closed this issue.

[2020-12-03 07:27] #734 closed

[2020-12-03 07:27] 0pdd commented on #734
The puzzle `231-f3499255` has disappeared from the source code, that's why I closed this issue.

[2020-12-03 07:28] 0pdd opened #786 "RepositoriesFromStorage.java:36-38: Add unit tests for..."
The puzzle `597-732d602b` from #597 has to be resolved:

https://github.com/artipie/artipie/blob/2b62fd5e99b44ff4035c5795ad86e4eb2857bc89/src/main/java/com/artipie/RepositoriesFromStorage.java#L36-L38

The puzzle was created by @olegmoz on 03-Dec-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-12-03 07:28] 0pdd opened #787 "[pdd] HTTP client should not be a singleton"
The puzzle `213-1cbc8779` from #213 has to be resolved:

https://github.com/artipie/artipie/blob/2b62fd5e99b44ff4035c5795ad86e4eb2857bc89/src/main/java/com/artipie/SliceFromConfig.java#L79-L83

The puzzle was created by @olegmoz on 03-Dec-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2020-12-03 07:28] 0pdd opened #788 "Layout.java:73-75: Add unit tests for Layout.Flat..."
The puzzle `586-ef3e091d` from #586 has to be resolved:

https://github.com/artipie/artipie/blob/2b62fd5e99b44ff4035c5795ad86e4eb2857bc89/src/main/java/com/artipie/Layout.java#L73-L75

The puzzle was created by @olegmoz on 03-Dec-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed

[2020-12-03 07:28] 0pdd opened #789 "Layout.java:106-108: Add unit tests for Layout.Org..."
The puzzle `586-0be4ea0e` from #586 has to be resolved:

https://github.com/artipie/artipie/blob/2b62fd5e99b44ff4035c5795ad86e4eb2857bc89/src/main/java/com/artipie/Layout.java#L106-L108

The puzzle was created by @olegmoz on 03-Dec-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fix

[2020-12-03 07:29] 0pdd opened #790 "UsersFromStorageYaml.java:161-163: When `ContentAs` is..."
The puzzle `730-ef465e62` from #730 has to be resolved:

https://github.com/artipie/artipie/blob/2b62fd5e99b44ff4035c5795ad86e4eb2857bc89/src/main/java/com/artipie/UsersFromStorageYaml.java#L161-L163

The puzzle was created by Oleg Mozzhechkov on 03-Dec-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" w

[2020-12-03 07:29] 0pdd opened #791 "HelmITCase.java:62-65: Verify install using kubectl in..."
The puzzle `607-5e919bc7` from #607 has to be resolved:

https://github.com/artipie/artipie/blob/2b62fd5e99b44ff4035c5795ad86e4eb2857bc89/src/test/java/com/artipie/helm/HelmITCase.java#L62-L65

The puzzle was created by Oleg Mozzhechkov on 03-Dec-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-12-03 07:29] 0pdd commented on #231
@g4s8 2 puzzles [#273](https://github.com/artipie/artipie/issues/273), [#291](https://github.com/artipie/artipie/issues/291) are still not solved; solved: [#267](https://github.com/artipie/artipie/issues/267), [#272](https://github.com/artipie/artipie/issues/272), [#290](https://github.com/artipie/artipie/issues/290), [#292](https://github.com/artipie/artipie/issues/292), [#734](https://github.com

[2020-12-03 07:29] 0pdd commented on #569
@olegmoz the only puzzle [#589](https://github.com/artipie/artipie/issues/589) is solved here.

[2020-12-03 07:29] 0pdd commented on #545
@olegmoz the puzzle [#786](https://github.com/artipie/artipie/issues/786) is still not solved; solved: [#597](https://github.com/artipie/artipie/issues/597).

[2020-12-03 07:29] 0pdd commented on #597
@0pdd the puzzle [#786](https://github.com/artipie/artipie/issues/786) is still not solved.

[2020-12-03 07:29] 0pdd commented on #602
@olegmoz all 2 puzzles are solved here: [#677](https://github.com/artipie/artipie/issues/677), [#679](https://github.com/artipie/artipie/issues/679).

[2020-12-03 07:29] 0pdd commented on #213
@g4s8 the puzzle [#787](https://github.com/artipie/artipie/issues/787) is still not solved.

[2020-12-03 07:29] 0pdd commented on #586
@olegmoz 2 puzzles [#788](https://github.com/artipie/artipie/issues/788), [#789](https://github.com/artipie/artipie/issues/789) are still not solved.

[2020-12-03 07:29] 0pdd commented on #730
@olenagerasimova the puzzle [#790](https://github.com/artipie/artipie/issues/790) is still not solved.

[2020-12-03 07:29] 0pdd commented on #607
@olegmoz the puzzle [#791](https://github.com/artipie/artipie/issues/791) is still not solved.

[2020-12-04 08:02] olegmoz opened #793 "Week#50"
This is the plan for #50 week of 2020:

- [x] Docker local catalogs listing: https://github.com/artipie/docker-adapter/issues/374
- [x] Docker local tags listing: https://github.com/artipie/docker-adapter/issues/373
- [ ] NPM proxy misplaced libraries: https://github.com/artipie/artipie/issues/738
- [x] Remove deprecated auth classes usage in Gem https://github.com/artipie/gem-adapter/issues/83
-

[2020-12-04 09:19] genryxy commented on #793
@olegmoz I am planning to work on this task next week https://github.com/artipie/gem-adapter/pull/82/files#diff-07305154310f5773909917626cfa11054bd244ce1078ac0c72d11c65b51f86b4L34
So, one of my assignments for next week:
Remove deprecated auth classes in Gem (the issue has not been created automatically yet)

[2020-12-04 09:28] #786 closed

[2020-12-04 09:28] 0pdd commented on #545
@olegmoz all 2 puzzles are solved here: [#597](https://github.com/artipie/artipie/issues/597), [#786](https://github.com/artipie/artipie/issues/786).

[2020-12-04 09:28] 0pdd commented on #597
@0pdd the only puzzle [#786](https://github.com/artipie/artipie/issues/786) is solved here.

[2020-12-04 09:47] olegmoz commented on #793
@genryxy thanks, since there is no issue created it's problematic to add it to the plan

[2020-12-04 09:47] #766 closed

[2020-12-04 09:47] #773 closed

[2020-12-04 09:53] genryxy commented on #793
@olegmoz I created a new issue for this task artipie/gem-adapter#83

[2020-12-08 08:31] genryxy opened #797 "Support .yaml and .yml extensions for config files"
Now there are can be some problems with parsing yaml files because in various classes there is logic based on the configuration files' extensions. So, it is necessary to find all these places and make support for files with two extensions (`yaml` and `yml`).

[2020-12-10 06:28] olenagerasimova opened #798 "Update management-api and remove dashboard slices from this repo"
Dashboard was moved to `management-api`, let's update version and remove dashboard slices and pages.

Also there are two bugs to fix:
- on start we should not try to read files with `_` prefix and repo configs (`com/artipie/VertxMain.java:197`), these files are credentials, permissions and default storage configuration
- `ArtipieApi` and `DashboardSlice` should read `permissions` sections from `_p

[2020-12-10 18:18] #798 closed

[2020-12-11 10:01] olegmoz opened #800 "Week#51"
This is the plan for #51 week of 2020:

- [x] Docker: mount blob endpoint: https://github.com/artipie/docker-adapter/issues/390
- [x] Docker: mount blob in local repository: https://github.com/artipie/docker-adapter/issues/394
- [x] Support .yml and .yaml extensions for configs: https://github.com/artipie/artipie/issues/797
- [x] NPM proxy misplaced libraries: https://github.com/artipie/artipie/is

[2020-12-11 10:02] olegmoz commented on #800
@olenagerasimova @genryxy please submit you plans for next week

[2020-12-11 11:58] genryxy commented on #800
@olegmoz I am planning to deal with this task next week
Support both extensions .yaml and .yml for config files #797

[2020-12-11 15:51] #775 closed

[2020-12-11 15:51] 0pdd opened #803 "ArtipieServer.java:168-171: Specify layout when..."
The puzzle `775-5d678143` from #775 has to be resolved:

https://github.com/artipie/artipie/blob/4c10f6748b5efd6f80e072d9fa3fcdc220869b61/src/test/java/com/artipie/ArtipieServer.java#L168-L171

The puzzle was created by olenagerasimova on 11-Dec-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the